<template>
	<div>
		<br />
		<o-form entity="sms" mode="send" :allow-submit="false" :model="$store.getters.singleSms()"></o-form>
		<router-view></router-view>
	</div>
</template>


<script>
	export default {
		mounted() {
		}
	}
</script>
