<template>
	<div>
		<o-list entity="template" item-container-class="is-full-mobile is-full-tablet is-half-desktop is-half-widescreen is-one-third-fullhd"></o-list>
		<router-view></router-view>
	</div>
</template>

<script>
	export default {
	}
</script>
