<template>
	<div class="list-filters">
		<div class="level style-filters">
			<div class="level-left">
				<div class="level-item amount">{{countLabel}}</div>
				<div class="level-item create-new" v-if="allowCreate">
					<router-link class="button is-link" :to="entityCreateRoute">
						<span class="icon">
							<span class="icon-plus"></span>
						</span>
						<span>Create New</span>
					</router-link>
				</div>
			</div>
			<div class="level-right" v-if="allowSortOrder">
				<div class="level-item input-filter" v-if="allowSearch">
					<form-field :model="model" property="search" type="text" icon="magnifier" size="small" :placeholder="searchByPlaceholder" :on-change="updateSearchBy"></form-field>
				</div>
				<div class="level-item">
					Sort By:
				</div>
				<div class="level-item filter">
					<o-dropdown :label="sortByLabel" :right="true">
						<div slot="content">
							<o-dropdown-item :model="property" v-for="property in sortableProperties" :key="property.value" @click="updateSortBy">{{property.label}}</o-dropdown-item>
						</div>
					</o-dropdown>
				</div>
				<div class="level-item">
					Order By:
				</div>
				<div class="level-item filter">
					<o-dropdown :label="sortOrderLabel" :right="true">
						<div slot="content">
							<o-dropdown-item :model="property" v-for="property in sortingOrders" :key="property.value" @click="updateSortOrder">{{property.label}}</o-dropdown-item>
						</div>
					</o-dropdown>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import _ from 'lodash';

	export default {
		name: 'ListFilters',
		
		props: {
			count: {},
			entity: {
				type: String,
				required: true
			},
			sortBy: {},
			sortOrder: {},
			allowCreate: {
				type: Boolean,
				default: true
			},
			allowSearch: {
				type: Boolean,
				default: true
			},
			allowSortOrder: {
				type: Boolean,
				default: true
			}
		},

		computed: {
			countLabel() {
				const count = this.count ? this.count : 0;
				const entityLabel = this.entity === 'report-message' ? 'Record' : this.entity;

				let result = count + ' ' + entityLabel;
				if(count !== 1) {
					result += 's';
				}
				return result;
			},

			entityLabel() {
				return _.upperFirst(this.entity);
			},

			searchByPlaceholder() {
				return 'Search ' + _.words(this.entity) + 's...';
			},
			
			entityCreateRoute() {
				const routeNameParts = this.$route.name.split(/\./);
				if(['new', 'edit', 'import', 'download', 'detail'].indexOf(routeNameParts[routeNameParts.length - 1]) !== -1) {
					routeNameParts.pop();
				}
				return { name: routeNameParts.join('.') + '.new' };
			},

			propertiesList() {
				return {
					list: [
						{ value: 'name', label: 'Name' },
						{ value: 'contacts_count', label: 'Number Of Contacts' }
					],
					contact: [
						{ value: 'name', label: 'Name' },
						{ value: 'surname', label: 'Surname' },
						{ value: 'email', label: 'E-mail' },
						{ value: 'phone', label: 'Phone' }
					],
					template: [
						{ value: 'name', label: 'Name' },
						{ value: 'messages_length', label: 'Number Of Characters' }
					],
					report: [
						{ value: 'created_at', label: 'Created On' },
						{ value: 'list_id', label: 'List' },
						// { value: 'messages_total', label: 'Total Messages' },
						{ value: 'delivered', label: 'Delivered Messages' },
						{ value: 'failed', label: 'Failed Messages' },
						{ value: 'message', label: 'Sent Message' }
					],
					'report-message': [
						{ value: 'date', label: 'Date' },
						{ value: 'status', label: 'Status' }
					]
				};
			},

			sortableProperties() {
				return this.propertiesList[this.entity] || [];
			},

			sortingOrders() {
				return [
					{ value: 'asc', label: 'Ascending' },
					{ value: 'desc', label: 'Descending' }
				];
			},

			sortByLabel() {
				const property = this.sortableProperties.find((p) => p.value === this.sortBy);
				return _.upperFirst(property ? property.label : 'none');
			},

			sortOrderLabel() {
				const property = this.sortingOrders.find((p) => p.value == this.sortOrder);
				return _.upperFirst(property ? property.label : 'none');
			}
		},

		methods: {
			_updateSearchBy(value) {
				this.$emit('searchByChanged', value);
			},

			updateSearchBy: _.debounce(function(value) {
				this._updateSearchBy(value);
			}, 400),

			updateSortBy(property) {
				this.$emit('sortByChanged', property.value);
			},
			updateSortOrder(property) {
				this.$emit('sortOrderChanged', property.value);
			}
		},

		data() {
			return { model: { search: null } };
		},

		mounted() {
		}
	}
</script>
