<template>
	<div class="o-list" v-bind:class="listStyleClass">
		<list-filters v-if="filterable"
			:count="pagination.total"
			:entity="entity"
			:filter-by="filterBy"
			:sort-by="sortBy"
			:sort-order="sortOrder"
		
			@searchByChanged="searchByChanged"
			@sortByChanged="sortByChanged"
			@sortOrderChanged="sortOrderChanged"
		
			:allow-create="allowCreateProp"
			:allow-search="allowSearchProp"
			:allow-sort-order="allowSortAndOrder"
		></list-filters>
		<template v-if="content">
			<o-table :data="content" :class="{ ['style-' + this.entity]: true }" :on-select-change="onSelectChange" :no-entries="noEntries" rowKey="id" v-if="asTable">
				<!-- <component :is="tableColumnsComponentName" :model="entity"></component> -->
				<template v-if="tableColumnsComponentName === 'o-table-columns-contact'">
					<o-table-column label="Name" field="firstname"></o-table-column>
					<o-table-column label="Surname" field="lastname"></o-table-column>
					<o-table-column label="Email" field="email"></o-table-column>
					<o-table-column label="Phone" field="phone"></o-table-column>
					<o-table-column label="List" field="lists">
						<template slot-scope="row">
							<div class="field is-grouped is-grouped-multiline is-inline-flex">
								<!--<div class="control" v-for="l in row.lists" :key="l.id">-->
									<!--<div class="tags has-addons">-->
										<!--<span class="tag">{{l.name}}</span>-->
									<!--</div>-->
								<!--</div>-->
								<div class="control" >
									<div class="tags has-addons">
										<span class="tag">{{row.list_name}}</span>
									</div>
								</div>
								<div class="control">
									<!--<form-field-->
										<!--:model="row"-->
										<!--property="lists"-->
										<!--:options="$store.getters.allLists"-->
										<!--option-track-by="id"-->
										<!--option-label="name"-->
										<!--:multiple="true"-->
										<!--:searchable="false"-->
										<!--:on-change="(newLists) => updateItem(row.id, { listsCurrent: row.lists, lists: newLists }, 'lists')"-->
										<!--type="multiselect"-->
										<!--placeholder="+ Add to list"-->
										<!--action-on-open="getAllLists"-->
										<!--class="style-minimal"-->
									<!--&gt;</form-field>-->
								</div>
							</div>
						</template>
					</o-table-column>
					<o-table-column label="Actions" header-class="is-actions" cell-class="is-actions">
						<template slot-scope="row">
							<tooltip content="Edit" placement="top">
								<router-link :to="{ name: 'app.manage.contacts.edit', params: {
								id: row.id + '_list_id_' + row.list_id // temporary going to change once akondo got back
								}}">
									<span class="icon">
										<span class="icon-pencil"></span>
									</span>
								</router-link>
							</tooltip>
							<tooltip content="Delete" placement="top">
								<pop-confirm content="Are you sure want to delete this?" :on-ok="() => deleteItem(row.id + '_list_id_' + row.list_id)">
									<span class="icon">
										<span class="icon-trash"></span>
									</span>
								</pop-confirm>
							</tooltip>
						</template>
					</o-table-column>
				</template>
				<template v-if="tableColumnsComponentName === 'o-table-columns-list-contacts'">
					<o-table-column label="First name" field="firstname"></o-table-column>
					<o-table-column label="Last name" field="lastname"></o-table-column>
					<o-table-column label="Email" field="email"></o-table-column>
					<o-table-column label="Phone" field="phone"></o-table-column>
					<o-table-column label="Actions" header-class="is-actions" cell-class="is-actions">
						<template slot-scope="row">
							<tooltip content="Remove from list" placement="top">
								<pop-confirm content="Are you sure want to remove this contact?" :on-ok="() => updateItem(row._id.$oid, { listsCurrent: row.lists, lists: row.lists.filter((cl) => cl.id !== filterBy.list) }, 'lists')">
									<a href="#" @click.prevent="">
										<span class="icon">
											<span class="icon-trash"></span>
										</span>
									</a>
								</pop-confirm>
							</tooltip>
						</template>
					</o-table-column>
				</template>
				<template v-if="tableColumnsComponentName === 'o-table-columns-report'">
					<o-table-column label="Status">
						<template slot-scope="row">
							<span class="has-text-success" v-if="row.status === 'done'">{{row.status}}</span>
							<span class="has-text-danger" v-if="['error', 'failed'].indexOf(row.status) !== -1">
								{{row.status}}
								<a href="/contact-us" class="has-text-danger">
									<span class="icon is-small">
										<span class="icon-envelope"></span>
									</span>
								</a>
							</span>
							<span class="has-text-info" v-if="['error', 'done', 'failed'].indexOf(row.status) === -1">{{row.status}}</span>
						</template>
					</o-table-column>
					<o-table-column label="Created On" field="created_at"></o-table-column>
					<o-table-column label="List" field="list">
						<template slot-scope="row">
							<template v-if="row.list && row.list.name">{{row.list.name}}</template>
						</template>
					</o-table-column>
					<o-table-column label="Total Cost" field="total_cost"></o-table-column>
					<o-table-column label="Messages" field="messages_total">
						<template slot-scope="row">
							{{row.delivered+row.failed}}
						</template>
					</o-table-column>
					<o-table-column label="Delivered" field="delivered">
						<template slot-scope="row">
							<template v-if="row.delivered">{{row.delivered}}</template>
							<template v-else>0</template>
						</template>
					</o-table-column>
					<o-table-column label="Failed" field="failed">
						<template slot-scope="row">
							<template v-if="row.failed">{{row.failed}}</template>
							<template v-else>0</template>
						</template>
					</o-table-column>
					<o-table-column label="Sent Message" field="message">
						<template slot-scope="row">
							<o-text-truncate :text="row.message">{{row.message}}</o-text-truncate>
						</template>
					</o-table-column>
					<o-table-column label="Options" header-class="is-actions" cell-class="is-actions">
						<template slot-scope="row">
							<router-link :to="{ name: 'app.reports.detail', params: { id: row.id } }">
								<span>View</span>
							</router-link>
							<span>&nbsp;or&nbsp;</span>
							<router-link :to="{ name: 'app.reports.download', params: { id: row.id } }">
								<span>Download</span>
							</router-link>
						</template>
					</o-table-column>
				</template>
				<template v-if="tableColumnsComponentName === 'o-table-columns-report-message'">
					<o-table-column label="Date" field="date"></o-table-column>
					<o-table-column label="Name" field="name"></o-table-column>
					<o-table-column label="Phone" field="phone_number"></o-table-column>
					<o-table-column label="Status" field="status"></o-table-column>
					<!-- <o-table-column label="Options" header-class="is-actions" cell-class="is-actions">
						<template slot-scope="row">
							<router-link :to="{ name: 'app.reports' }">
								<span>Resend Message</span>
							</router-link>
						</template>
					</o-table-column> -->
				</template>
				<template v-if="tableColumnsComponentName === 'o-table-columns-session'">
					<o-table-column label="Browser" field="browser">
						<template slot-scope="row">
							<span class="icon is-small" v-if="row.browser_icon">
								<span class="fa" :class="{ ['fa-' + row.browser_icon]: true }"></span>
							</span>
							{{row.browser}}
						</template>
					</o-table-column>
					<o-table-column label="Created On" field="created_on" header-class="is-medium"></o-table-column>
				</template>
				<template v-if="tableColumnsComponentName === 'o-table-columns-payment'">
					<o-table-column label="Invoice #" field="invoice_number"></o-table-column>
					<o-table-column label="Created On" field="date"></o-table-column>
					<o-table-column label="Payment Method" field="payment_method"></o-table-column>
					<o-table-column label="Amount" field="amount">
						<template slot-scope="row">
							<o-number-beautifier :value="row.amount" format="money" v-if="row.amount" />
						</template>
					</o-table-column>
					<o-table-column label="VAT" field="vat">
						<template slot-scope="row">
							<o-number-beautifier :value="parseFloat(row.vat)" format="money" v-if="row.vat" />
						</template>
					</o-table-column>
					<o-table-column label="Options" header-class="is-actions" cell-class="is-actions">
						<template slot-scope="row">
							<router-link :to="{ name: 'app.payment.detail', params: { id: row.id } }">
								<span class="button is-primary is-small"><i class="icon-eye"></i></span>
							</router-link>
							<span>&nbsp;&nbsp;</span>
							<a :href="'/payment/'+row.id+'/pdf/download'">
								<span class="button is-warning is-small"><i class="icon-cloud-download"></i></span>
							</a>
						</template>
					</o-table-column>
				</template>
			</o-table>
			<div class="list-wrapper columns is-multiline" v-if="!asTable">
				<div class="column" v-bind:class="itemContainerClass" v-for="entity in content" :key="entity.id">
					<component :is="itemComponentName" :model="entity"></component>
				</div>
			</div>
		</template>
		<o-pagination v-if="showPagination" :total="pagination.total" :current="pagination.current_page" :page-size="pagination.per_page" :change="changePageTo"></o-pagination>
		<div class="loading" v-bind:class="{ 'has-content': content && content.length }" v-if="isLoading">
			<div class="loader"></div>
		</div>
	</div>
</template>
<script>
	import _ from 'lodash';

	import ListFilters from './filters.vue';
	import OPagination from '../pagination.vue';

	import OListItemList from '../entity/list/list-item.vue';
	import OListItemTemplate from '../entity/template/list-item.vue';
	import OListItemNotificationSetting from '../entity/notification-setting/list-item.vue';

	export default {
		name: 'OList',

		components: {
			ListFilters,
			OPagination,
			OListItemList,
			OListItemTemplate,
			OListItemNotificationSetting
		},

		props: {
			entity: {
				type: String,
				required: true
			},
			type: {
				type: String,
				default: 'all'
			},
			itemContainerClass: {
				type: String,
				default: 'is-one-quarter'
			},
			filterable: {
				type: Boolean,
				default: true
			},
			asTable: {
				type: Boolean,
				default: false
			},
			pathSegments: {
				type: Object,
				default() {
					return null;
				}
			},
			filterBy: {
				type: Object,
				default() {
					return { };
				}
			},
			// shouldReload: {
			// 	type: Boolean,
			// 	default: false
			// },
			allowSearch: {
				type: Boolean,
				default: false
			},
			allowCreate: {
				type: Boolean,
				default: true
			},
			tableColumnsComponent: {
				type: String,
				default: null
			},
			showNothingOnFirstLoad: {
				type: Boolean,
				default: false
			}
		},

		computed: {
			listStyleClass() {
				const result = {};
				result['style-' + this.entity] = true;
				result['no-entries'] = this.noEntries;
				return result;
			},
			entityName() {
				return _.upperFirst(_.camelCase(this.entity));
			},
			listGetterName() {
				return this.type + this.entityName + 's';
			},
			content() {
				return this.showNothingOnFirstLoad && this.reallyFirstLoad ? [] : this.$store.getters[this.listGetterName] || [];
			},
			pagination() {
				return this.$store.getters[this.listGetterName + 'Pagination'] || { current: 1, total_pages: 1 };
			},
			noEntries() {
				return (!this.content || this.content.length === 0) && !this.reallyFirstLoad;
			},
			showPagination() {
				return this.content && this.content.length && this.pagination && this.pagination.total_pages > 1;
			},

			allowCreateProp() {
				const forceHide = ['report', 'report-message'].indexOf(this.entity) !== -1;
				return !this.allowCreate || forceHide ? false : true;
			},
			allowSearchProp() {
				return this.allowSearch || this.searchableEntities.indexOf(this.entity) !== -1 ? true : false;
			},
			allowSortAndOrder() {
				return !this.noEntries || this.allowSearchProp;
			},

			entityLabel() {
				return _.upperFirst(this.entity);
			},

			itemComponentName() {
				return 'o-list-item-' + this.entity;
			},
			tableColumnsComponentName() {
				return this.tableColumnsComponent ? this.tableColumnsComponent : 'o-table-columns-' + this.entity;
			},
			reallyFirstLoad() {
				return this.isFirstRender || this.$store.getters[this.listGetterName + 'IsFirstLoad'];
			},
			isLoading() {
				return this.$store.getters[this.listGetterName + 'Status'] === 'loading';
			},

			shouldReload() {
				const baseSingleGetter = 'single' + this.entityName;
				if(!this.$store.getters[baseSingleGetter]) {
					return;
				}
				const data = this.$store.getters[baseSingleGetter]();
				const inProgress = this.$store.getters[baseSingleGetter + 'InProgress']();

				return !inProgress && data;
			},

			searchableEntities() {
				return ['contact', 'template'];
			}
		},

		data() {
			const isReport = ['report'].indexOf(this.entity) !== -1;
			const isPayment = this.entity === 'payment';
			const isReportMessage = ['report-message'].indexOf(this.entity) !== -1;
			let sortBy = 'name';

			if(isReport) {
				sortBy = 'created_at';
			}
			if(isReportMessage || isPayment) {
				sortBy = 'date';
			}

			return {
				searchBy: null,
				sortBy: sortBy,
				sortOrder: isReport || isPayment || isReportMessage ? 'desc' : 'asc',
				selectedItems: [],
				isFirstRender: true
			};
		},

		methods: {
			searchByChanged(searchBy) {
				if(this.searchableEntities.indexOf(this.entity) === -1) {
					return;
				}

				this.searchBy = searchBy;
				this.loadPage(1);
			},
			sortByChanged(sortBy) {
				this.sortBy = sortBy;
				this.loadPage(1);
			},
			sortOrderChanged(sortOrder) {
				this.sortOrder = sortOrder;
				this.loadPage(1);
			},
			changePageTo(page) {
				this.loadPage(page);
			},
			loadData(data) {
				const payload = { pathSegments: this.pathSegments, params: data, filterBy: this.filterBy };
				this.$store.dispatch('get' + _.upperFirst(this.listGetterName), payload);
			},
			loadPage(page) {
				if((page < 0 || page > this.pagination.total_pages) && this.content.length) {
					return;
				}
				this.isFirstRender = false;


				const payload = { page: page, sort: this.sortOrder === 'desc' ? '-' + this.sortBy : this.sortBy };

				const searchBy = this.searchBy;
				if(searchBy) {
					if([].indexOf('')) {
						payload.search = searchBy;
					}
				}

				this.loadData(payload);
			},
			onSelectChange(selectedIds, selectedItems) {
				this.selectedItems = selectedItems;
			},
			isItemInProgress(id) {
				return this.$store.getters['single' + this.entityName + 'InProgress'](id);
			},
			deleteItem(id) { // because damn contacts are in a table .. and that table is a bitch! (no list items for tables)
				if(this.isItemInProgress(id)) {
					return;
				}
				this.$store.dispatch('delete' + this.entityName, id).then(() => {
					this.$notify.success({ title: 'Success!', content: _.upperFirst(this.entity) + ' deleted!' });
				});
			},
			updateItem(id, data, type = 'lists') {
				if(this.isItemInProgress(id)) {
					return;
				}
				this.$store.dispatch('update' + this.entityName + _.upperFirst(type), { id, ...data }).then(() => {
					this.$notify.success({ title: 'Success!', content: _.upperFirst(this.entity) + ' updated!' });
				});
			}
		},

		watch: {
			filterBy(to, from) {
				this.loadPage(1);
			},
			shouldReload(to, from) {
				if(to) {
					this.loadPage(this.pagination.current_page);
				}
			}
		},

		mounted() {
			this.loadPage(1);
		}
	}
</script>
