<template>
	<div>
		<div class="field">
			<label class="label">Photo</label>
			<div class="control">
				<o-image-input
					name="photo"
					:value="image"
					@input="imageInputChanged"
					:is-loading="savingImage"
				></o-image-input>
			</div>
		</div>
		<div class="columns">
			<div class="column is-half">
				<o-form entity="user" mode="basic" :model="accountBasicInfoModel"></o-form>
			</div>
			<div class="column is-half">
				<!-- <div>
					<h5 class="title is-5">Connected Accounts</h5>
					<o-list entity="connected-account" :filterable="false" :item-container-class="null"></o-list>
					<a href="#" class="button is-link">+ Connect Account</a>
				</div>
				<div>
					<h5 class="title is-5">Preferences</h5>
					<o-list entity="account-preference" :filterable="false" :item-container-class="null"></o-list>
				</div> -->
			</div>
		</div>
	</div>
</template>


<script>
	export default {
		computed: {
			accountBasicInfoModel() {
				return { ...this.$store.getters.singleAuthenticatedUser() };
			}
		},

		data() {
			return { image: this.$store.getters.singleAuthenticatedUser().avatar, savingImage: false };
		},

		methods: {
			imageInputChanged(image) {
				if(this.submittingImage) {
					return;
				}
				this.submittingImage = true;
				this.$store.dispatch('updateUserAvatar', { id: this.$store.getters.singleAuthenticatedUser().id, image: image }).then((response) => {
					this.submittingImage = false;
					this.image = image;
					this.$notify.success({ title: 'Success!', content: 'Avatar updated!' });
				}).catch((error) => { // well .. if it fails .....
					this.submittingImage = false;

					let message = error.message;

					if(error.response && error.response.data && error.response.data.errors && error.response.data.errors.image && error.response.data.errors.image[0]) {
						message = error.response.data.errors.image[0];
					}
					this.$notify.danger({ title: 'Oops!', content: message });
				});
			}
		}
	}
</script>
