<template>
	<div>
		<div class="columns">
			<div class="column is-half">
				<h5 class="title is-5">Email Notifications</h5>
				<o-list entity="notification-setting" :filterable="false" :item-container-class="null"></o-list>
			</div>
		</div>
	</div>
</template>


<script>
	export default {
	}
</script>
