<template>
	<div>
		<div class="columns">
			<div class="column is-one-third">
				<o-form entity="user" mode="password" :model="{}"></o-form>
			</div>
		</div>
	</div>
</template>


<script>
	export default {
	}
</script>
