<template>
	<div>
		<h5 class="title is-5">Sessions</h5>
		<p class="subtitle is-6">
			These are the clients currently logged in.
			
		</p>
		<o-list entity="session" :filterable="false" :as-table="true"></o-list>
		<router-view></router-view>
	</div>
</template>


<script>
	export default {
		methods: {
			data() {
				return { isDeleting: null };
			},
			deleteAll() {
				if(this.isDeleting) {
					return;
				}
				this.isDeleting = true;
				this.$store.dispatch('deleteAllSessions').then(() => {
					this.isDeleting = false;
					this.$notify.success({ title: 'Success!', content: 'Sessions cleared!' });

					// maybe call POST /logout here ... 
					location.reload();
				}).catch((error) => {
					this.isDeleting = false;
				});
			}
		}
	}
</script>
