<template>
	<div class="card style-list">
		<div class="card-content">
			<p class="title">{{model.name}}</span>
			<p class="subtitle">
				<span class="level is-mobile" v-if="model.is_importing">
					<span class="level-left">
						<span class="level-item has-text-danger">
							<span class="icon">
								<span class="loader"></span>
							</span>
							<span>Importing...</span>
						</span>
					</span>
				</span>
				<span v-else>{{contactsCountLabel}}</span>
			</p>
		</div>
		<footer class="card-footer">
			<nav class="navbar">
				<div class="navbar-start">
					<div class="navbar-item">
						<router-link :to="{ name: 'app.manage.lists.detail', params: { id: model.id } }">View list &rarr;</router-link>
					</div>
				</div>
				<div class="navbar-end">
					<div v-if="showActions" class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link has-no-arrow is-hidden-touch" href="#">
							<span class="icon-options-vertical"></span>
						</a>
						<div class="navbar-dropdown is-boxed is-right">
							<router-link class="navbar-item" :to="{ name: 'app.manage.lists.edit', params: { id: model.id } }">
								<span class="icon">
									<span class="icon-pencil"></span>
								</span>
								<span>Edit List</span>
							</router-link>
							<pop-confirm content="Are you sure want to delete this?" :on-ok="() => deleteMe()" v-if="!model.is_importing">
								<a href="#" @click.prevent="" class="navbar-item">
									<span class="icon">
										<span class="icon-trash"></span>
									</span>
									<span>Delete List</span>
								</a>
							</pop-confirm>
						</div>
					</div>
				</div>
			</nav>
		</footer>
		<div class="card-extras">
			<tooltip :content="favoriteTooltip" placement="top">
				<a href="#" @click.prevent="toggleFavorite" v-bind:class="{ active: model.favorite }">
					<span class="icon">
						<span class="icon-star"></span>
					</span>
				</a>
			</tooltip>
		</div>
	</div>
</template>

<script>
	import _ from 'lodash';

	export default {
		props: {
			model: {
				type: Object,
				required: true
			},
			showActions: {
				type: Boolean,
				default: true
			}
		},

		computed: {
			entityName() {
				return _.upperFirst(_.camelCase(this.entity));
			},
			contactsCount() {
				return this.model && this.model.number_contacts ? this.model.number_contacts : 0;
			},
			contactsCountLabel() {
				const count = this.contactsCount;
				return count > 1 || !count ? count + ' contacts' : count + ' contact';
			},
			favoriteTooltip() {
				return this.favorite ? 'Remove from Favorites' : 'Add to Favorites';
			}
		},

		data() {
			return { entity: 'list' };
		},

		methods: {
			isItemInProgress() {
				return this.$store.getters['single' + this.entityName + 'InProgress'](this.model.id);
			},
			toggleFavorite() {
				if(this.isItemInProgress()) {
					return;
				}
				this.$store.dispatch('update' + this.entityName + 'Favorite', { id: this.model.id, favorite: !this.model.favorite }).then(() => {
					this.$notify.success({ title: 'Success!', content: this.entityName + ' updated!' });
				});
			},
			deleteMe() {
				if(this.isItemInProgress()) {
					return;
				}
				this.$store.dispatch('delete' + this.entityName, this.model.id).then(() => {
					this.$notify.success({ title: 'Success!', content: this.entityName + ' deleted!' });
				});
			}
		}
	}
</script>
