<template>
	<div class="columns is-mobile">
		<div class="column">
			<p class="subtitle">All Contacts</p>
			<p class="title">
				<o-number-beautifier :value="model.total" />
			</p>
		</div>
		<div class="column">
			<p class="subtitle">All Lists</p>
			<p class="title">
				<o-number-beautifier :value="model.totalLists" />
			</p>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			model: {
				type: Object,
				required: true
			}
		},

		data() {
			return { };
		}
	}
</script>
