<template>
	<span class="datepicker">
		<div class="control has-icons-right">
			<input class="input" :class="{ [size]: size }" :name="name" :placeholder="placeholder" type="text" v-model="interVal" ref="pickrInput" />
			<span class="icon is-small is-right">
				<i class="icon-calendar"></i>
			</span>
			<span class="icon is-small is-right">
				<i class="icon-close" @click.prevent="handleClear"></i>
			</span>
		</div>
	</span>
</template>

<script>
	import Flatpickr from 'flatpickr';
	import { zh } from 'flatpickr/dist/l10n/zh';// eslint-disable-line

	// Taken from Vue-Blu .. because it had "class" as a prop ... and added "mode" for simple text trigger
	export default {
		props: {
			options: {
				type: Object,
				default() {},
			},
			name: String,
			size: String,
			placeholder: String,
			val: String,
			value: {}
		},

		data() {
			return {
				interVal: this.value,
				flatPickr: null,
			};
		},

		methods: {
			changeVal() {
				this.$emit('input', this.interVal);
			},
			handleClear() {
				this.flatPickr && this.flatPickr.clear();
			}
		},

		watch: {
			interVal(val) {
				this.interVal = val;
				this.$emit('input', this.interVal);
			},
		},

		mounted() {
			const pickrEl = this.$refs.pickrInput;
			this.flatPickr = new Flatpickr(pickrEl, this.options);
		},

		beforeDestroy() {
			if(this.flatPickr) {
				this.flatPickr.destroy();
				this.flatPickr = null;
			}
		}
	};
</script>
