<template>
	<div class="entity-carousel columns is-multiline is-desktop">
		<div class="column go-left" else>
			<a href="#" @click.prevent="goLeft">
				<span class="icon">
					<span class="icon-arrow-left"></span>
				</span>
			</a>
		</div>
		<div class="column entity-container" v-bind:class="{ 'is-loading': isLoading }">
			<template v-if="isLoading">
				<div class="loader"></div>
			</template>
			<template else>
				<transition name="zoom">
					<component v-if="selectedEntity" :is="formComponentName" :model="selectedEntity" :errors="errors" :show-actions="false"></component>
					<slot></slot>
				</transition>
			</template>
		</div>
		<div class="column go-right">
			<a href="#" @click.prevent="goRight">
				<span class="icon">
					<span class="icon-arrow-right"></span>
				</span>
			</a>
		</div>
		<div class="column is-full search-container">
			<router-link :to="{ name: 'app.sms.templates' }">
				<span class="icon is-small">
					<span class="icon-magnifier"></span>
				</span>
				<span>Search for {{entity}}</span>
			</router-link>
		</div>
	</div>
</template>

<script>
	import Router from '../router';

	export default {
		props: {
			entity: {
				type: String,
				required: true
			},
			options: {
				type: Array
			},
			value: {
				type: [String, Number]
			},
			isLoading: {
				type: Boolean,
				default: true
			}
		},

		computed: {
			formComponentName() {
				return 'o-list-item-' + this.entity;
			},
			selectedEntity() {
				return this.options.find((e) => e.id === this.value);
			}/*,
			options() {
				return this.$store.getters['all' + _.upperFirst(this.entity) + 's'] || [];
			}*/
		},

		data() {
			return { errors: {} };
		},

		methods: {
			goLeft() {
				if(this.isLoading) {
					return;
				}
				const currentSelectedIndex = this.options.indexOf(this.selectedEntity);
				let result = null;
				if(currentSelectedIndex) {
					result = this.options[currentSelectedIndex - 1];
				} else {
					result = this.options[this.options.length - 1];
				}
				this.$emit('change', result);
			},
			goRight() {
				if(this.isLoading) {
					return;
				}
				const currentSelectedIndex = this.options.indexOf(this.selectedEntity);
				let result = null;
				if(currentSelectedIndex < this.options.length - 1 && currentSelectedIndex >= 0) {
					result = this.options[currentSelectedIndex + 1];
				} else {
					result = this.options[0];
				}
				this.$emit('change', result);
			}
		}
	}
</script>
