<template>
	 <div class="file is-boxed">
		<label class="file-label">
			<input class="file-input" type="file" :name="name" @change="onFileChange" />
			<span class="file-cta">
				<span class="file-icon">
					<i class="fa fa-upload"></i>
				</span>
				<span class="file-label">{{displayLabel}}</span>
			</span>
		</label>
	</div>
</template>

<script>
	export default {
		props: {
			name: {
				type: String
			},
			placeholder: {
				type: String,
				default: 'Choose a file...'
			},
			value: {}
		},

		computed: {
			displayLabel() {
				return this.valueTitle ? this.valueTitle : this.placeholder;
			}
		},

		data() {
			return { valueTitle: null };
		},
		
		methods: {
			emitInputChanged(value) {
				this.$emit('input', value);			
			},
			onFileChange(event) {
				var files = event.target.files || event.dataTransfer.files;
				if(!files.length) {
					return;
				}
				 				
				this.valueTitle = files[0].name;
				this.emitInputChanged(files[0]);
				
				var checkFileName = files[0].name.substring(files[0].name.lastIndexOf(".")+1) ;
				if(checkFileName != "csv"){
					this.$notify.danger({ title: 'Oops!', content: "Please upload CSV file only" });
				}	
				
			}
		},

		mounted() {
			
		}
	};
</script>
