<template>
	<div class="image-input">
		<figure class="image is-avatar is-64x64" v-bind:class="{ 'is-loading': isLoading }">
			<div class="loading-container" v-if="isLoading"></div>
			<img :src="value" />
		</figure>
		<div class="file">
			<label class="file-label">
				<input class="file-input" type="file" :name="name" @change="onFileChange" />
				<span class="file-cta">
					<span class="file-label">{{placeholder}}</span>
				</span>
			</label>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			name: {
				type: String
			},
			placeholder: {
				type: String,
				default: 'Change photo'
			},
			value: {},
			isLoading: {
				type: Boolean,
				default: false
			}
		},

		data() {
			return { };
		},

		methods: {
			emitInputChanged(value) {
				this.$emit('input', value);
			},
			onFileChange(event) {
				var files = event.target.files || event.dataTransfer.files;
				if(!files.length) {
					return;
				}
				this.createImage(files[0]);
			},
			createImage(file) {
				var image = new Image();
				var reader = new FileReader();
				var vm = this;

				reader.onload = (event) => {
					vm.emitInputChanged(event.target.result);
				};
				reader.readAsDataURL(file);
			},
			removeImage() {
				this.emitInputChanged(null);
			}
		},

		mounted() {
			
		}
	};
</script>
