<template>
	<nav class="menu style-usermenu">
		<ul class="menu-list">
			<li>
				<router-link :to="{ name: 'app.index' }" exact>
					<span class="icon">
						<span class="icon-grid"></span>
					</span>
					<span class="name">Dashboard</span>
				</router-link>
			</li>
		</ul>
		<p class="menu-label">Bulk SMS</p>
		<ul class="menu-list">
			<li>
				<router-link :to="{ name: 'app.sms.send' }">
					<span class="icon">
						<span class="icon-paper-plane"></span>
					</span>
					<span class="name">Send</span>
				</router-link>
			</li>
			<li>
				<router-link :to="{ name: 'app.manage' }">
					<span class="icon">
						<span class="icon-list"></span>
					</span>
					<span class="name">Lists Management</span>
				</router-link>
			</li>
			<li>
				<router-link :to="{ name: 'app.reports' }">
					<span class="icon">
						<span class="icon-chart"></span>
					</span>
					<span class="name">Reports</span>
				</router-link>
			</li>
		</ul>
		<!-- <p class="menu-label">SMS API</p>
		<ul class="menu-list">
			<li>
				<router-link :to="{ name: 'app.api.dashboard' }">
					<span class="icon">
						<span class="icon-chemistry"></span>
					</span>
					<span class="name">API Dashboard</span>
				</router-link>
			</li>
			<li>
				<router-link :to="{ name: 'app.api.data' }">
					<span class="icon">
						<span class="icon-graph"></span>
					</span>
					<span class="name">API Data</span>
				</router-link>
			</li>
		</ul> -->
		<p class="menu-label">Account</p>
		<ul class="menu-list">
			<li>
				<router-link :to="{ name: 'app.settings.account' }">
					<span class="icon">
						<span class="icon-equalizer"></span>
					</span>
					<span class="name">Settings</span>
				</router-link>
			</li>
			<li>
				<router-link :to="{ name: 'app.billing' }">
					<span class="icon">
						<span class="icon-wallet"></span>
					</span>
					<span class="name">Billing</span>
				</router-link>
			</li>
			<li>
				<router-link :to="{ name: 'app.add-funds' }">
					<span class="icon">
						<span class="icon-credit-card"></span>
					</span>
					<span class="name">Add Funds</span>
				</router-link>
			</li>
			<li class="is-hidden-tablet">
				<a class="navbar-item" href="/logout" @click.prevent="logout">
					<span class="icon">
						<span class="icon-logout"></span>
					</span>
					<span>Logout</span>
				</a>
			</li>
		</ul>
	</nav>
</template>

<script>
	export default {
		methods: {
			logout() {
				this.$store.dispatch('logout');
			}
		}
	}
</script>
