<template>
	<modal title="" :is-show="isOpen" transition="zoomUp" @close="onClose" :show-footer="false" :backdrop-closable="false">
		<template v-if="isLoading">
			<div class="main-loader is-small">
				<div class="loader"></div>
			</div>
		</template>
		<!-- <template v-if="hasError">
			Oh damn, an error ocurred!
		</template> -->
		<template v-if="shouldShowContent">
			<h2 class="title is-5" v-if="title">{{title}}</h2>
			<p class="subtitle" v-if="subtitle">{{subtitle}}</p>
			<o-form
				class="in-modal"
				:entity="actualFormEntity"
				:mode="actualFormMode"
				:model="content"
				:allow-submit="allowSubmit"
				@on-submit-success="formSubmitSuccess"
				@on-submit-error="formSubmitError"
			></o-form>
		</template>
	</modal>
</template>

<script>
	import Router from '../router';
	import _ from 'lodash';

	export default {
		props: {
			entity: {
				type: String,
				required: true
			},
			mode: {
				type: String,
				default: 'add',
				required: true
			},
			formEntity: {
				type: String
			},
			formMode: {
				type: String
			},
			onCloseRoute: {
				type: String
			},
			defaults: {
				type: Object
			}
		},

		computed: {
			actualFormEntity() {
				return this.formEntity ? this.formEntity : this.entity;
			},
			actualFormMode() {
				return this.formMode ? this.formMode : this.mode;
			},
			entityName() {
				return _.upperFirst(_.camelCase(this.entity));
			},
			shouldLoadData() {
				return ['edit', 'detail', 'download-links'].indexOf(this.mode) !== -1 && this.actualFormEntity !== 'payment';
			},
			content() {
				let result = { };

				if(this.shouldLoadData && this.responseData) {
					result = this.responseData;
				}
				
				result = { ...result }; // here other libs can be used for local validations and stuff ... 

				if(this.defaults) {
					result = { ...result, ...this.defaults };
				}
				return result;
			},
			title() {
				const entity = this.actualFormEntity;
				const mode = this.actualFormMode;

				if(['paypal'].indexOf(mode) !== -1) {
					return null;
				}
				if(['credit-card', 'bank-transfer'].indexOf(mode) !== -1) {
					return mode.split('-').map(_.upperFirst).join(' ');
				}

				if(entity === 'payment-method' && ['add'].indexOf(mode) !== -1) {
					return 'Payment Method';
				}
				if(entity === 'report' && mode === 'download-links') {
					return 'Download Report';
				}

				if(entity === 'payment' && mode === 'download-links') {
					return 'Download Payment';
				}

				if(entity === 'payment' && mode === 'detail') {
					return 'Payment Details';
				}

				if(entity === 'report' && mode === 'detail') {
					return 'Report' + ( this.$route.params.id ? (' #' + this.$route.params.id) : '');
				}
				
				if(entity === 'list' && mode === 'detail') {
					return null;
				}

				const prefix = mode === 'add' ? 'New' : mode.split('-').map(_.upperFirst).join(' ');
				const result = prefix + ' ' + entity.split('-').map(_.upperFirst).join(' ');
				return result + (mode === 'import' ? 's' : '');
			},
			subtitle() {
				const entity = this.actualFormEntity;
				const mode = this.actualFormMode;

				if(entity === 'list' && mode === 'detail') {
					return null;
				}

				if(entity === 'payment' && mode === 'download-links') {
					return null;
				}

				if(['paypal'].indexOf(mode) !== -1) {
					return null;
				}
				if(mode === 'credit-card') {
					return 'Fill in your information';
				}

				if(mode === 'bank-transfer') {
					return 'Beneficiary Information';
				}
				
				if(mode === 'download-links') {
					return 'Select one or more file types';
				}

				if(mode === 'detail') {
					return 'Detailed information about the ' + entity;
				}
				return entity === 'payment-method' ? 'Select a service' : 'Fill the details below';
			},
			allowSubmit() {
				const entity = this.actualFormEntity;
				const mode = this.actualFormMode;

				const isPaymentMethod = entity === 'payment-method' && ['paypal', 'add'].indexOf(mode) !== -1;
				const isDownload = mode === 'download-links';
				const isDetail = mode === 'detail';
				return !isPaymentMethod && !isDetail && !isDownload;
			},
			isLoading() {
				if(!this.shouldLoadData) {
					return false;
				}
				const modelId = this.$route.params.id;
				const getters = this.$store.getters;
			
				return getters[this.baseGetterName + 'InProgress'](modelId) && getters[this.baseGetterName + 'Mode'](modelId) === 'get';
			},
			hasError() {
				return this.$store.getters['single' + this.entityName + 'Error'](this.$route.params.id);
			},
			shouldShowContent() {
				if(!this.shouldLoadData) {
					return true;
				}
				return !this.isLoading && this.responseData;
			},
			responseData() {
				return this.$store.getters[this.baseGetterName](this.$route.params.id);
			},
			considerMode() {
				return this.mode === 'download-links';
			},
			baseGetterName() {
				return _.camelCase('single' + (this.considerMode ? '_' + this.mode + '_' + this.entityName: this.entityName));
			}
		},

		data() {
			return { isOpen: false };
		},

		mounted() {
			this.setVisibility(true);
			this.loadData();
		},

		methods: {
			loadData() {
				if(!this.shouldLoadData) {
					return;
				}
				const actionName = _.camelCase('get_' + (this.considerMode ? (this.entityName + '_' + this.mode) : this.entityName));
				console.log(actionName)
				this.$store.dispatch(actionName, this.$route.params.id).then((response) => {
					const hasResponse = response && response.data ? response.data : null;
					if(!hasResponse) {
						throw new Error('Nothing found!');
						// this.onClose();
					}
				}).catch((error) => {
					this.onClose();
					this.$notify.danger({ title: 'Oops!', content: error.message });
					throw error;
				});
			},
			onClose() {
				this.setVisibility(false);
				this.getOutOfRoute();
			},
			getOutOfRoute() {
				const currentRoute = this.$route.name;
				const mode = this.mode === 'download-links' ? 'download' : this.mode;
				Router.push({ name: this.onCloseRoute || currentRoute.replace('.' + mode, '') });
			},
			setVisibility(state) {
				this.isOpen = state;
			},

			formSubmitSuccess() {
				console.log('form submit success');
				this.$emit('on-submit-success', ...arguments);
				this.onClose();
			},
			formSubmitError() {
				console.log('form submit errors');
				console.log('there seems to be errors with the form .. do check!');
			}
		}
	}
</script>
