<template>
	<nav class="navbar is-transparent style-user">
		<div class="navbar-brand">
			<div class="navbar-item welcome-message">
				<span class="date">{{todayDate}}</span>
				<span class="msg" v-if="authenticatedUser.first_name">Good day, {{authenticatedUser.first_name}}</span>
				<span class="msg" v-if="!authenticatedUser.first_name">Good day, sir!</span>
			</div>
			<div class="navbar-burger burger" data-target="navbarMenuMain">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>

		<div id="navbarMenuMain" class="navbar-menu">
			<div class="navbar-end" v-if="authenticatedUser.id">
				<!-- <div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link has-no-arrow" href="#">
						<span class="icon-bell has-updates"></span>
					</a>
					<div class="navbar-dropdown is-boxed is-right">
						<div>Notifications should be here m8!</div>
					</div>
				</div> -->
				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link">
						<figure class="image is-avatar is-32x32">
							<img :src="authenticatedUserAvatar" class="avatar-photo" v-if="authenticatedUserAvatar" />
						</figure>
					</a>
					<div class="navbar-dropdown is-boxed is-right">
						<router-link :to="{ name: 'app.settings' }" class="navbar-item">
							<span class="icon">
								<span class="icon-equalizer"></span>
							</span>
							<span>Settings</span>
						</router-link>
						<router-link :to="{ name: 'app.add-funds' }" class="navbar-item">
							<span class="icon">
								<span class="icon-credit-card"></span>
							</span>
							<span>Add Funds</span>
						</router-link>
						<hr class="navbar-divider" />
						<a class="navbar-item" href="/logout" @click.prevent="logout">
							<span class="icon">
								<span class="icon-logout"></span>
							</span>
							<span>Logout</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</nav>
</template>

<script>
	import moment from 'moment';

	export default {
		computed: {
			todayDate() {
				return moment().format('D MMM YYYY');
			},
			authenticatedUser() {
				return this.$store.getters.singleAuthenticatedUser();
			},
			authenticatedUserAvatar() {
				return this.$store.getters.getAuthenticatedUserAvatar;
			}
		},

		methods: {
			logout() {
				this.$store.dispatch('logout');
			}
		}
	}
</script>
