<template>
	<nav class="navbar style-logo-more">
		<div class="navbar-brand">
			<router-link :to="{ name: 'app.index' }" class="navbar-item">
				<img src="/images/logo.svg" alt="SMS.to" />
			</router-link>
			<div class="navbar-burger burger" data-target="navbarMenuUser">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<div id="navbarMenuLogo" class="navbar-menu">
			<div class="navbar-end">
				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link has-no-arrow is-hidden-touch">
						<span class="icon-options-vertical"></span>
					</a>
					<div class="navbar-dropdown is-boxed is-right">
						<a class="navbar-item" href="/faq">
							<span class="icon">
								<span class="icon-question"></span>
							</span>
							<span>FAQ</span>
						</a>
						<a class="navbar-item" href="/contact-us">
							<span class="icon">
								<span class="icon-envelope"></span>
							</span>
							<span>Contact us</span>
						</a>
						<a class="navbar-item" href="/privacy-policy">
							<span class="icon">
								<span class="icon-eye"></span>
							</span>
							<span>Privacy</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div id="navbarMenuUser" class="navbar-menu is-hidden-tablet">
			<menu-user></menu-user>
		</div>
	</nav>
</template>

<script>
	export default {
	}
</script>
