<template>
	<span>{{displayText}}</span>
</template>

<script>
	import _ from 'lodash';
	import accounting from 'accounting';

	export default {
		props: {
			value: {
				type: [Number, String],
				required: true
			},
			format: {
				type: String,
				default: 'friendly'
			},
			settings: {
				type: Object,
				default() {
					return { precision: 2 };
				}
			}
		},

		computed: {
			displayText() {
				const formatMethod = 'format' + _.upperFirst(this.format);
				const val = parseFloat(this.value);

				if(!_.isFinite(val)) {
					return val;
				}
				return this[formatMethod](val, this.settings);
			}
		},

		methods: { // https://stackoverflow.com/questions/2685911/is-there-a-way-to-round-numbers-into-a-reader-friendly-format-e-g-1-1k
			formatFriendly(value, settings) {
				let decPlaces = settings.precision ? settings.precision : 2;
				decPlaces = Math.pow(10, decPlaces);
				const abbrev = ['k', 'm', 'b', 't'];

				for(let i = abbrev.length - 1; i >= 0; i--) {
					const size = Math.pow(10, (i + 1 ) * 3);

					if(size <= value) {
						value = Math.round(value * decPlaces / size) / decPlaces;

						if((value == 1000) && (i < abbrev.length - 1)) {
							value = 1;
							i++;
						}
						value += abbrev[i];
						break;
					}
				}

				return value;
			},
			formatSimple(value, settings) {
				return accounting.formatNumber(value, settings);
			},
			formatMoney(value, settings) {
				return accounting.formatMoney(value, settings);
			}
		}
	};
</script>
