<template>
	<div>
		<div class="bill-amount">
			<div class="is-clearfix">
				<b class="is-pulled-left">Credited amount <small>(excl. VAT)</small>:</b> <b class="is-pulled-right"><o-number-beautifier :value="amount" format="money" /></b>
			</div>
			<div class="is-clearfix">
				<b class="is-pulled-left">VAT:</b> <b class="is-pulled-right"><o-number-beautifier :value="vatAmount" format="money" /></b>
			</div>
		</div>
		<p>
			<b class="is-size-5">Total: <o-number-beautifier :value="totalAmount" format="money" /></b>
		</p>
	</div>
</template>

<script>
	import accounting from 'accounting';

	export default {
		props: {
			value: {
				type: [Number, String]
			}
		},
		computed: {
			amount() {
				const amount = accounting.unformat(this.value || 0);
				return Math.abs(amount);
			},
			vatAmount() {
				return this.amount * 0.19;
			},
			totalAmount() {
				return this.amount + this.vatAmount;
			}
		}
	}
</script>
