<template>
	<div v-bind:class="{ 'card style-stats': asCard, 'is-loading': isLoading }">
		<template v-if="asCard">
			<div class="card-content">
				<template v-if="isLoading">
					<div class="loader"></div>
				</template>
				<component :is="componentName" :model="content" v-if="!isLoading"></component>
			</div>
			<footer class="card-footer" v-if="showFooter">
				<div class="card-footer-item">
					<router-link :to="{ name: 'app.manage.contacts.new' }" class="button is-info" v-if="entity === 'contact'">
						<span class="icon">
							<span class="icon-plus"></span>
						</span>
						<span>Add a Contact</span>
					</router-link>
					<router-link :to="{ name: 'app.add-funds' }" class="button is-info" v-if="entity === 'session'">
						<span class="icon">
							<span class="icon-credit-card"></span>
						</span>
						<span>Add Funds</span>
					</router-link>
				</div>
			</footer>
		</template>
		<template v-else>
			<template v-if="isLoading">
				<div class="loader"></div>
			</template>
			<component :is="componentName" :model="content" v-if="!isLoading"></component>
		</template>
	</div>
</template>

<script>
	import _ from 'lodash';

	import OStatsContact from './entity/contact/stats.vue';
	import OStatsSession from './entity/session/stats.vue';
	import OStatsSms from './entity/sms/stats.vue';

	export default {
		name: 'OStats',

		components: {
			OStatsContact,
			OStatsSession,
			OStatsSms
		},
		props: {
			entity: {
				type: String,
				required: true
			},
			asCard: {
				type: Boolean,
				default: false
			},
			showFooter: {
				type: Boolean,
				default: true
			}
		},
		data() {
			return { };
		},
        mounted() {
			this.loadData();
		},
        computed: {
			getterName() {
				return _.camelCase(this.entity) + 'Stats';
			},
			content() {
				return this.$store.getters[this.getterName] || {};
			},
			componentName() {
				return 'o-stats-' + this.entity;
			},
			isLoading() {
				return this.$store.getters[this.listGetterName + 'Status'] === 'loading';
			}
		},
		methods: {
			loadData() {
				return this.$store.dispatch('get' + _.upperFirst(this.getterName), { });
			}
		}
	}
</script>
