<template>
	<div class="tel-input field has-addons">
		<div class="control">
			<div class="input" :class="{ dropdown: true, open: open}" @click="toggleDropdown" v-click-outside="clickedOutside">
				<span class="selection">
					<img :src="activeCountry.icon" class="flag" />
					<span class="dropdown-arrow"> {{open ? '▲' : '▼'}}</span>
				</span>
				<ul v-show="open">
					<template v-if="actualPreferredCountries">
						<li class="dropdown-item" v-for="pb in actualPreferredCountries" :key="pb['iso2'] + 'preferred'" @click="choose(pb)">
							<img :src="pb.icon" alt="" />
							<strong>{{pb.name}} </strong>
							<span>+{{pb.dialCode}}</span>
						</li>
						<li class="divider"></li>
					</template>
					<li class="dropdown-item" v-for="pb in allCountries" :key="pb['iso2']" @click="choose(pb)">
						<img :src="pb.icon" alt="" />
						<strong>{{pb.name}} </strong>
						<span>+{{pb.dialCode}}</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="control is-expanded">
			<input
				class="input"
				:name="name"
				:class="inputClass"
				v-model="phone"
				:placeholder="placeholder"
				:state="state"
				:disabled="disabled"
				:formatter="format"
				@blur="onBlur"
				@input="onInput"
				ref="input"
			/>
		</div>
	</div>
</template>

<script>
import { format, AsYouType, isValidNumber } from 'libphonenumber-js';
import allCountries from '../utils/all-countries';
import locationInfo from '../utils/location-info';
import _ from 'lodash';

// Inspired by: https://github.com/EducationLink/vue-tel-input

export default {
	props: {
		value: {
			type: String
		},
		inputClass: {
			type: [Object, String]
		},
		name: {
			type: String
		},
		placeholder: {
			type: String,
			default: 'Enter a phone number'
		},
		disabled: {
			type: Boolean,
			default: false
		},
		disabledFetchingCountry: {
			type: Boolean,
			default: false
		},
		preferredCountries: {
			type: Array
		}
	},
	mounted() {
		if(this.disabledFetchingCountry) {
			return;
		}
		locationInfo().then((res) => {
			this.activeCountry = allCountries.byISO[res.toUpperCase()] || allCountries.list[0];
			this.locationCountry = this.activeCountry;
		});
	},
	created() {
		if(this.value) {
			this.phone = this.value;
		}
	},
	data() {
		return {
			phone: '',
			allCountries: allCountries.list, // here just to be available in the template...
			activeCountry: allCountries.list[0],
			open: false,
			locationCountry: null
		};
	},
	computed: {
		actualPreferredCountries() {
			// if(!this.preferredCountries) {
			// 	return;
			// }

			let prefCountries = [];
			if(this.locationCountry && this.locationCountry.iso2) {
				prefCountries.push(this.locationCountry.iso2);
			}
			prefCountries = _.union(prefCountries, ['us', 'gb', 'gr', 'cy']);

			const result = _.compact(_.uniq(prefCountries.map((countryISO) => allCountries.byISO[countryISO.toUpperCase()])));
			
			if(!result.length) {
				return;
			}

			return result;
		},
		mode() {
			if(!this.phone) {
				return '';
			}
			if(this.phone[0] === '+') {
				return 'code';
			}
			if(this.phone[0] === '0') {
				return 'prefix';
			}
			return 'normal';
		},
		formattedResult() {
			// Calculate phone number based on mode
			if(!this.mode || !allCountries || !allCountries.list) {
				return '';
			}
			let phone = this.phone;
			if(this.mode === 'code') {
				// If user manually type the country code
				const formatter = new AsYouType(); // eslint-disable-line
				formatter.input(this.phone);

				// Find inputted country in the countries list
				this.activeCountry = allCountries.list.find(ele => ele.iso2.toUpperCase() === formatter.country) || this.activeCountry;
			} else if(this.mode === 'prefix') {
				// Remove the first '0' if this is a '0' prefix number
				// Ex: 0432421999
				phone = this.phone.slice(1);
			}
			return format(phone, this.activeCountry && this.activeCountry.iso2, 'International');
		},
		state() {
			return isValidNumber(this.formattedResult);
		},
		response() {
			const number = this.formattedResult && this.formattedResult.replace(/ /g, '');
			return {
				number,
				isValid: this.state,
				country: this.activeCountry.name
			};
		}
	},
	watch: {
		state(value) {
			if(value) {
				// If mode is 'prefix', keep the number as user typed,
				// Otherwise format it
				if(this.mode !== 'prefix') {
					this.phone = this.formattedResult;
				}
			}
		}
	},
	methods: {
		choose(country) {
			const prevCountry = this.activeCountry;
			this.activeCountry = country;
			
			if(!this.phone) {
				this.phone = '+' + country.dialCode;
			} else {
				this.phone = this.phone.replace(prevCountry.dialCode, country.dialCode);
			}

			this.onInput();
		},
		format(value) {
			return new AsYouType(this.activeCountry.iso2).input(value); // eslint-disable-line
		},
		onInput() {
			// Emit input event in case v-model is used in the parent
			this.$emit('input', this.response.number);

			// Emit the response, includes phone, validity and country
			this.$emit('onInput', this.response);
		},
		onBlur() {
			this.$emit('onBlur');
		},
		toggleDropdown() {
			this.open = !this.open;
		},
		clickedOutside() {
			this.open = false;
		}
	}
};
</script>