<template>
	<span v-bind:class="{ 'text-trimmer': true, 'active': active }">
		<span v-if="!active">{{excerpt}}</span>
		<span v-if="active"><slot></slot></span>
		<a  v-if="excerpt !== text" href="#" @click.prevent="toggleActive">{{toggleLabel}}</a>
	</span>
</template>

<script>
	import _ from 'lodash';

	export default {
		props: {
			text: {
				type: String
			},
			maxLength: {
				type: Number,
				default: 48
			}
		},
		computed: {
			excerpt() {
				return _.truncate(this.text, { length: this.maxLength });
			},
			toggleLabel() {
				return this.active ? 'less...' : 'more...';
			}
		},
		data() {
			return { active: false };
		},
		methods: {
			toggleActive() {
				this.active = !this.active;
			}
		}
	}
</script>
