<template>
	<div>
		<div class="columns is-multiline">
			<div class="column is-half">
				<form-field :model="model" property="first_name" :errors="errors" type="text" label="First Name" placeholder="First name"></form-field>
			</div>
			<div class="column is-half">
				<form-field :model="model" property="last_name" :errors="errors" type="text" label="Last Name" placeholder="Last name"></form-field>
			</div>
			<div class="column is-half">
				<form-field :model="model" property="email" :errors="errors" type="email" label="Email" placeholder="Email" :disabled="true"></form-field>
			</div>
			<div class="column is-half">
				<form-field :model="model" property="phone" :errors="errors" type="text" label="Phone Number" placeholder="Phone number"></form-field>
			</div>
			<div class="column is-half">
				<form-field
					key="default_prefix"
					:model="model"
					property="default_prefix"
					:errors="errors"
					:options="$store.getters.allPhonePrefixess"
					option-track-by="iso2"
					option-value="iso2"
					option-label="name"
					:property-is-option-value="true"
					:multiple="false"
					:searchable="true"
					type="multiselect"
					placeholder="Select Default Prefix"
					action-on-init="getAllPhonePrefixes"
					
					label="Default Prefix"
					class="is-inline-block"
				></form-field>
			</div>
			<div class="column is-half">
				<form-field
					key="country"
					:model="model"
					property="country"
					:errors="errors"
					:options="$store.getters.allCountriess"
					option-track-by="iso2"
					option-value="iso2"
					option-label="name"
					:property-is-option-value="true"
					:multiple="false"
					:searchable="true"
					type="multiselect"
					placeholder="Select country"
					action-on-init="getAllCountries"
					
					label="Country"
					class="is-inline-block"
				></form-field>
			</div>

			<div class="column is-half">
				<a class="button is-small is-danger">Delete Request</a>
			</div>

		</div>
	</div>
</template>

<script>
	export default {
		props: {
			model: {
				type: Object,
				required: true
			},
			errors: {
				type: [Object, Array]
			}
		},

		mounted() {
			
		},

		data() {
			return { };
		}
	}
</script>
