<template>
	<div>
		<form-field
			:model="model"
			property="business_name"
			:errors="errors"
			type="text"
			label="Name"
			placeholder="Name"
		></form-field>
		<div class="columns is-multiline">
			<div class="column is-half">
				<form-field
					:model="model"
					property="business_address"
					:errors="errors"
					type="text"
					label="Address"
					placeholder="Address"
				></form-field>
			</div>
			<div class="column is-half">
				<form-field
					:model="model"
					property="business_postal_code"
					:errors="errors"
					type="text"
					label="Postal Code"
					placeholder="Postal code"
				></form-field>
			</div>
			<div class="column is-half">
				<!-- <form-field
					:model="model"
					property="business_country"
					:errors="errors"
					type="text"
					label="Country"
					placeholder="Country"
				></form-field> -->
				<form-field
					key="business_country"
					:model="model"
					property="business_country"
					:errors="errors"
					:options="$store.getters.allCountriess"
					option-track-by="iso2"
					option-value="iso2"
					option-label="name"
					:property-is-option-value="true"
					:multiple="false"
					:searchable="true"
					type="multiselect"
					placeholder="Select country"
					action-on-init="getAllCountries"
					
					label="Country"
				></form-field>
			</div>
			<div class="column is-half">
				<form-field
					:model="model"
					property="business_vat"
					:errors="errors"
					type="text"
					label="VAT Number"
					placeholder="VAT number"
				></form-field>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			model: {
				type: Object,
				required: true
			},
			errors: {
				type: [Object, Array]
			}
		},

		mounted() {
			
		},

		data() {
			return { };
		}
	}
</script>
