<template>
	<div>
		<form-field :model="model" property="current_password" :errors="errors" type="password" label="Current Password" placeholder="Current password"></form-field>
		<form-field :model="model" property="password" :errors="errors" type="password" label="New Password" placeholder="New password"></form-field>
		<form-field :model="model" property="password_confirmation" :errors="errors" type="password" label="Type Password again" placeholder="Type Password again"></form-field>
	</div>
</template>

<script>
	import { mapState } from 'vuex';

	export default {
		props: {
			model: {
				type: Object,
				required: true
			},
			errors: {
				type: [Object, Array]
			}
		},

		mounted() {
			
		},

		data() {
			return { };
		}
	}
</script>
