<template>
	<div>
		<div class="level">
			<div class="level-left">
				<div class="level-item">{{model.text}}</div>
			</div>
			<div class="level-right">
				<div class="level-item">
					<b-switch :checked="model.enabled" type="primary" size="small" :on-change="updateMe"></b-switch>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import _ from 'lodash';

	export default {
		props: {
			model: {
				type: Object,
				required: true
			}
		},

		computed: {
			entityName() {
				return _.upperFirst(_.camelCase(this.entity));
			}
		},

		data() {
			return { entity: 'notification-setting' };
		},

		methods: {
			isItemInProgress() {
				return this.$store.getters['single' + this.entityName + 'InProgress'](this.model.id);
			},
			updateMe() {
				if(this.isItemInProgress()) {
					return;
				}
				this.$store.dispatch('update' + this.entityName + 'Enabled', this.model).then(() => {
					this.$notify.success({ title: 'Success!', content: 'Notification updated!' });
				});
			}
		}
	}
</script>
