<template>
    <div>
        <modal-form entity="contact" mode="import" :defaults="{}"></modal-form>
    </div>
</template>


<script>
    export default {
        mounted() {
        }
    }
</script>
