<template>
    <div>
        <modal-form entity="contact" mode="add" :defaults="{}" on-close-route="app.manage.contacts"></modal-form>
    </div>
</template>


<script>
    export default {
        mounted() {
        }
    }
</script>
