<template>
	<div>
		<modal-form class="is-wide" entity="payment" mode="detail" on-close-route="app.billing.history"></modal-form>
		<router-view></router-view>
	</div>
</template>


<script>
	export default {
		mounted() {
		}
	}
</script>
