<template>
	<div>
		<modal-form entity="payment" mode="download-links" on-close-route="app.billing.history"></modal-form>
		
	</div>
</template>


<script>
	export default {

		props: {
			errors: {
				type: [Object, Array]
			}
		},
		data() {
			return {

			 };
		},
		mounted(){	
			let url = window.location.href.split( '/app#' )
	
			console.log(url);
			window.location.href(url[0] + url[1]);


			//window.location.href = "app#/billing/history"	
		}
	}
</script>
