<template>
	<div>
		<div class="columns is-multiline">
			<div class="column">
				<div class="card">
					<div class="card-content">
						<form-field
							key="amount"
							:model="model"
							property="amount"
							:errors="errors"
							:on-change="updateAmount"
							type="text"
							placeholder="Amount..."

							label="Amount"
						></form-field>

						<div class="field">
							<label class="label">Payment Method</label>
							<div class="control-wrapper">
								
								<a class="level is-mobile style-input" :class="{ active: isActivePaymentMethod('bank-transfer') }" @click.prevent="updatePaymentMethod('bank-transfer')">
									<span class="level-left">
										<span class="level-item">
											<span class="icon">
												<span class="fa fa-university"></span>
											</span>
										</span>
										<span class="level-item">Bank Transfer</span>
									</span>
									<span class="level-right">
										<span class="level-item"></span>
									</span>
								</a>

								<a class="level is-mobile style-input" :class="{ active: isActivePaymentMethod('credit-card') }" @click.prevent="updatePaymentMethod('credit-card')">
									<span class="level-left">
										<span class="level-item">
											<span class="icon">
												<span class="fa fa-credit-card"></span>
											</span>
										</span>
										<span class="level-item">Credit Card</span>
									</span>
									<span class="level-right">
										<span class="level-item payment-systems-icons">
											<span class="fa fa-cc-visa"></span>
											<span class="fa fa-cc-mastercard"></span>
										</span>
									</span>
								</a>
								
								<a class="level is-mobile style-input disabled">
									<span class="level-left">
										<span class="level-item">
											<span class="icon">
												<span class="fa fa-paypal"></span>
											</span>
										</span>
										<span class="level-item">Paypal</span>
									</span>
									<span class="level-right">
										<span class="level-item">Coming Soon</span>
									</span>
								</a>
								
							</div>
						</div>
					</div>
				</div>
			 	<br />
				<div class="card">
					<div class="card-header">
						<div class="card-header-title">Billing Address</div>
						<router-link :to="{ name: 'app.billing.address' }" class="card-header-icon" aria-label="more options">
							<span class="icon">
								<span class="icon-pencil"></span>
							</span>
							<span>Edit</span>
						</router-link>
					</div>
					<div class="card-content">
						<div class="content">
							<p>{{businessInfo.business_name}}</p>
							<p>
								<template v-if="businessInfo.business_address">
									{{businessInfo.business_address}}<br />
								</template>
								<template v-if="businessInfo.business_country && businessInfo.business_postal_code">
									{{businessInfo.business_country}}, {{businessInfo.business_postal_code}}
								</template>
							</p>
							<p v-if="businessInfo.business_vat_number">{{businessInfo.business_vat_number}}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="card billing-overview">
					<div class="card-header">
						<p class="card-header-title">Overview</p>
					</div>
					<div class="card-content">
						<div class="has-text-right">
							<o-payment-overview :value="model.amount"></o-payment-overview>
						</div>
						<div class="payment-systems is-single">
							<div class="payment-system mastercard"></div>
							<div class="payment-system visa"></div>
							<div class="payment-system jcc"></div>
						</div> <br />

						<div class="field">
							<div class="control has-text-centered">
								<router-link class="button is-primary " :disabled="!addURL || !addURL.name" :to="addURL" @click.native="checkBiilingAddress">
									<span class="icon">
										<span class="icon-check"></span>
									</span>
									<span>Proceed to Secure Payment</span>
								</router-link>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		
	</div>
</template>

<script>
	import _ from 'lodash';

	export default {
		props: {
			model: {
				type: Object,
				required: true
			},
			errors: {
				type: [Object, Array]
			}
		},

		computed: {
			businessInfo() {
				return this.$store.getters.singleAuthenticatedUser();
			},
			amountIsValid() {
				const amount = parseFloat(this.model.amount);
				return _.isFinite(amount) && amount >= 10;
			},
			addURL() {
				if(!this.amountIsValid) {
					return { };
				}
                                if(!this.businessInfo.business_address) {
                                     return { name: 'app.billing.address'};
                                }
				return { name: 'app.add-funds.add', params: { method: this.$store.getters.singleAddFunds().paymentMethod } };
			}
		},

		data() {
			return { };
		},

		methods: {
			isActivePaymentMethod(method) {
				return this.$store.getters.singleAddFunds().paymentMethod === method;
			},
			updateAmount(value) {
				this.$store.dispatch('updateAddFundsNewOne', { amount: value });
			},
			updatePaymentMethod(value) {
				this.$store.dispatch('updateAddFundsNewOne', { paymentMethod: value });
			},
                        checkBiilingAddress(event) {
                                if(!this.businessInfo.business_address) {
                                     this.$notify.danger({ title: 'Oops!', content: 'Please enter billing address.' });
                                }
                        }
		}
	}
</script>
