<template>
	<div class="columns">
		<div class="column">
			<p>Please make a payment of exactly <strong><o-number-beautifier :value="totalAmount" format="money" /></strong> to the following bank account. Please mention your username in the Payment description field, so we can identify and allocate paid amount to your account.</p>
			<br />
			<p><strong>NAME:</strong> INTERGO TELECOM LTD</p>
			<p><strong>IBAN:</strong> CY59 0020 0195 0000 3570 2223 1958</p>
			<p><strong>SWIFT:</strong> BCYPCY2N</p>
			<p><strong>BANK ADDRESS:</strong> Bank of Cyprus Public Ltd, Neophytos Nicolaides Str. Branch (0672), Paphos, Cyprus</p>

			<br />
			
			<div class="cc-form">
				<div class="cc-number">
					<form-field
						:model="model"
						property="reference_number"
						:errors="errors"

						type="text"
						label="Reference Number"
						placeholder="Reference Number"
					></form-field>
				</div>

				<div class="cc-number">
					<form-field
						:model="model"
						property="description"
						:errors="errors"

						type="text"
						label="Description"
						placeholder="Description"
					></form-field>
				</div>
				<br />
				<form-field
					:model="model"
					property="is_transferred"
					:errors="errors"
					type="checkbox"
					:validation="{ required: true }"
				>I have transferred the above mentioned amount.</form-field>
				<br />
			</div>
			

		</div>
		<div class="column is-narrow">
			<div class="card style-overview">
				<div class="card-content">
					<o-payment-overview :value="model.amount"></o-payment-overview>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import accounting from 'accounting';
	export default {
		props: {
			model: {
				type: Object,
				required: true
			},
			errors: {
				type: [Object, Array]
			}
		},
		computed: {
			authenticatedUser() {
				return this.$store.getters.singleAuthenticatedUser();
			},
			totalAmount() {
				const amount = accounting.unformat(this.model.amount || 0);
				const formattedAmount = Math.abs(amount);
				return accounting.unformat(formattedAmount || 0) + (this.model.amount * 0.19)
			}
		}
	}
</script>
