<template>
	<div class="columns">
		<div class="column">
			<div class="cc-form">
				<div class="cc-number">
					<form-field
						:model="model"
						property="cardNum"
						:errors="errors"

						type="text"
						label="Card Number"
						placeholder="Card Number"
						icon="credit-card"
					></form-field>
				</div>
				<div class="cc-holder">
					<form-field
						:model="model"
						property="cardHolder"
						:errors="errors"

						type="text"
						label="Card Holder Name"
						placeholder="Card Holder Name"
						icon="user"
					></form-field>
				</div>
				<div class="cc-security">
					<div class="cc-expiration">
						<form-field :model="model" property="expMnth" :options="expiryMonths" :errors="errors" type="select" label="Expiration"></form-field>
						<form-field :model="model" property="expYear" :options="expiryYears" :errors="errors" type="select" label=" - "></form-field>
					</div>
					<div class="cc-cvc">
						<form-field :model="model" property="cvc" :errors="errors" type="number" label="CVC" placeholder="CVC"></form-field>
					</div>
				</div>
			</div>
		</div>
		<div class="column is-narrow">
			<br />
			<div class="card style-overview">
				<div class="card-content">
					<o-payment-overview :value="model.amount"></o-payment-overview>
				</div>
			</div>
			<div class="payment-systems is-single">
				<div class="payment-system mastercard"></div>
				<div class="payment-system visa"></div>
				<div class="payment-system jcc"></div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			model: {
				type: Object,
				required: true
			},
			errors: {
				type: [Object, Array]
			}
		},

		computed: {
			expiryMonths() {
				return _.range(1, 13).map((month, index) => ({ id: month, name: month }));
			},
			expiryYears() {
				const currentYear = (new Date()).getFullYear();
				return _.range(currentYear, currentYear + 7).map((year) => ({ id: year, name: year }));
			}
		}
	}
</script>
