<template>
	<div class="card style-big-info">
		<div class="card-content">
			<span class="icon is-medium">
				<span class="icon-shuffle"></span>
			</span>
			<p>
				Redirecting you to <br />
				PayPal..
			</p>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			model: {
				type: Object,
				required: true
			},
			errors: {
				type: [Object, Array]
			}
		}
	}
</script>
