<template>
	<div class="card style-template">
		<div class="card-content">
			<div class="template-message">{{model.messages}}</div>
		</div>
		<footer class="card-footer">
			<nav class="navbar">
				<div class="navbar-start">
					<div class="navbar-item template-meta">
						<div class="name">{{model.name}}</div>
						<div class="char-count">{{charCountLabel}}</div>
					</div>
				</div>
				<div class="navbar-end">
					<div v-if="showActions" class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link has-no-arrow is-hidden-touch" href="#">
							<span class="icon-options-vertical"></span>
						</a>
						<div class="navbar-dropdown is-boxed is-right">
							<router-link class="navbar-item" :to="{ name: 'app.sms.send', query: { template: model.id } }">
								<span class="icon">
									<span class="icon-paper-plane"></span>
								</span>
								<span>Use &amp; Send</span>
							</router-link>
							<router-link class="navbar-item" :to="{ name: 'app.sms.templates.edit', params: { id: model.id } }">
								<span class="icon">
									<span class="icon-pencil"></span>
								</span>
								<span>Edit Template</span>
							</router-link>
							<pop-confirm content="Are you sure want to delete this?" :on-ok="() => deleteMe()">
								<a href="#" @click.prevent="" class="navbar-item">
									<span class="icon">
										<span class="icon-trash"></span>
									</span>
									<span>Delete Template</span>
								</a>
							</pop-confirm>
						</div>
					</div>
				</div>
			</nav>
		</footer>
	</div>
</template>

<script>
	import _ from 'lodash';

	export default {
		props: {
			model: {
				type: Object,
				required: true
			},
			showActions: {
				type: Boolean,
				default: true
			}
		},

		computed: {
			entityName() {
				return _.upperFirst(_.camelCase(this.entity));
			},
			charCount() {
				return this.model.messages ? this.model.messages.length : 0;
			},
			charCountLabel() {
				const count = this.charCount;
				return count > 1 || !count ? count + ' characters' : count + ' character';
			}
		},

		data() {
			return { entity: 'template' };
		},

		methods: {
			isItemInProgress() {
				return this.$store.getters['single' + this.entityName + 'InProgress'](this.model.id);
			},
			deleteMe() {
				if(this.isItemInProgress()) {
					return;
				}
				this.$store.dispatch('delete' + this.entityName, this.model.id).then(() => {
					this.$notify.success({ title: 'Success!', content: this.entityName + ' deleted!' });
				});
			}
		}
	}
</script>