<template>
	<div>
		<modal-form entity="shortlink" mode="add" :defaults="{}" on-close-route="app.sms.send" @on-submit-success="formSubmitSuccess"></modal-form>
	</div>
</template>

<script>
	export default {
		methods: {
			formSubmitSuccess() {
				console.log('aloha222...');
			}
		}
	}
</script>
