<template>
    <div>
        <modal-form entity="list" mode="edit" on-close-route="app.manage.lists"></modal-form>
    </div>
</template>


<script>
    export default {
        mounted() {
        }
    }
</script>
