<template>
	<div class="dropdown" v-bind:class="{ 'is-active': isActive, 'is-hoverable': isHoverable, 'is-right': isRight }" tabindex="0" v-click-outside="hide">
		<div class="dropdown-trigger">
			<slot name="trigger">
				<button class="button is-link" aria-haspopup="true" aria-controls="dropdown-menu3" @click="toggleVisibility">
					<span>{{label}}</span>
					<span class="icon is-small is-right">
						<i class="fa fa-angle-down" aria-hidden="true"></i>
					</span>
				</button>
			</slot>
		</div>
		<div class="dropdown-menu" id="dropdown-menu3" role="menu" @click="hide">
			<div class="dropdown-content">
				<slot name="content"></slot>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		props: ['label', 'hoverable', 'right'],

		computed: {
			isActive() {
				return this.active;
			},
			isHoverable() {
				return this.hoverable;
			},
			alighRight() {
				return this.hoverable;
			},
			isRight() {
				return this.right;
			}
		},

		data() {
			return { active: null };
		},

		methods: {
			show() {
				this.active = true;
			},
			hide() {
				this.active = false;
			},
			toggleVisibility() {
				this.active = !this.active;
			}
		},

		mounted() {
			
		}
	}
</script>
