<template>
	<a href="#" class="dropdown-item" @click.prevent="dealWithIt">
		<slot></slot>
    </a>
</template>
<script>
	export default {
		props: ['model'],

		methods: {
			dealWithIt() {
				this.$emit('click', this.model);
			}
		}
	}
</script>
