<template>
	<div>
		<form-field :model="model" property="name" :errors="errors" type="text" icon="people" placeholder="Name"></form-field>
		<form-field :model="model" property="surname" :errors="errors" type="text" icon="people" placeholder="Surname"></form-field>
		<form-field :model="model" property="email" :errors="errors" type="email" icon="envelope" placeholder="E-mail"></form-field>
		<form-field :model="model" property="phone" :errors="errors" type="tel" pattern="[0-9\+]*" icon="screen-smartphone" placeholder="Phone number"></form-field>
		<form-field :model="model" property="lists" :errors="errors" type="select" :options="$store.getters.allLists" icon="list" placeholder="Add to list" action-on-init="getAllLists"></form-field>

		<!-- <form-field
			:model="model"
			property="lists"
			:errors="errors"
			type="multiselect"
			:options="$store.getters.allLists"
			option-track-by="id"
			option-label="name"
			:multiple="true"
			:searchable="false"
			icon="list"
			:allow-empty="true"
			placeholder="Add to list"
			action-on-init="getAllLists"
		></form-field> -->
	</div>
</template>

<script>
	export default {
		props: ['model', 'errors'],

		data() {
			return { };
		}
	}
</script>
