<template>
	<div>
		<form-field
			:model="model"
			property="list_id"
			:errors="errors"
			type="select"
			:options="$store.getters.allLists"
			icon="list"
			label="List"
			placeholder="Import to a list..."
			action-on-init="getAllLists"
		></form-field>
		<form-field
			:model="model"
			property="file"
			:errors="errors"
			type="file"
			label="Excel or CSV"
			tip="The csv should have the following headers: Phone, First name, Last name, Email."
		></form-field>

		<form-field
			:model="model"
			property="list_import_gdpr"
			:errors="errors"
			type="checkbox"

			:validation="{ required: true }"
		>
			I am aware of the GDPR Directive (<a href="https://www.eugdpr.org/key-changes.html" target="_blank">https://www.eugdpr.org/key-changes.html</a>) <br />
			and my Data Protection responsibilities that covers data subjects in the EU (European Union) and <br />
			I confirm that I have received the consent of this list data subjects before contacting them.
		</form-field>

		<span><a href="/smsto_sample_list.csv">Download example sheet</a></span>
	</div>
</template>

<script>
	export default {
		props: {
			model: {
				type: Object,
				required: true
			},
			errors: {
				type: [Object, Array]
			}
		},

		data() {
			return { };
		},
		methods: {
			
		}
	}
</script>
