<template>
	<div class="columns is-gapless layout-aside">
		<aside class="column aside is-fullheight">
			<div class="inner">
				<navbar-main></navbar-main>
				<menu-user class="is-hidden-touch"></menu-user>
			</div>
		</aside>
		<div class="column main-content">
			<navbar-user></navbar-user>
			<div class="actual-page-content">
				<div class="inner">
					<slot></slot>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'LayoutApp'
	}
</script>
