<template>
	<div class="columns">
		<div class="column">
			<slot name="content"></slot>
		</div>
		<div class="column is-fixed-medium">
			<slot name="aside"></slot>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'LayoutAside'
	}
</script>
