<template>
    <div>
        <modal-form entity="template" mode="add" :defaults="{}" on-close-route="app.sms.templates"></modal-form>
    </div>
</template>


<script>
    export default {
        mounted() {
        }
    }
</script>
