<template>
	<div>
		<h2 class="title is-6">
			Status:
			<span class="has-text-success" v-if="['error', 'failed'].indexOf(model.status) === -1">{{model.status}}</span>
			<span class="has-text-danger" v-if="['error', 'failed'].indexOf(model.status) !== -1">
				{{model.status}}
				<a href="/contact-us">
					<span class="icon">
						<span class="icon-envelope"></span>
					</span>
					<span>Contact Support</span>
				</a>
			</span>
		</h2>
		<article class="message is-danger" v-if="model.status === 'error' && model.error_reason">
			<div class="message-body">{{model.error_reason}}</div>
		</article>
		<h2 class="title is-6">Created on: {{createdOnStamp}}</h2>
		<h2 class="title is-6">
			Total Cost:
			<span><o-number-beautifier :value="model.total_cost || 0" format="money" /></span>
		</h2>
		<h2 class="title is-6" v-if="model.list && model.list.name">
			List:
			<span>{{model.list.name}}</span>
		</h2>
		<h2 class="title is-6">
			<router-link :to="{ name: 'app.reports.detail.download', params: { id: model.id } }">
				<span class="icon">
					<span class="icon-cloud-download"></span>
				</span>
				Download Report
			</router-link>
		</h2>

		<h2 class="title is-6">Message sent</h2>
		<article class="message">
			<div class="message-body">{{model.message}}</div>
		</article>
		<h2 class="title is-6 is-inline-flex">Messages</h2>
		<div class="field is-grouped is-grouped-multiline is-inline-flex">
			<div class="control">
				<div class="tags has-addons">
					<span class="tag is-success">{{model.delivered || 0}}</span>
					<span class="tag">Delivered</span>
				</div>
			</div>
			<div class="control">
				<div class="tags has-addons">
					<span class="tag is-danger">{{model.failed || 0}}</span>
					<span class="tag">Failed</span>
				</div>
			</div>
		</div>
		<o-list
			entity="report-message"
			:path-segments="{ id: model.id }"
			:allow-create="false"
			:as-table="true"
			:show-nothing-on-first-load="true"
		></o-list>
	</div>
</template>

<script>
	import moment from 'moment';
	
	export default {
		props: {
			model: {
				type: Object,
				required: true
			},
			errors: {
			}
		},

		computed: {
			createdOnStamp() {
				return this.model.created_at ? moment(this.model.created_at).format('MMMM Do YYYY') : null;
			}
		},

		data() {
			return { };
		}
	}
</script>
