<template>
	<div class="columns">
		<div class="column is-half">
			<o-form entity="user" mode="business" :model="accountBusinessInfoModel"></o-form>
		</div>
		<div class="column is-half">
			
		</div>
	</div>
</template>


<script>
	export default {
		computed: {
			accountBusinessInfoModel() {
				return { ...this.$store.getters.singleAuthenticatedUser() };
			}
		}
	}
</script>
