<template>
	<section class="section">
		<div class="container">
			<div class="columns is-vcentered">
				<div class="column is-4 is-offset-4">
					<router-link :to="{ name: 'app.index' }" class="logo-wrapper">
						<img src="/images/logo.svg" alt="" />
					</router-link>
					<div class="box style-form">
						<div class="box-content">
							<div class="box-image">
								<img src="/images/ghost-sorry.png" alt="" />
							</div>
							<h1 class="title">404 Error</h1>
							<p class="subtitle is-main">
								Oh noo. We're so sorry but <br />
								apparently we have a problem!
							</p>
							<p class="subtitle">Burt get up here, now...</p>
						</div>
						<div class="box-actions is-spaced">
							<p>
								Please try another page or <br />
								
								<router-link :to="{ name: 'app.index' }">
									<b>Go back to Dashboard</b>
								</router-link>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>


<script>
	export default {
	}
</script>
