
$app-gray-light: #fafafa;
$app-gray-medium: #ABABAB;
$app-blue-light: #f4f9fc;

// Bulma
@import "bulma_variables";
@import "bulma";

// Vue-Blu
@import "blu";

@import "mixins";

// Default shite
@import "default";


@import "flag-icon";

// Layouts
@import "layouts/aside";

// Components
@import "components/multiselect";
@import "components/icon";
@import "components/button";
@import "components/popover";
@import "components/menu";
@import "components/logo";
@import "components/dropdown";
@import "components/navbar";
@import "components/checkbox";
@import "components/searchbox";
@import "components/tabs";
@import "components/card";
@import "components/header";
@import "components/footer";
@import "components/cutout";
@import "components/form";
@import "components/box";
@import "components/modal";
@import "components/range-input";
@import "components/image-input";
@import "components/tel-input";
@import "components/level";
@import "components/notifications";
@import "components/google-chart";
@import "components/text-truncate";
@import "components/coming-soon";
@import "components/phone";
@import "components/get-started";
@import "components/payment-systems";


@import "components/list";
@import "components/table";

@import "components/entity-carousel";

@import "components/section";
@import "components/hero";
