
$primary: #46A1FF;
$primary-invert: #fff;
$info: #6091f2;
$text: #757575;
$border: #f2f2f2;

$input-border-color: $border;

// These were the defaults before 6.0 
// $dropdown-item-active-color: $primary-invert;
// $dropdown-item-active-background-color: $primary;
// $navbar-tab-hover-border-bottom-color: $primary;
// $navbar-tab-active-color: $primary;
// $navbar-tab-active-border-bottom-color: $primary;
// $navbar-dropdown-item-active-color: $primary;
// $tabs-link-active-border-bottom-color: $primary;
// $tabs-link-active-color: $primary;
// $tabs-toggle-link-active-background-color: $primary;
// $tabs-toggle-link-active-border-color: $primary;
// $tabs-toggle-link-active-color: $primary-invert;

// Import the initial variables from Bulma
@import "node_modules/bulma/sass/utilities/initial-variables.sass";


// Box Element
$box-color: darken($text, 20%);
$box-radius: $radius;
$box-shadow: 0 13px 30px 5px rgba($black, 0.03), 0 0 0 1px rgba($black, 0.05);
$box-padding: 2.65rem;

// Card Element
// style-stat
$card-style-stat-shadow: 0 6px 20px 3px rgba($black, 0.03), 0 0 0 1px rgba($black, 0.03);
// has-tabs-header
$card-has-tabs-header-shadow: 0 0 6px 2px rgba($black, 0.02), 0 0 0 1px rgba($black, 0.03);

// Table Element
$table-head-cell-color: $grey-light;
$table-cell-border: 1px solid $white-ter;

// Message Element
$message-body-padding: 0.75em 1em; // default 1.25em 1.5em

// Modal Element
$modal-background-background-color: rgba($white, 0.85);
$modal-card-head-radius: $radius;
$modal-card-foot-radius: $modal-card-head-radius;
$modal-close-dimensions: 30px;

$modal-card-head-padding: 30px;
$modal-card-body-padding: 30px;
$modal-card-foot-padding: 30px;

$modal-box-shadow: 0 10px 30px 15px rgba($black, 0.03), 0 0 0 1px rgba($black, 0.05);

// Add a serif family
$family-serif: "Source Sans Pro", sans-serif;
