
html, body { height: 100%; min-height: 0; padding: 0; margin: 0; overflow: auto; }

#app { height: 100%; }

b, strong { font-weight: 600; }

.page-title { margin-top: 0.5rem; margin-left: 0.25rem; font-size: 1.4rem; font-weight: 500; }
.section-title { margin-top: 0.4rem; font-size: 1.3rem; font-weight: 500;
	&:not(:last-child) { margin-bottom: 0.1rem; }
}

.is-fixed-medium { flex: 0 0 384px; }

.is-gapless-around { padding-top: 0; padding-bottom: 0; margin-top: 0; margin-bottom: 0;
	.column { padding-top: 0; padding-bottom: 0; }

	&:last-child { margin-top: 0; margin-bottom: 0; }
}

a.close { position: absolute; top: 0; right: 0; display: flex; align-items: center; font-size: 0.9rem;
	span {
		&:last-child { margin-left: 5px; }
	}
}

.message-action { display: flex; flex-direction: column; align-items: center; justify-content: center;
	.label { padding-top: 0.3em; margin-bottom: 0; font-size: 0.5rem; text-transform: uppercase; }
}
.message-fields { padding: 0.5em;
	.button { margin: 0.25em; }
}

.social {
	a { color: $black; }
}

.menu-label {
	&.style-footer { margin-bottom: 0.6em; color: $text; font-size: 0.7rem; font-weight: 700; }
	&.is-small { font-size: 0.6rem; font-weight: 600; }
}

.comma-list {
	span { font-size: 0.9rem;
		&:not(:last-child) {
			&:after { display: inline-block; content: ", "; font-size: inherit; color: inherit; }
		}
	}
}

.image {
	&.is-avatar { border-radius: 50%; box-shadow: 0 0 1px 2px rgba($black, 0.1); background: $app-gray-light; overflow: hidden; }
}

.is-or-container { position: relative; display: flex; background-color: $white; flex: 0 0 0; padding: 0; justify-content: center; align-items: center;
	&:before { display: block; content: ''; position: absolute; background-color: $light; top: 50%; left: 0; right: 0; width: 100%; height: 1px; }
	span { flex: 0 0 0; padding: 0 0.3em; background-color: $white; position: relative; }
}

.single-line-container { position: relative; display: flex; background-color: $white; flex: 0 0 0; padding: 0; justify-content: center; align-items: center;
	&:before { display: block; content: ''; position: absolute; background-color: $light; top: 50%; left: 0; right: 0; width: 100%; height: 1px; }
	> div { display: flex; justify-content: center; align-items: center; flex: 0 0 auto; padding: 0 0.3em; background-color: $white; position: relative;
		> * {
			&:first-child { flex: 0 0 130px; padding-right: 0.5em; text-align: right; }
			&:last-child { flex: 0 0 130px; padding-left: 0.5em; text-align: left; }
		}
		.switchery { margin-top: 0; }
	}
}

.title {
	&.style-with-border { border-bottom: 1px solid $light; padding-bottom: 0.75rem; margin-bottom: 0.75rem; }
}

.loading-container { display: flex; justify-content: center; align-items: center; position: absolute; left: 0; top: 0; background-color: rgba($white, 0.85); width: 100%; height: 100%;
	.loader { width: 3em; height: 3em; border-left-color: $info; border-bottom-color: $info; }
}

.main-loader { display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;
	.loader { width: 6em; height: 6em; border-width: 0.5em; }

	&.is-small {
		.loader	{ width: 3em; height: 3em; border-width: 0.3em; }
	}
}

.has-text-danger {
	.loader { border-left-color: $danger; border-bottom-color: $danger; }
}
.has-text-success {
	.loader { border-left-color: $success; border-bottom-color: $success; }
}
.has-text-info {
	.loader { border-left-color: $info; border-bottom-color: $info; }
}

.billing-overview{ height: 100%;}
.billing-overview .bill-amount{ border-bottom: 1px solid #ccc; padding-bottom: 15px; margin-bottom: 15px;}