<template>
	<div class="columns is-mobile">
		<div class="column">
			<p class="subtitle">Balance (in &euro;)</p>
			<p class="title">
				<o-number-beautifier :value="model.cashBalance" format="money" :settings="{ format: '%v' }" />
			</p>
		</div>
		<div class="column">
			<p class="subtitle">Remaining SMS <small>(aprox.)</small></p>
			<p class="title">
				<o-number-beautifier :value="model.remainingSms" />
			</p>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			model: {
				type: Object,
				required: true
			}
		},

		data() {
			return { };
		}
	}
</script>
