<template>
	<layout-aside>
		<div slot="content">
			<h2 class="title page-title">Add Funds</h2>
			<o-form
				entity="payment-method"
				mode="add-funds"
				
				:model="$store.getters.singleAddFunds()"

				:allow-submit="false"
			></o-form>
			<router-view></router-view>
		</div>
		<div slot="aside">
			<o-stats entity="session" :as-card="true" :show-footer="false"></o-stats>
			<br />
			<div class="card style-info style-info-blue">
				<div class="card-content">
					<p class="title">
						<span class="icon"><span class="icon-vector"></span></span>
						<span>Not Enough?</span>
					</p>
					<p>We can craft a package specifically for you and your needs.</p>
				</div>
				<footer class="card-footer">
					<a href="https://www.sms.to/contact-us" class="card-footer-item">Contact Us Now &rarr;</a>
				</footer>
			</div>
		</div>
	</layout-aside>
</template>

<script>
	export default {

	}
</script>