<template>
	<div>
		<layout-aside>
			<div slot="content">
				<div class="columns">
					<div class="column">
						<h3 class="title section-title">API Usage</h3>
						<router-link :to="{ name: 'app.reports' }">View activity log &rarr;</router-link>
					</div>
					<div class="column">
						<div class="card style-stat">
							<div class="card-content">
								<p class="subtitle">Today</p>
								<p class="title">189
									<span class="change-info">13%</span>
								</p>
							</div>
						</div>
					</div>
					<div class="column">
						<div class="card style-stat">
							<div class="card-content">
								<p class="subtitle">Yesterday</p>
								<p class="title">290
									<span class="change-info">1%</span>
								</p>
							</div>
						</div>
					</div>
					<div class="column">
						<div class="card style-stat">
							<div class="card-content">
								<p class="subtitle">Last 7 days</p>
								<p class="title">689
									<span class="change-info">9%</span>
								</p>
							</div>
						</div>
					</div>
					<div class="column">
						<div class="card style-stat">
							<div class="card-content">
								<p class="subtitle">This month</p>
								<p class="title">1235
									<span class="change-info is-negative">41%</span>
								</p>
							</div>
						</div>
					</div>
				</div>
				<hr />

				<router-view></router-view>
			</div>
			<div slot="aside">
				<div class="card style-stats">
					<div class="card-content">
						<div class="columns">
							<div class="column">
								<p class="subtitle">API QUOTA</p>
								<p class="title">1,500<small>SMS</small></p>
								<p class="subtitle">per month</p>
							</div>
							<div class="column">
								<p class="subtitle">Remaining</p>
								<p class="title">200<small>SMS</small></p>
								<p class="subtitle">aprox.</p>
							</div>
						</div>
					</div>
					<footer class="card-footer">
						<div class="card-footer-item">
							<router-link :to="{ name: 'app.manage.contacts.new' }" class="button is-info">
								<span class="icon">
									<span class="icon-speedometer"></span>
								</span>
								<span>Upgrade Plan</span>
							</router-link>
						</div>
					</footer>
				</div>
				<br />
				<div class="card style-info style-info-white">
					<div class="card-content">
						<p class="title">
							<span class="icon">
								<span class="icon-game-controller"></span>
							</span>
							<span>SDK &amp; Libraries</span>
						</p>
						<p>Start building apps with <strong>SMS.to SDK</strong> in minutes.</p>
					</div>
					<footer class="card-footer">
						<a href="https://some-external.io" target="_parent" class="card-footer-item">Launch Dev Hub &rarr;</a>
					</footer>
				</div>
				<br />
				<div class="card style-info style-info-white">
					<div class="card-content">
						<p class="title">
							<span class="icon">
								<span class="icon-docs"></span>
							</span>
							<span>API Docs</span>
						</p>
						<p>- Meet SMS.to API</p>
						<p>- Workflow basics</p>
						<p>- Write your app</p>
					</div>
					<footer class="card-footer">
						<a href="https://some-external.io" target="_parent" class="card-footer-item">More Docs &rarr;</a>
					</footer>
				</div>
			</div>
		</layout-aside>
	</div>
</template>

<script>
	export default {

	}
</script>
