<template>
	<div>
		<h2 class="title page-title">Billing</h2>
		<div class="tabs">
			<ul>
				<router-link tag="li" :to="{ name: 'app.billing.history' }">
					<a>Payments History</a>
				</router-link>
				<router-link tag="li" :to="{ name: 'app.billing.address' }">
					<a>Billing Address</a>
				</router-link>
			</ul>
		</div>
		<br />
		<router-view></router-view>
	</div>
</template>

<script>
	export default {
	}
</script>
