<template>
	<div>
		<layout-aside>
			<div slot="content">
				<o-stats entity="sms"></o-stats>
				<hr />
				<div>
					<h3 class="title section-title">SMS Reach</h3>
					<o-google-chart type="sms-reach" chart="geochart"></o-google-chart>
				</div>
				<br />
				<br />
				<hr />
				<div class="columns">
					<div class="column">
						<h3 class="title section-title">Sending Activity</h3>
						<o-google-chart type="sending-activity" chart="corechart"></o-google-chart>
					</div>
					<div class="column">
						<h3 class="title section-title">Cost Activity</h3>
						<o-google-chart type="cost-activity" chart="corechart"></o-google-chart>
					</div>
				</div>
				<router-view></router-view>
			</div>
			<div slot="aside">
				<o-stats entity="session" :as-card="true"></o-stats>
				<br />
				<div class="card style-actions">
					<div class="card-content">
						<p class="title">
							<span>Actions</span>
						</p>
						<router-link class="level is-mobile style-action" :to="{ name: 'app.settings.account' }">
							<span class="level-left">
								<span class="level-item">
									<span class="icon">
										<span class="icon-user"></span>
									</span>
								</span>
								<span class="level-item">
									Update your Info
								</span>
							</span>
							<span class="level-right">
								<span class="icon">
									<span class="icon-arrow-right"></span>
								</span>
							</span>
						</router-link>
						<router-link class="level is-mobile style-action" :to="{ name: 'app.billing.address' }">
							<span class="level-left">
								<span class="level-item">
									<span class="icon">
										<span class="icon-organization"></span>
									</span>
								</span>
								<span class="level-item">
									Set up Billing Address
								</span>
							</span>
							<span class="level-right">
								<span class="icon">
									<span class="icon-arrow-right"></span>
								</span>
							</span>
						</router-link>
						<router-link class="level is-mobile style-action" :to="{ name: 'app.settings.notifications' }">
							<span class="level-left">
								<span class="level-item">
									<span class="icon">
										<span class="icon-calendar"></span>
									</span>
								</span>
								<span class="level-item">
									Setup Email Reminders
								</span>
							</span>
							<span class="level-right">
								<span class="icon">
									<span class="icon-arrow-right"></span>
								</span>
							</span>
						</router-link>
					</div>
				</div>
			</div>
		</layout-aside>
	</div>
</template>


<script>
	export default {

	}
</script>
