<template>
	<layout-aside>
		<div slot="content">
			<h2 class="title page-title">Lists Management</h2>
			<div class="tabs">
				<ul>
					<router-link tag="li" :to="{ name: 'app.manage.lists' }">
						<a>Lists</a>
					</router-link>
					<router-link tag="li" :to="{ name: 'app.manage.contacts' }">
						<a>Contacts</a>
					</router-link>
				</ul>
			</div>
			<router-view></router-view>
		</div>
		<div slot="aside">
			<o-stats entity="contact" :as-card="true"></o-stats>
			<br />
			<div class="card style-info">
				<div class="card-content">
					<p class="title">
						<span class="icon"><span class="icon-user-follow"></span></span>
						<span>Import Contacts</span>
					</p>
					<p>Add your contacts from Gmail, Yahoo or csv file in seconds.</p>
				</div>
				<footer class="card-footer">
					<router-link :to="importRoute" class="card-footer-item">Import Contacts &rarr;</router-link>
				</footer>
			</div>
		</div>
	</layout-aside>
</template>

<script>
    export default {
    	computed: {
    		importRoute() {
				const routeNameParts = this.$route.name.split(/\./);
				if(['new', 'edit', 'new', 'download', 'detail', 'import'].indexOf(routeNameParts[routeNameParts.length - 1]) !== -1) {
					routeNameParts.pop();
				}
				return { name: routeNameParts.join('.') + '.import' };
			}
    	}
    }
</script>
