<template>
	<div>
		<h2 class="title page-title">Reports</h2>
		<o-list entity="report" :as-table="true"></o-list>
		<router-view></router-view>
	</div>
</template>


<script>
	export default {
		mounted() {
		}
	}
</script>
