<template>
	<div>
		<h2 class="title page-title">Settings</h2>
		<div class="tabs">
			<ul>
				<router-link tag="li" :to="{ name: 'app.settings.account' }">
					<a>Account</a>
				</router-link>
				<router-link tag="li" :to="{ name: 'app.settings.security' }">
					<a>Security</a>
				</router-link>
				<router-link tag="li" :to="{ name: 'app.settings.notifications' }">
					<a>Notifications</a>
				</router-link>
				<router-link tag="li" :to="{ name: 'app.settings.sessions' }">
					<a>Sessions</a>
				</router-link>
			</ul>
		</div>
		<br />
		<router-view></router-view>
	</div>
</template>

<script>
	export default {
		mounted() {
			
		}
	}
</script>
