<template>
	<div>
		<layout-aside>
			<div slot="content">
				<h2 class="title page-title">Send SMS Campaign</h2>
				<div class="tabs">
					<ul>
						<router-link tag="li" :to="{ name: 'app.sms.send' }">
							<a>New Message</a>
						</router-link>
						<router-link tag="li" :to="{ name: 'app.sms.templates' }">
							<a>Templates</a>
						</router-link>
					</ul>
				</div>
				<router-view></router-view>
			</div>
			<div slot="aside">
				<o-form
					entity="sms"
					mode="submit"
					:model="$store.getters.singleSms()"
					:as-card="true"
					submit-icon="icon-paper-plane"
					:disable-submit="shouldDisableSubmit"
				></o-form>
				<br />
				<div class="card style-info">
					<div class="card-content">
						<p class="title">
							<span class="icon"><span class="icon-support"></span></span>
							<span>Need more help?</span>
						</p>
						<p>We prepared a 60 seconds tutorial <br />that will answer all your questions</p>
					</div>
					<footer class="card-footer">
						<a href="#" class="card-footer-item">Watch the Video &rarr;</a>
					</footer>
				</div>
			</div>
		</layout-aside>
	</div>
</template>


<script>
	export default {
		computed: {
			shouldDisableSubmit() {
				const status = this.$store.getters.smsEstimationStatus;
				const err = this.$store.getters.smsEstimation.error;
				const data = this.$store.getters.smsEstimation;
				return status !== 'loaded' || err || !data || !data.totalMessages || !data.estimatedCost;
			}
		},

		mounted() {
		}
	}
</script>
