<template>
	<div class="columns is-mobile is-multiline">
		<div class="column is-full-mobile is-full-tablet is-full-desktop is-half-fullhd">
			<h5 class="title is-6 has-text-centered">Send Message To</h5>
			<div class="card has-tabs-header">
				<div class="card-header">
					<div class="tabs is-boxed is-centered style-in-card">
						<ul>
							<li :class="{ 'is-active': currentActiveRecipientsTab === 'custom_single' }">
								<a href="#" @click.prevent="() => updateUseList('custom_single')">
									<span class="icon is-small">
										<i class="icon-user"></i>
									</span>
									<span>Single Number</span>
								</a>
							</li>
							<li :class="{ 'is-active': currentActiveRecipientsTab === 'custom' }">
								<a href="#" @click.prevent="() => updateUseList('custom')">
									<span class="icon is-small">
										<i class="icon-pencil"></i>
									</span>
									<span>Paste List</span>
								</a>
							</li>
							<li :class="{ 'is-active': currentActiveRecipientsTab === 'saved' }">
								<a href="#" @click.prevent="() => updateUseList('saved')">
									<span class="icon is-small">
										<i class="icon-list"></i>
									</span>
									<span>Select List</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="card-content">
					<template v-if="currentActiveRecipientsTab === 'custom_single'">
						<form-field
							key="single_contact"
							:model="model"
							property="single_contact"
							:errors="errors"
							:validation="{ required: true, phoneNumber: true }"
							:on-change="updateSingleContact"
							type="tel-input"
							placeholder="Type here..."

							label="Phone Number"
						></form-field>

						<!-- <form-field
							key="single_contact"
							:model="model"
							property="single_contact"
							:errors="errors"
							:on-change="updateSingleContact"
							type="text"
							icon="screen-smartphone"
							placeholder="Type here..."

							label="Phone Number"
						></form-field> -->
					</template>
					<template v-if="currentActiveRecipientsTab === 'saved'">
						<form-field
							key="list_id"
							:model="model"
							property="list_id"
							:errors="errors"
							:options="$store.getters.allLists"
							option-track-by="id"
							option-value="id"
							option-label="name"
							:multiple="false"
							:searchable="false"
							:on-change="updateLists"
							type="multiselect"
							placeholder="Select list"
							action-on-init="getAllLists"

							label="Choose from saved lists"
						></form-field>
					</template>
					<template v-if="currentActiveRecipientsTab === 'custom'">
						<form-field
							key="contacts"
							:model="model"
							property="contacts"
							:errors="errors"
							:on-change="updateContacts"
							type="textarea"
							placeholder="One number per line including country code. For example + 1 123 456 789"

							label="Manually add numbers"
							class="size-match-field-with-meta"
						></form-field>
						<!-- :validation="{ required: true, phoneNumber: { localCountry: model.default_prefix } }" -->
					</template>
					
					<form-field
						key="default_prefix"
						:model="model"
						property="default_prefix"
						:errors="errors"
						:options="$store.getters.allPhonePrefixess"
						option-track-by="iso2"
						option-value="iso2"
						option-label="name"
						:property-is-option-value="true"
						:on-change="updateDefaultPrefix"
						:multiple="false"
						:searchable="true"
						type="multiselect"
						placeholder="Select Default Prefix"
						action-on-init="getAllPhonePrefixes"
						
						label="Default Prefix"
						class="is-inline-block"
					></form-field>

				</div>
			</div>
		</div>
		<div class="column is-full-mobile is-full-tablet is-full-desktop is-half-fullhd">
			<h5 class="title is-6 has-text-centered">Message Details</h5>
			<div class="card has-tabs-header">
				<div class="card-header">
					<div class="tabs is-boxed is-centered style-in-card">
						<ul>
							<li :class="{ 'is-active': currentActiveMessageTab === 'custom' }">
								<a href="#" @click.prevent="updateUseTemplate('custom')">
									<span class="icon is-small">
										<i class="icon-pencil"></i>
									</span>
									<span>Write Message</span>
								</a>
							</li>
							<li :class="{ 'is-active': currentActiveMessageTab === 'saved' }">
								<a href="#" @click.prevent="updateUseTemplate('saved')">
									<span class="icon is-small">
										<i class="icon-layers"></i>
									</span>
									<span>Saved Template</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="card-content">
					<template v-if="currentActiveMessageTab === 'saved'">
						<form-field
							key="template_id"
							:model="model"
							property="template_id"
							:errors="errors"
							:options="$store.getters.allTemplates"
							option-track-by="id"
							option-value="id"
							option-label="name"
							:multiple="false"
							:searchable="false"
							:on-change="updateSelectedTemplate"
							type="multiselect"
							placeholder="Select template"
							action-on-init="getAllTemplates"

							label="Choose from saved templates"
						></form-field>
					</template>
					<template v-if="currentActiveMessageTab === 'custom'">
						<form-field
							key="message"
							:model="model"
							property="message"
							:errors="errors"
							:on-change="updateMessage"
							type="textarea"
							placeholder="Type your message"
							
							:show-meta="true"
							
							label="Manually write a message"

							ref="messageField"
						>
							<template slot="actions">
								<router-link class="navbar-item" :to="{ name: 'app.sms.send' }">
									<popover ref="messageFieldsPopover">
										<tooltip class="message-action" content="Save as Template" placement="top">
											<span class="icon is-small">
												<span class="icon-layers"></span>
											</span>
											<span class="label">Save</span>
										</tooltip>
										<div slot="content" class="message-fields">
											<template v-if="!simulatedTemplateDisableSubmit">
												<o-form
													entity="template"
													mode="add-inline"
													:model="simulatedTemplate"
													:disable-submit="simulatedTemplateDisableSubmit"
													form-style="inline"
													submit-label=""

													@on-submit-success="simulatedTemplateFormSubmitSuccess"
													@on-submit-error="simulatedTemplateFormSubmitError"
												></o-form>
											</template>
											<p class="has-text-centered" v-else>
												Please type a message first.
											</p>
										</div>
									</popover>
								</router-link>
								<!-- <router-link class="navbar-item" :to="{ name: 'app.sms.send.shortlinks.new' }">
									<tooltip class="message-action" content="Insert shortlink" placement="top">
										<span class="icon is-small">
											<span class="icon-link"></span>
										</span>
										<span class="label">Link</span>
									</tooltip>
								</router-link> -->
								<!-- <router-link class="navbar-item" :to="{ name: 'app.sms.send' }">
									<popover ref="messageFieldsPopover">
										<tooltip class="message-action" content="Insert Contact Specific Fields" placement="top">
											<span class="icon is-small">
												<span class="icon-notebook"></span>
											</span>
											<span class="label">Fields</span>
										</tooltip>
										<div slot="content" class="message-fields">
											<a href="#" class="button" v-for="p in availableMessageFields" @click.prevent="addFieldToMessage(p)">{{p}}</a>
										</div>
									</popover>
								</router-link> -->
								<a href="#" v-if="listIdSelected" class="navbar-item" @click.prevent="addFieldToMessage('optout')">
									<tooltip class="message-action" content="Insert out-out link" placement="top">
										<span class="icon is-small">
											<span class="icon-logout"></span>
										</span>
										<span class="label">Opt-Out Link</span>
									</tooltip>
								</a>
							</template>
						</form-field>
					</template>
					<form-field
						key="sender_id"
						:model="model"
						property="sender_id"
						:errors="errors"
						:on-change="updateSenderId"
						type="text"
						icon="user"
						placeholder="Sender ID..."

						label="Sender ID"
						class="is-inline-block"
					></form-field>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import Utils from '../../../../utils';

	export default {
		props: {
			model: {
				type: Object,
				required: true
			},
			errors: {
				type: [Array, Object]
			}
		},

		data() {
			return { phone: null };
		},

		mounted() {
			this.applyGivenTemplate();
		},

		computed: {
			currentActiveRecipientsTab() {
				return this.model.useList; // custom_single, custom, saved
			},
			currentActiveMessageTab() {
				return this.model.useTemplate; // custom, saved
			},
			availableMessageFields() {
				return ['name', 'surname', 'email', 'phone'];
			},
			simulatedTemplate() {
				return {
					name: null,
					messages: this.model.message
				};
			},
			simulatedTemplateDisableSubmit() {
				// return !this.simulatedTemplate || !this.simulatedTemplate.name || !this.simulatedTemplate.messages;
				return !this.simulatedTemplate || !this.simulatedTemplate.messages;
			},
			listIdSelected() {
			    return this.model.list_id;
			}
		},

		methods: {
			applyGivenTemplate() {
				if(this.$route.query && this.$route.query.template && this.$store.getters.allTemplates) {
					const local = _.find(this.$store.getters.allTemplates, (t) => t.id === this.$route.query.template);
					if(local) {
						this.updateSelectedTemplate(local);
						return;
					}
				}
			},
			updateLists(value) {
				this.$store.dispatch('updateSMSNewOne', { list_id: value });
			},
			updateContacts(value) {
				this.$store.dispatch('updateSMSNewOne', { contacts: value });
			},
			updateSingleContact(value) {
				this.$store.dispatch('updateSMSNewOne', { single_contact: value });
			},
			updateDefaultPrefix(value) {
				this.$store.dispatch('updateSMSNewOne', { default_prefix: value });
			},
			updateSelectedTemplate(value) {
				this.$store.dispatch('updateSMSNewOne', { template_id: value });
			},
			updateMessage(value) {
				this.$store.dispatch('updateSMSNewOne', { message: value });
			},
			updateSenderId(value) {
				this.$store.dispatch('updateSMSNewOne', { sender_id: value });
			},

			updateUseList(value) {
				this.$store.dispatch('updateSMSNewOne', { useList: value });
			},
			updateUseTemplate(value) {
				this.$store.dispatch('updateSMSNewOne', { useTemplate: value });
			},

			simulatedTemplateFormSubmitSuccess(payload, response) {
				// this.updateMessage(null);
				this.updateSelectedTemplate(response.data);
				this.updateUseTemplate('saved');
			},
			simulatedTemplateFormSubmitError(payload, response) {
				console.log('nope.... it died...', response);
			},

			addFieldToMessage(fieldName) {
				// const availableFields = this.availableMessageFields;
				// if(availableFields.indexOf(fieldName) === -1) {
				// 	return;
				// }

				const caretPosition = Utils.getCaretPosition(this.$refs.messageField.$refs.input);

				const baseMessage = this.model.message || '';

				const fieldCode = '{' + fieldName + '}';

				const presentAtTarget = baseMessage.substring(caretPosition - fieldCode.length, caretPosition) === fieldCode;

				this.$refs.messageField.$refs.input.focus();
				
				if(presentAtTarget) {
					return;
				}

				const messageSegments = [baseMessage.substring(0, caretPosition), fieldCode, baseMessage.substring(caretPosition, baseMessage.length)];
				this.updateMessage(messageSegments.join(''));
			}
		}
	}
</script>
