<template>
	<div>
		<div class="messages-stats">
			<div class="columns is-mobile">
				<div class="column">
					<p class="subtitle">Messages</p>
					<p class="title">{{estimation.totalMessages}}</p>
				</div>
				<div class="column">
					<p class="subtitle">Estimated Cost</p>
					<p class="title" :class="{ 'has-text-danger': notEnoughBalance }"><o-number-beautifier :value="estimation.estimatedCost" /></p>
				</div>
			</div>
		</div>
		<div class="message-status" v-if="estimationError && !notEnoughBalance">
			<div class="level is-mobile">
				<div class="level-left">
					<div class="level-item has-text-danger">
						<div class="icon">
							<div class="icon-info"></div>
						</div>
						<div>{{estimationErrorLabel}}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="message-status" v-if="notEnoughBalance">
			<div class="level is-mobile">
				<div class="level-left">
					<div class="level-item has-text-danger">
						<div class="icon">
							<div class="icon-info"></div>
						</div>
						<div>Not enough funds</div>
					</div>
				</div>
				<div class="level-left">
					<router-link :to="{ name: 'app.add-funds' }">
						<span class="icon">
							<span class="icon-credit-card"></span>
						</span>
						<span class="name">Add Funds</span>
					</router-link>
				</div>
			</div>
		</div>
		<div class="message-settings">
			<p class="subtitle">Send</p>
			<div class="level is-mobile">
				<div class="level-left">
					<div class="level-item">Immediately</div>
				</div>
				<div class="level-right">
					<div class="level-item">
						<o-switch :checked="model.send_immediately" type="primary" size="small" :on-change="updateSendImediately"></o-switch>
					</div>
				</div>
			</div>
			<div class="level is-mobile">
				<div class="level-left">
					<div class="level-item">Later</div>
				</div>
				<div class="level-right">
					<div class="level-item">
						<o-switch :checked="isSendLater" type="primary" size="small" :on-change="updateSendLater"></o-switch>
					</div>
				</div>
			</div>

			<template v-if="isSendLater">
				<transition-group name="zoom">
					<form-field
						key="send_later"
						type="datepicker"
						:model="model"
						property="send_later"
						:errors="errors"
						:options="{ enableTime: true, defaultDate: sendLaterMinDate, minDate: sendLaterMinDate, altInput: true, altFormat: 'F j Y at H:i' }"
						:on-change="updateSendLaterDate"
						placeholder="Select date..."
					></form-field>
					<form-field
						key="timezone"
						:model="model"
						property="timezone"
						:errors="errors"
						:options="$store.getters.allTimezones"
						option-track-by="id"
						option-value="id"
						option-label="name"
						:multiple="false"
						:searchable="true"
						:on-change="updateTimezone"
						type="multiselect"
						placeholder="Select Timezone"
						action-on-init="getAllTimezones"

						label="Timezone"
						class="style-small-label"
					></form-field>
				</transition-group>
			</template>
		</div>
		<div class="loading-container" v-if="isEstimating">
			<div class="loader"></div>
		</div>
	</div>
</template>

<script>
	import moment from 'moment';

	export default {
		props: {
			model: {
				type: Object,
				required: true
			},
			errors: {
				type: [Object, Array]
			}
		},

		mounted() {
			
		},

		data() {
			return { };
		},

		computed: {
			estimation() {
				return this.$store.getters.smsEstimation;
			},
			isEstimating() {
				return this.$store.getters.smsEstimationStatus === 'loading';
			},
			estimationError() {
				if(this.isEstimating) {
					return;
				}

				const estimationStatus = this.$store.getters.smsEstimationStatus;

				const friendlyError = this.$store.getters.smsEstimation.error;

				let result = friendlyError;

				const error = this.$store.getters.smsEstimationError;
				if(!result && error && estimationStatus === 'error') {
					result = error;
				}

				return result;
			},
			estimationErrorLabel() {
				if(!this.estimationError) {
					return;
				}

				let result = this.estimationError;

				if(result.response && result.response.data && result.response.data.message) {
					let message = null;
					try {
						message = JSON.parse(result.response.data.message);
						message = message.text;
					} catch(ex) {
						message = 'Something went wrong.';
					}

					result = message;
				}

				return _.upperFirst(result);
			},
			notEnoughBalance() {
				const cashBalance = parseFloat(this.$store.getters.sessionStats.cashBalance);
				const estimatedCost = parseFloat(this.estimation.estimatedCost);
				return !this.isEstimating && (!cashBalance || cashBalance < estimatedCost);
			},
			isSendLater() {
				return this.model.send_later ? true : false;
			},
			sendLaterMinDate() {
				return moment().toISOString();
			}
		},

		methods: {
			updateTimezone(value) {
				this.$store.dispatch('updateSMSNewOne', { timezone: value });
			},
			updateSendImediately() {
				const result = { send_immediately: this.model.send_immediately ? null : true };
				result.send_later = !result.send_immediately;
				this.$store.dispatch('updateSMSNewOne', result);
			},
			updateSendLater() {
				const result = { send_later: this.model.send_later ? null : moment() };
				result.send_immediately = !result.send_later;
				this.$store.dispatch('updateSMSNewOne', result);
			},
			updateSendLaterDate(date) {
				const now = moment();
				if(now.isAfter(date)) {
					date = now;
				}

				const result = { send_later: date };
				result.send_immediately = !!!result.send_later;
				this.$store.dispatch('updateSMSNewOne', result);
			}
		}
	}
</script>
