<template>

	<div>
	<br />
	<div class="columns">
		<div class="column">
			<img src="/images/logo.svg" alt="SMS.to" width="120"/>
		</div>
		<div class="column has-text-right">
			<strong class="title is-5">Invoice #{{info.invoice_number}}</strong><br />
			<strong>Created: {{info.date}} </strong>
		</div>
	</div>


	<div class="columns">
		<div class="column">
			<strong class="title is-5">SMS.to Intergo Telecom Ltd,</strong><br />
			<strong>Nikolaou Nikolaidi 3, Office 206,</strong><br />		
			<strong>Paphos, 8010, Cyprus,</strong>		
		</div>
		<div class="column has-text-right">
			<strong class="title is-5">{{info.billing_name}}</strong><br />
			<strong>{{info.billing_address}}</strong><br />
			<strong>{{info.billing_country}} {{info.billing_postal_code}}</strong><br />
		</div>
	</div>

	<table class="table is-bordered is-hoverable is-fullwidth">
		<thead class="has-background-primary">
			<tr>
				<th class="has-text-black-bis">Payment Method</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="is-uppercase">{{info.payment_method}}</td>
			</tr>
		</tbody>
	</table>


	<table class="table is-bordered is-hoverable is-fullwidth">
		<thead class="has-background-primary">
			<tr>
				<th width="75%" class="has-text-black-bis">Item</th>
				<th width="25%" class="has-text-black-bis has-text-right">Price</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>TOP UP</td>
				<td class="has-text-right">&euro;{{info.amount}}</td>
			</tr>
			<tr>
				<td>VAT</td>
				<td class="has-text-right">&euro;{{parseFloat(info.vat)}}</td>				
			</tr>
			<tr>
				<td class="has-text-right has-text-weight-bold">TOTAL</td>
				<td class="has-text-right has-text-weight-bold">&euro;{{parseFloat(info.amount) + parseFloat(info.vat)}}</td>				
			</tr>
		</tbody>
	</table>


	</div>
</template>

<script>
	import moment from 'moment';
	
	export default {
		props: {
			model: {
				type: Object,
				required: true
			},
			errors: {
			}
		},

		computed: {
			createdOnStamp() {
				return this.model.created_at ? moment(this.model.created_at).format('MMMM Do YYYY') : null;
			}
		},
		data() {
			return {
				info: [],
				paymentId: null
			 };
		},
		 mounted () {
			let paymentId = _.last( window.location.href.split( '/' ) ); 
			console.log(paymentId);

			axios.get(window.location.origin + '/api/v1/payments/' + paymentId)
			.then(response => (this.info = response.data.data))
		}
	}
</script>
