<template>
	<div>
		<p class="subtitle has-text-centered has-text-danger" v-if="hasNoLinks">
			<br />
			<span class="icon is-large">
				<span class="icon-close"></span>
			</span>
			<br />
			Unfortunately, no download links are currently available for this report.
		</p>
		<div class="columns is-multiline" v-else>
			<div class="column is-half" v-if="excelLink">
				<a :href="excelLink" class="level style-file-download">
					<span class="level-left">
						<span class="level-item">
							<span class="icon is-large">
								<span class="fa fa-file-excel-o"></span>
							</span>
						</span>
						<span class="level-item">
							Microsoft Excel
						</span>
						<span class="level-item is-secondary">
							(.xlsx)
						</span>
					</span>
				</a>
			</div>
			<!-- <div class="column is-half">
				<a href="#" class="level style-file-download">
					<span class="level-left">
						<span class="level-item">
							<span class="icon is-large">
								<span class="fa fa-file-o"></span>
							</span>
						</span>
						<span class="level-item">
							OpenDocument
						</span>
						<span class="level-item is-secondary">
							(.ods)
						</span>
					</span>
				</a>
			</div>
			<div class="column is-half">
				<a href="#" class="level style-file-download">
					<span class="level-left">
						<span class="level-item">
							<span class="icon is-large">
								<span class="fa fa-file-pdf-o"></span>
							</span>
						</span>
						<span class="level-item">
							PDF Document
						</span>
						<span class="level-item is-secondary">
							(.pdf)
						</span>
					</span>
				</a>
			</div> -->
			<div class="column is-half" v-if="csvLink">
				<a :href="csvLink" class="level style-file-download">
					<span class="level-left">
						<span class="level-item">
							<span class="icon is-large">
								<span class="fa fa-file-text-o"></span>
							</span>
						</span>
						<span class="level-item">
							Comma-separated
						</span>
						<span class="level-item is-secondary">
							(.csv)
						</span>
					</span>
				</a>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			model: {
				type: Object,
				required: true
			},
			errors: {
				type: [Object, Array]
			}
		},

		data() {
			return { };
		},

		computed: {
			excelLink() {
				return this.model.excel;
			},
			csvLink() {
				return this.model.csv;
			},
			hasNoLinks() {
				return !this.excelLink && !this.csvLink;
			}
		}, mounted(){
		
		}
	}
</script>
