<template>
    <div>
        API DASHBOARD <br />
        <router-link :to="{ name: 'app.api.data' }">Go to API DATA</router-link>
    </div>
</template>


<script>
    export default {
        mounted() {
        }
    }
</script>
