<template>
    <div>
        API DATA <br />
        <router-link :to="{ name: 'app.api.dashboard' }">Go to API DASHBOARD</router-link>
    </div>
</template>


<script>
    export default {
        mounted() {
        }
    }
</script>
