<template>
	<div>
		<modal-form
			entity="add-funds"
			mode="add"

			:form-mode="$route.params.method"

			form-entity="payment-method"

			:defaults="defaults"
			on-close-route="app.add-funds"
		></modal-form>
	</div>
</template>

<script>
	import _ from 'lodash';

	export default {
		beforeRouteEnter(to, from, next) {
			const match = _.find(to.matched, (match) => match && match.name === to.name);
			let parentRoute;
			if(match) {
				parentRoute = match.parent;
			}

			next((vm) => {
				if(!vm.amountIsValid()) {
					if(!parentRoute) {
						parentRoute = from;
					}
					vm.$router.push({ name: parentRoute.name });
				}
			});
		},


		methods: {
			amountIsValid() {
				const model = this.model || this.defaults;
				const amount = model.amount ? parseFloat(model.amount) : null;
				return _.isFinite(amount) && amount >= 10;
			}
		},

		data() {
			return {
				defaults: {
					...this.$store.getters.singleAddFunds(),
					
					cardHolder: null,
					cardNum: null,
					expMnth: (new Date()).getMonth(),
					expYear: (new Date()).getFullYear() + 1,
					cvc: null
				}
			};
		}
	}
</script>
