<template>
	<div class="level is-mobile style-filters-inline">
		<div class="level-left">
			<div class="level-item filter">
				<o-dropdown :label="timePeriodLabel">
					<div slot="content">
						<o-dropdown-item :model="property" v-for="property in timePeriods" :key="property.value" @click="updateTimePeriod">{{property.label}}</o-dropdown-item>
					</div>
				</o-dropdown>
			</div>
			<div class="level-item" v-if="isSendingActivity">
				from:
			</div>
			<div class="level-item filter" v-if="isSendingActivity">
				<form-field
					type="datepicker"
					:model="this"
					property="periodStart"
					:errors="{}"
					:allow-empty="false"
					:options="{ enableTime: false }"
					:on-change="updatePeriodStart"
					size="small"
					class="style-filter"
				></form-field>
			</div>
			<div class="level-item" v-if="isSendingActivity">
				to
			</div>
			<div class="level-item filter" v-if="isSendingActivity">
				<form-field
					type="datepicker"
					:model="this"
					property="periodEnd"
					:errors="{}"
					:allow-empty="false"
					:options="{ enableTime: false }"
					:on-change="updatePeriodEnd"
					size="small"
					class="style-filter"
				></form-field>
			</div>
		</div>
	</div>
</template>

<script>
	import _ from 'lodash';

	export default {
		props: {
			type: {
				type: String,
				required: true
			},
			chart: {
				type: String,
				required: true
			},
			timePeriod: {},
			periodStart: {},
			periodEnd: {}
		},

		data() {
			return { model: { } }
		},

		computed: {
			isSendingActivity() {
				return this.type === 'sending-activity';
			},
			timePeriods() {
				if(this.isSendingActivity) {
					return [
						{ value: 'monthly', label: 'Monthly' },
						{ value: 'weekly', label: 'Weekly' },
						{ value: 'daily', label: 'Daily' }
					];
				}
				return [
					{ value: 'last_month', label: 'Last month' },
					{ value: 'this_month', label: 'This month' },
					{ value: 'last_week', label: 'Last week' },
					{ value: 'this_week', label: 'This week' },
					{ value: 'last_year', label: 'Last year' },
					{ value: 'this_year', label: 'This year' }
				];
			},
			timePeriodLabel() {
				const property = this.timePeriods.find((p) => p.value === this.timePeriod);
				return _.upperFirst(property ? property.label : 'none');
			}
		},
		methods: {
			updateTimePeriod(property) {
				this.$emit('timePeriodChanged', property.value);
			},
			updatePeriodStart(value) {
				this.$emit('periodStartChanged', value);
			},
			updatePeriodEnd(value) {
				this.$emit('periodEndChanged', value);
			}
		},
		mounted() {
		}
	}
</script>