<template>
	<div class="google-chart">
		<google-chart-filters
			v-if="filterable"
			
			:type="type"
			:chart="chart"

			:time-period="timePeriod"
			:period-start="periodStart"
			:period-end="periodEnd"
			
			@timePeriodChanged="timePeriodChanged"
			@periodStartChanged="periodStartChanged"
			@periodEndChanged="periodEndChanged"
		></google-chart-filters>
		<div :class="{ 'chart-container': true, 'is-loading': isLoading }" ref="chartContainer">
			<div class="loader" v-if="isLoading"></div>
		</div>
	</div>
</template>

<script>
	import _ from 'lodash';
	import moment from 'moment';

	import GoogleChartFilters from './filters.vue';
	
	export default {
		name: 'OGoogleChart',

		components: {
			GoogleChartFilters
		},

		props: {
			type: {
				type: String,
				required: true
			},
			chart: {
				type: String,
				required: true
				// default: 'geochart'
			},
			filterable: {
				type: Boolean,
				default: true
			}
		},

		computed: {
			listGetterName() {
				return _.camelCase(this.type) + 'Chart';
			},
			isLoading() {
				return this.$store.getters[this.listGetterName + 'Status'] === 'loading';
			},
			content() {
				return this.isLoading ? [] : this.$store.getters[this.listGetterName + 's'] || [];
			}
		},

		data() {
			return {
				timePeriod: this.type === 'sending-activity' ? 'monthly' : 'this_month',
				periodStart: moment().startOf('month').toISOString().split('T')[0],
				periodEnd: moment().endOf('month').toISOString().split('T')[0]
			};
		},

		methods: {
			timePeriodChanged(timePeriod) {
				this.timePeriod = timePeriod;
				this.refreshChart();
			},
			periodStartChanged(periodStart) {
				this.periodStart = periodStart;
				this.refreshChart();
			},
			periodEndChanged(periodEnd) {
				this.periodEnd = periodEnd;
				this.refreshChart();
			},

			loadData() {
				const payload = {
					params: {
						filter: this.timePeriod
					}
				};
				if(this.type === 'sending-activity') {
					payload.params = { ...payload.params, start_date: this.periodStart, end_date: this.periodEnd };
				}
				return this.$store.dispatch('get' + _.upperFirst(this.listGetterName), payload).then(() => {
					// this.setHeatmapData();
				});
			},

			loadChart() {
				google.charts.load('current', {
					'packages': this.chart === 'corechart' ? ['corechart', 'bar'] : [this.chart],
					// Note: you will need to get a mapsApiKey for your project.
					// See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
					'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
				});
				google.charts.setOnLoadCallback(() => {
					this['drawChart' + _.upperFirst(this.chart)]();
				});
			},

			drawChartGeochart() {
				const heading = ['Country', 'Popularity'];
				let data = [ ...[heading], ...this.content ];

				data = google.visualization.arrayToDataTable(data);

				const options = {
					// region: 'IT',
					// displayMode: 'markers',
					// colorAxis: { colors: ['green', 'blue'] }
					colorAxis: { colors: ['#46A1FF'] }
				};
				const chart = new google.visualization.GeoChart(this.$refs.chartContainer);
				chart.draw(data, options);
			},

			drawChartCorechart() {
				const heading = ['Area', 'Amount', { role: 'style' }];
				let data = this.content.map((entry) => [...entry, '#46A1FF']);
				if(!data.length) {
					return;
				}
				data = [ ...[heading], ...data];
				data = google.visualization.arrayToDataTable(data);

				const view = new google.visualization.DataView(data);
				view.setColumns([0, 1, { calc: 'stringify', sourceColumn: 1, type: 'string', role: 'annotation' }, 2]);

				const options = {
					// title: 'Density of Precious Metals, in g/cm^3',
					// width: 600,
					// height: 400,
					bar: { groupWidth: '95%' },
					legend: { position: 'none' }
				};
				const chart = new google.visualization.ColumnChart(this.$refs.chartContainer);
				chart.draw(view, options);
			},
			refreshChart() {
				return this.loadData().then(() => {
					this.loadChart();
				});
			}
		},

		mounted() {
			this.refreshChart();
		}
	};
</script>
