<template>
	<div class="columns">
		<div class="column">
			<h3 class="title section-title">SMS Sent</h3>
			<router-link :to="{ name: 'app.reports' }">View log &rarr;</router-link>
		</div>
		<div class="column">
			<div class="card style-stat">
				<div class="card-content">
					<p class="subtitle">Today</p>
					<p class="title">{{model.today.value}}
						<span class="change-info" v-bind:class="{ 'is-negative': model.today.change.negative }" v-if="model.today.change && model.today.change.value">{{model.today.change.value}}%</span>
					</p>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="card style-stat">
				<div class="card-content">
					<p class="subtitle">Yesterday</p>
					<p class="title">{{model.yesterday.value}}
						<span class="change-info" v-bind:class="{ 'is-negative': model.yesterday.change.negative }" v-if="model.yesterday.ch && model.yesterday.change.value">{{model.yesterday.change.value}}%</span>
					</p>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="card style-stat">
				<div class="card-content">
					<p class="subtitle">Last 7 days</p>
					<p class="title">{{model.last7Days.value}}
						<span class="change-info" v-bind:class="{ 'is-negative': model.last7Days.change.negative }" v-if="model.last7Days.ch && model.last7Days.change.value">{{model.last7Days.change.value}}%</span>
					</p>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="card style-stat">
				<div class="card-content">
					<p class="subtitle">This month</p>
					<p class="title">{{model.month.value}}
						<span class="change-info" v-bind:class="{ 'is-negative': model.month.change.negative }" v-if="model.month.change && model.month.change.value">{{model.month.change.value}}%</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			model: {
				type: Object,
				required: true
			}
		},

		data() {
			return { };
		}
	}
</script>
