
.layout-aside { height: 100%; padding: 0; margin: 0; background-color: $app-gray-light;
	aside.aside { padding: 0; }
	div.main-content { flex-basis: auto; background-color: $white; min-height: 0; padding: 0; }

	aside.aside, div.main-content { display: flex; flex-direction: column; min-height: 0;
		.actual-page-content { display: flex; min-height: 0; flex: 1 1 auto;
			> .inner { display: flex; flex: 1; flex-direction: column; min-height: 0; overflow-x: auto; padding: 0.75rem; }

			@include from($tablet) {
				> .inner { overflow-x: hidden; overflow-y: auto; }
			}
		}
	}

	aside.aside {
		@include from($tablet) {
			> .inner { overflow-x: hidden; overflow-y: auto; }
		}
	}

	@include from($tablet) {
		aside.aside { flex: 0 0 280px; }
	}
}