<template>
	<div>
		<form-field :model="model" property="name" :errors="errors" type="text" icon="list" placeholder="Full name"></form-field>
		<form-field :model="model" property="description" :errors="errors" type="textarea" icon="fa-align-justify" placeholder="Description"></form-field>
	</div>
</template>

<script>
	export default {
		props: {
			model: {
				type: Object,
				required: true
			},
			errors: {
				type: [Object, Array]
			}
		},

		data() {
			return { };
		}
	}
</script>
