<template>
	<div>
		<h2 class="title is-5">
			{{model.name}}
			<span class="icon" v-bind:class="{ 'has-text-danger': model.favorite }">
				<span class="icon-star"></span>
			</span>
		</h2>
		<p class="subtitle">Created on {{createdOnStamp}}</p>

		<h2 class="title is-6 is-marginless">
			<router-link :to="{ name: 'app.manage.lists.edit', params: { id: model.id } }">
				<span class="icon">
					<span class="icon-pencil"></span>
				</span>
				Edit List
			</router-link>
		</h2>
		<br />
		<article class="message" v-if="hasDescription">
			<div class="message-body">{{model.description}}</div>
		</article>
	
		<template v-if="model.is_importing">
			<h2 class="title is-6">
				<span class="level is-mobile">
					<span class="level-left">
						<span class="level-item has-text-danger">
							<span class="icon">
								<span class="loader"></span>
							</span>
							<span>Importing contacts...</span>
						</span>
					</span>
				</span>
			</h2>
		</template>
		<template v-else>
			<h2 class="title is-6">Contacts ({{contactsCount}})</h2>
			<o-list
				entity="contact"
				:as-table="true"
				table-columns-component="o-table-columns-list-contacts"
				:allow-create="false"
				:show-nothing-on-first-load="true"
				:filterBy="{ list: model.id }"
			></o-list>
		</template>
	</div>
</template>

<script>
	import moment from 'moment';
	import _ from 'lodash';

	export default {
		props: {
			model: {
				type: Object,
				required: true
			},
			errors: {
				type: [Object, Array]
			}
		},

		computed: {
			createdOnStamp() {
				if(!this.model.created_at) {
					return;
				}
				return moment(this.model.created_at).format('MMMM Do YYYY');
			},
			hasDescription() {
				return this.model && !_.isEmpty(this.model.description);
			},
			contactsCount() {
				return this.model && this.model.number_contacts ? this.model.number_contacts : 0;
			}
		},

		data() {
			return {  };
		}
	}
</script>
