
.box {
	&.style-form { padding: 0;
		> .box-content { padding: $box-padding $box-padding ($box-padding * 0.8) $box-padding;
			.box-image { padding-bottom: ($box-padding * 0.8); text-align: center; }
			.title { font-size: 1.5rem; text-align: center; }
			.subtitle { margin-top: -1rem; color: $box-color; font-size: 1rem; text-align: center; }

			.is-main { color: $black; }

			.social-auth { padding-top: 0.5em;
				.subtitle { margin-top: 0;
					&:not(:last-child) { margin-bottom: 1em; }
				}
			}
		}
		> .box-actions { border-top: 1px solid $border; display: flex; justify-content: center; padding: ($box-padding * 0.5) $box-padding ($box-padding * 0.6) $box-padding;
			p { text-align: center; }


			&.is-spaced { border-top-width: 0; padding-top: ($box-padding * 0.2); padding-bottom: $box-padding; color: $black; }
		}
	}
}
