
.card {
	&.style-list { border: 1px solid $border; box-shadow: none;
		.card-content { padding: 1rem;
			.title { padding-bottom: 0.4rem; font-size: 1.4rem; font-weight: 500; }
			.subtitle { color: $text; font-size: 0.95rem; }
		}
		.card-footer { border-top-width: 0;
			.card-footer-item { justify-content: flex-start; padding: 1rem; font-size: 0.9rem; font-weight: 500; text-transform: uppercase; }
			.navbar { background-color: transparent; flex: 1 1 auto; min-height: 0!important;
				.navbar-end { background-color: rgba($black, 0.025); }
			}
		}
		.card-extras { position: absolute; top: 12px; right: 12px;
			a { color: $grey;
				&.active { color: $orange; }
			}
		}
		&:hover { background-color: $app-blue-light; border-color: #a0ddff; transition: all $transition-speed ease-in-out; }

		@include desktop() {
			.card-footer {
				.navbar {
					.navbar-end { background-color: transparent; }
				}
			}
		}
	}
	&.style-template { border: 1px solid $border; box-shadow: none;
		.card-content { padding: 0; }
		.card-footer { padding: 0;
			.navbar { background-color: transparent; flex: 1 1 auto; min-height: 0!important;
				.navbar-end { background-color: rgba($black, 0.025); }
			}
		}
		.template-message { height: 200px; padding: 0.4em; overflow-y: auto; }
		.template-meta { display: flex; flex-direction: column; align-items: flex-start; line-height: 1.3;
			.name { }
			.char-count { font-size: 0.7rem; }
		}

		&:hover { border-color: #a0ddff; transition: all $transition-speed ease-in-out; }

		@include desktop() {
			.card-footer {
				.navbar {
					.navbar-end { background-color: transparent; }
				}
			}
		}
	}
	&.style-field { border: 1px solid $border;
		.card-content { padding: 0; }
		.card-footer { padding: 0;
			.navbar { flex: 1 1 auto; min-height: 0!important; }
		}
		.field-meta { display: flex; flex-direction: column; align-items: flex-start; line-height: 1.3;
			.name { }
			.char-count { font-size: 0.7rem; }
		}

		&:hover { border-color: $input-hover-border-color; transition: all $transition-speed ease-in-out; }
	}
	&.style-stats { box-shadow: none; background-color: $app-blue-light; padding: 1rem 1rem 0 1rem;
		&.is-loading {
			> .card-content { display: flex; align-items: center; justify-content: center; height: 60px;
				> .loader { border-color: $primary; border-top-color: transparent; border-right-color: transparent; }
			}
		}
		.card-content { padding: 0;
			.title { font-weight: 500;
				small { font-size: 0.75rem; font-weight: 400; }
			}
			.subtitle { padding-bottom: 0.4rem; font-size: 0.75rem; font-weight: 400; text-transform: uppercase; }
			.message-status { margin-top: 0.5rem;
				.level { margin-bottom: 0.5rem; }
			}
			.message-settings { border-top: $card-footer-border-top; padding-top: 0.5rem; margin-top: 0.5rem;
				.subtitle { margin: 0 0 0.5rem 0; padding-bottom: 0; }
				.level { margin-bottom: 0.5rem; }
			}
		}
		.card-footer { margin-top: 1.5rem; }
	}
	&.style-overview { box-shadow: $card-has-tabs-header-shadow; background-color: $app-blue-light; padding: 0;
		.card-content { padding: 1rem;
			.title { font-weight: 500;
				small { font-size: 0.75rem; font-weight: 400; }
			}
			.subtitle { padding-bottom: 0.4rem; font-size: 0.75rem; font-weight: 400; text-transform: uppercase; }
			hr { background-color: darken($app-blue-light, 5%); margin: 0.5rem 0; }
		}
		&:hover { box-shadow: 0 2px 3px #a0ddff, 0 0 0 1px #a0ddff; transition: all $transition-speed ease-in-out; }
	}
	&.style-info, &.style-info-blue { box-shadow: none; background: url('../images/baguette.png') no-repeat bottom right; border: 1px solid $border;
		.card-content { padding-bottom: 0.5rem;
			.title { text-transform: uppercase; margin-bottom: 1rem;
				&, > span { font-size: 1rem; font-weight: 500; }
				span { vertical-align: middle; }
				.icon { font-size: 1.3rem; margin-right: 2px; }
			}
			p { color: $black; font-size: 1.1rem; }
		}
		.card-footer { border-top-width: 0;
			.card-footer-item { justify-content: flex-start; padding: 1rem 1.5rem; font-size: 0.9rem; font-weight: 500; text-transform: uppercase; }
		}
	}
	&.style-info-blue { background: url('../images/baguette-wannabe-small.png') no-repeat bottom right $primary;
		.card-content { color: $white;
			.title { }
			p { color: $white; }
		}
		.card-footer { padding-bottom: 0.5rem;
			a.card-footer-item { color: $white;
				&:hover, &:active { color: $white; text-decoration: underline; }
			}
		}
	}
	&.style-info-white { background: none;
		.card-footer { border-top-width: 0;
			.card-footer-item { font-weight: 700; }
		}
	}

	&.style-session {
		.card-content { padding: 0.75rem; }
		&:hover { box-shadow: 0 2px 3px #a0ddff, 0 0 0 1px #a0ddff; transition: all $transition-speed ease-in-out; }
	}
	&.style-actions { box-shadow: none; border: 1px solid $border;
		.card-content { padding-bottom: 0.5rem;
			.title { text-transform: uppercase; margin-bottom: 1rem;
				&, > span { font-size: 1rem; font-weight: 500; }
				span { vertical-align: middle; }
				.icon { font-size: 1.3rem; margin-right: 2px; }
			}
			p { color: $black; font-size: 1.1rem; }
		}
	}
	&.style-stat { box-shadow: $card-style-stat-shadow; background-color: $white; border-radius: $radius; padding: 1rem;
		.card-content { padding: 0;
			.title { font-weight: 500;
				small { font-size: 0.57em; font-weight: 400; }
			}
			.subtitle { padding-bottom: 0.4rem; color: $text-light; font-size: 0.75rem; font-weight: 400; text-transform: uppercase; }
			.change-info { font-weight: 400; font-size: 1rem; line-height: 1;
				&:before { content: "\f176"; display: inline-block; padding-right: 0.5rem; color: $success; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit; }
				&.is-negative {
					&:before { content: "\f175"; color: $danger; }
				}
			}
		}
	}
	&.has-tabs-header { box-shadow: $card-has-tabs-header-shadow;
		.card-header { display: block; }
	}
	&.style-big-info { box-shadow: none;
		.card-content { text-align: center;
			.icon { margin: 1rem 0 2rem 0; }
			p { font-size: 1.2rem; }
		}
	}
}
