
.checkbox {
	&.blu-checkbox { width: 16px; height: 16px; padding-left: 20px; user-select: none; display: inline;
		input[type="checkbox"] { opacity: 0; outline: none!important; position: absolute; left: 0; top: 0; cursor: pointer; }

		&:before, &:after { transition: 0.1s ease-in-out; }
		&:before { content: ""; border-radius: 2px; display: inline-block; background-color: #ffffff; border: 1px solid gainsboro; width: 16px; height: 16px; position: absolute; top: 1px; left: 0; z-index: 1; outline: none !important; }
		
		&.on {
			&:after { content: "\f00c"; position: absolute; z-index: 1; top: 4px; left: 0; display: inline-block; width: 16px; height: 16px; color: #7a7d84; font: normal normal normal 11px/1 FontAwesome; padding: 0; text-align: center; }

			&.is-primary {
				&:before { background-color: $primary; border-color: $primary; }
				&:after { color: #fff; }
			}
		}
	}
}
