
.coming-soon { position: absolute; left: 0; top: 0; bottom: 0; right: 0; z-index: 1; background: rgba($white, 0.75); display: flex; align-items: center; justify-content: center;
	.title { border: 0.2em solid $red; border-left-width: 0; border-right-width: 0; padding: 0.4em 1.2em; font-size: 1.5rem; text-transform: uppercase; transform: rotate(-25deg); }

	@include tablet() {
		.title { padding: 0.4em 2.2em; font-size: 2rem; }
	}
}
