
.cutout { box-shadow: 5px 1px 20px 12px rgba(0, 0, 0, 0.01); border-radius: 9px 9px 0 0; border: 1px solid $app-blue-light; overflow: hidden;
	&.style-light { box-shadow: 5px 1px 20px 12px rgba(0, 0, 0, 0.07); background-color: $white; border-width: 0; }
}
