
.dropdown-wrapper {
	.dropdown { display: none; }
	&:hover { display: block; }
}

.dropdown {
	// .dropdown-trigger {
	// 	.button {
	// 		span.dropdown-label { margin-left: 0; margin-right: 0; }
	// 	}
	// }
	.dropdown-menu { min-width: 0; }
}