
.entity-carousel { width: 320px; margin-top: 0; margin-bottom: 0;
	.go-left, .go-right { flex: 0 0 $icon-dimensions; display: flex; justify-content: center; align-items: center; }
	.entity-container { box-shadow: 0 0 1px 0px rgba($black, 0.1); padding: 0;
		&.is-loading { display: flex; align-items: center; justify-content: center; height: 254px;
			> .loader { }
		}
	}

	.search-container { text-align: center; }
}
