
footer.footer { background-color: $white; border-top: 1px solid $border; padding-left: 0; padding-right: 0; padding-bottom: 0;
	a { color: $black; }

	> .container { padding-bottom: 2rem; }
	
	p { padding: 0.5rem 0; color: $black; font-size: 0.9rem; }

	.secondary-menu { padding-bottom: 1rem; font-size: 0.9rem;
		a { color: $text;
			&:hover { text-decoration: underline; }
		}
	}
	.social { display: flex;
		a { padding: 0 2px; }
	}

	section.section-preferences { background-color: $app-blue-light;
		.title { font-size: 1rem; font-weight: 600; }

		.label { font-weight: 400; }

		.button {
			&.is-info { text-transform: none;
				> span:not(:first-child) { margin-right: 0; }
			}
		}
	}	
}
