
.input, .textarea, .select, .multiselect { box-shadow: 0 0 1px 0px rgba($black, 0.1); }

.control {
	.input, .select select { padding-top: 0.6em; padding-bottom: 0.6em; height: auto; }
	.select { height: auto;
		&.is-loading {
			&:after { top: 0.925em;  }
		}
	}
	.multiselect { min-height: 0;
		.multiselect__tags { min-height: 0; height: auto; padding-top: 0.8em; padding-bottom: 0.8em; }
		.multiselect__select {
			&:before { top: 70%; }
		}
		.multiselect__tags {
			&:disabled { background-color: red; }
		}
	}

	.multiselect--disabled { min-height: 0;
		.multiselect__tags { background: #ededed; color: #a6a6a6; min-height: 0; height: auto; padding-top: 0.6em; padding-bottom: 0.6em;
			.multiselect__single { background: #ededed; color: #a6a6a6; }
		}
		.multiselect__select {
			&:before { top: 60%; }
		}
	}

	.icon { width: 2.50em; height: 100%; }
	
	.button { height: auto; padding-top: 0.6em; padding-bottom: 0.6em; }

	&.has-icons-left {
		.icon { height: 100%; }
		.input { padding-left: 2.50em; }
		.multiselect {
			.multiselect__tags { padding-left: 2.50em; }
		}
	}
	&.has-icons-right {
		.icon { height: 100%; }
		.input { padding-right: 2.50em; }
	}
}

.datepicker {
	.icon-close { display: none; cursor: pointer; pointer-events: all; }
	&:hover {
		.icon-close { display: inline-block; }
		.icon-calendar { display: none; }
	}
}

.field {
	&.has-addons {
		.control {
			> .button { height: 100%; }
		}
	}

	&.has-meta {
		.control {
			.input, .textarea { box-shadow: none; border-width: 0; }
		}
		.control-wrapper { border-radius: 0 0 $input-radius $input-radius; border-radius: $input-radius; box-shadow: 0 0 1px 0px rgba($black, 0.1); overflow: hidden;
			&:focus, &:focus-within, &:active { border-color: $input-focus-border-color; box-shadow: $input-focus-box-shadow-size $input-focus-box-shadow-color; }
		}
	}

	&.style-light {
		.label { color: $app-gray-medium; font-size: 0.9rem; font-weight: 600; text-transform: uppercase;
			// &:not(:last-child) { margin-bottom: 0.25em; }

			&.style-secondary { color: $black;
				&:not(:last-child) { margin-bottom: 0; }
			}
		}

		$control-bg-normal: $app-blue-light;
		$control-bg-focus: darken($app-blue-light, 1%);

		.control {
			.input, .textarea { background-color: $control-bg-normal; border-color: $control-bg-normal;
				&:hover, &:active, &:focus { background-color: $control-bg-focus; }

				&[type='range'] { box-shadow: none; background-color: transparent; border-width: 0; padding-left: 0; padding-right: 0; }
			}
			.select {
				select { background-color: $control-bg-normal; border-color: $control-bg-normal; }
				&:not(.is-multiple) {
					&:after { border-color: $black; }
				}

				&.is-loading {
					&:after { border-color: transparent; border-left-color: $info; border-bottom-color: $info; }
				}

				&:hover, &:active, &:focus {
					select { background-color: $control-bg-focus; }
				}
			}

			.multiselect {
				.multiselect__tags { background-color: $control-bg-normal; border-color: $control-bg-normal;
					.multiselect__input, .multiselect__single { background-color: $control-bg-normal; }
				}

				&:hover, &:focus, &:active, &.is-focused, &.is-active {
					.multiselect__tags { background-color: $control-bg-focus; border-color: $control-bg-focus;
						.multiselect__input, .multiselect__single { background-color: $control-bg-normal; }
					}
				}

			}

			.icon { color: $black; }
		}
	}

	&.style-minimal { display: inline-block; width: auto;
		.multiselect { box-shadow: none; display: inline-block; width: auto; background: transparent;
			.multiselect__tags { border-radius: 0; padding: 0 4px; /* padding: 0 24px 0 4px; */ background: transparent; border: 0; cursor: pointer;
				.multiselect__tags-wrap { display: none; }
				.multiselect__single { background: transparent; border: 0; padding-left: 0; color: $link; font-size: 0.9rem; cursor: pointer; }
			}
			.multiselect__select, .multiselect__spinner { top: -7px; right: -5px; }
			.multiselect__select { display: none; }
			.multiselect__content-wrapper { box-shadow: 0 0 1px 0px rgba($black, 0.1); border-radius: 5px; right: 0; border-top: 1px solid #e8e8e8; width: auto; max-width: 200px; }
			.multiselect__option { @include text-overflow(); min-height: 16px; padding: 6px 10px; }
		}
	}

	&.style-small-label {
		.label { font-size: 0.75rem; font-weight: 500; }
	}

	&.size-match-field-with-meta {
		.control {
			.textarea { min-height: 172px; }
		}
	}

	&.style-filter { display: inline-block;
		.control {
			.input { background-color: transparent; border-width: 0; width: 104px; padding-left: 0; padding-right: 0; color: $link; font-size: 0.9rem; }
			.icon { color: $link; margin-top: 0.03em; }
		}
	}
}



form {
	&.in-modal {
		.field {
			&:last-child {
				.control {
					button.button { display: flex; width: 100%; }
				}
			}
		}
	}

	&.style-inline { display: flex; flex-direction: row; 

	}
}

.cc-form { display: flex; flex-direction: column; align-items: stretch;
	> div {
		&:not(:last-of-type) { padding-bottom: 1em; }
	}
	
	.cc-amount { }

	.cc-expiration { display: flex; flex-direction: row;
		> div { flex: 1 1 auto;
			&:not(:last-of-type) { padding-right: 1em; }
		}
	}

	@include tablet() { max-width: $tablet;
		.cc-security { display: flex; flex-wrap: wrap;
			> div { flex: 1 1 auto;
				&:not(:last-of-type) { padding-right: 1em; }

				&.cc-number { padding-right: 0; }
			}
			.cc-number { flex: 0 0 100%; }
		}
	}

	@include desktop() {
		.cc-security {
			> div { flex: none;
				&.cc-number { padding-right: 1em; }
			}
			.cc-number { flex: 1 1 auto; }
		}
	}
}












