
.google-chart {
	> .chart-container { background-color: #efefef; width: 100%; min-height: 400px; padding: 2px;
		&.is-loading { display: flex; width: 100%; height: 100%; justify-content: center; align-items: center;
			.loader { width: 4em; height: 4em; border-width: 0.5em; border-left-color: #afaeae; border-bottom-color: #afaeae; }
		}
	}
}
