
// $icon-dimensions: 1.5rem !default
// $icon-dimensions-small: 1rem !default
// $icon-dimensions-medium: 2rem !default
// $icon-dimensions-large: 3rem !default


span.icon {
	// span { font-size: 21px; }
	
	&.is-small {
		span { font-size: 14px; }
	}
	&.is-medium {
		span { font-size: 28px; }
	}
	&.is-large {
		span { font-size: 42px; }
	}
}
