
.image-input { display: flex; align-items: center;
	.image { margin-right: 1rem;
		&.is-loading { position: relative;
			.loading-container { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba($black, 0.2); display: flex; align-items: center; justify-content: center;
				&:before { @include loader(); width: 2em; height: 2em; flex: 0 0 2em; }
			}
		}
	}
	.file {
		.file-cta { background-color: transparent; border-color: transparent; min-height: 0; height: auto; min-width: 0; padding: 0; color: $primary;
			&:hover, &:active { text-decoration: underline; }
		}
	}
	.file-input { top: -100px; left: -100px; width: 0.01px; height: 0.01px; }

	label.file-label {
		&:hover {
			.file-cta {}
		}
	}
}
