
.level {
	.level-item {
		&.with-title { flex-direction: column; align-items: flex-start; }
	}

	&.style-filters {
		.level-item { font-size: 0.9rem;
			&:not(:last-child) { margin-right: 0.1rem; }
			&.input-filter { margin-right: 0.5em; }
		}
		.button {
			&.is-link { background-color: transparent; color: $link; font-size: 0.9rem; text-decoration: none; }
		}
		.input { border-radius: 2em; }

		&:not(:last-child) { margin-bottom: 0.5rem; }
	}

	&.style-filters-inline {
		.level-item { font-size: 0.9rem;
			&:not(:last-child) { margin-right: 0.5rem; }
		}
		.button {
			&.is-link { background-color: transparent; height: auto; padding-left: 0; padding-right: 0; color: $link; font-size: 0.9rem; text-decoration: none; vertical-align: inherit;
				&:hover { background-color: transparent; }
			}
		}

		&:not(:last-child)  { margin-bottom: 0.5rem; }
	}

	&.style-action { padding: 0.7em 0; color: $black;
		&:not(:last-child) { margin-bottom: 0.3rem; }
		&:hover, &:active { background-color: $background; color: $link; }
	}

	&.style-input { border-radius: $radius; box-shadow: 0 0 1px 0px rgba($black, 0.1); flex-direction: row; border: 1px solid $input-border-color; padding: 0.7em; color: $black;
		.level-right { padding-left: 2rem;
			.level-item { font-size: 0.7em; color: $input-disabled-color; }
		}

		&:not(:last-child) { margin-bottom: 1rem; }
		&:hover, &:active, &.active { box-shadow: 0 0 1px 0px $app-blue-light; background-color: darken($app-blue-light, 1%); border-color: $input-focus-border-color; color: $link; }

		&.disabled { background-color: $input-disabled-background-color; color: $input-disabled-color; font-style: italic; cursor: not-allowed; }

		// @include desktop() { flex-direction: row; }
	}

	&.style-file-download { border-radius: $radius; box-shadow: 0 0 1px 0px rgba($black, 0.1); border: 1px solid $input-border-color; padding: 0.7em; color: $black;
		.level-left { flex-direction: column; flex: 1 1 auto;
			.level-item { margin-right: 0; font-size: 0.9em;
				&.is-secondary { font-size: 0.7em; color: $input-disabled-color; }
			}
		}

		&:not(:last-child) { margin-bottom: 1rem; }
		&:hover, &:active, &.active { box-shadow: 0 0 1px 0px $app-blue-light; background-color: darken($app-blue-light, 1%); border-color: $input-focus-border-color; color: $link; }
	}

	&.style-support-item { margin-bottom: 0.3rem;
		a { color: $black;
			&:hover {  }
		}

		.is-status { color: $info; font-size: 0.7rem; font-weight: 600; text-transform: uppercase; }
	}

	&.style-contactus-item { padding: 0.4em 0;
		a { color: $black; }

		.level-item {
			&:first-child { margin: 0 0.75rem; }
		}

		&:not(:last-child) { margin-bottom: 0.3rem; }
		&:hover, &:active { background-color: $background; }
	}
}
