
.o-list { position: relative;
	.list-filters { margin-bottom: 0.5rem; }
	.loading {
		&.has-content { position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: flex; background-color: rgba($white, 0.4); flex-direction: column; align-items: center; padding-top: 12%; }
		.loader { width: 2.5em; height: 2.5em; }
	}
	.pagination { padding-bottom: 3em; }
	
	&.style-notification-setting {
		.list-wrapper { flex-direction: column;
			// > .column { flex: 1 1 auto; background-color: gray; }
		}
	}
}
