
.menu {
	
	&.style-usermenu {
		.menu-label { padding-left: 10px; margin-bottom: 0.4em; color: $text; font-size: 0.7em; font-weight: 600; }

		.menu-list { margin-bottom: 20px;
			a { color: $black;
				&:hover, &:active, &.is-active { background-color: $primary; color: $white; }
			}
		}
	}
}