
.modal {
	.modal-card { width: auto; box-shadow: $modal-box-shadow; border-radius: $modal-card-head-radius;
		.modal-card-head { background-color: $modal-card-body-background-color; border-width: 0; padding: 0; justify-content: flex-end;
			.modal-card-title { display: none; }
			.close { flex: 0 0 $modal-close-dimensions; font-size: $modal-close-dimensions; line-height: 1; font-weight: 200; text-align: center; vertical-align: middle; cursor: pointer; transition: all $transition-speed ease-in-out;
				&:hover { color: rgba($black, 0.8); }
			}
		}
		.modal-card-body { padding-top: 0;
			.subtitle { color: $app-gray-medium; font-size: 1rem; margin-bottom: 1rem; }
		}
		.modal-card-foot { padding-top: 0; justify-content: center; background-color: $modal-card-body-background-color; border-width: 0;
			.button { display: flex; flex: auto; }
		}
	}

	&.is-wide {
		@include desktop() {
			.modal-card { min-width: 70%; max-width: 80%; }
		}
	}
}
