// External
@import "../../../node_modules/vue-multiselect/dist/vue-multiselect.min.css";

.multiselect {
	.multiselect__tags { border-radius: $radius; border-color: $input-border-color;
		.multiselect__single { margin: 0; min-height: 0; font-size: 1rem; line-height: 1.5; }
		.multiselect__input { margin-bottom: 0; }
	}
	.multiselect__select { height: 41px; }

	&:hover {
		.multiselect__tags { border-color: $input-hover-border-color; }
	}
	&:focus, &:active, &.is-focused, &.is-active {
		.multiselect__tags { border-color: $input-focus-border-color; }
	}
	.multiselect__content-wrapper { z-index: 3; }

	.multiselect__option { display: flex; flex-direction: row; align-items: center;
		.option__flag { width: 25px; margin-right: 8px; }
	}

	&.contains-preferred {
		.multiselect__option--group { background: olive; }
	}
}
