
.navbar {
	.avatar-photo { border-radius: 50%; width: 100%; height: auto; max-height: none; }

	.has-updates { position: relative; font-size: 21px;
		&:after { position: absolute; top: -27%; right: -14%; content: ""; border-radius: 50%; display: block; background-color: $red; border: 2px solid $white; width: 14px; height: 14px; }
	}
	
	&.is-transparent { background-color: transparent; }


	.has-no-arrow { padding-right: 1rem;
		&:after { display: none; }
	}

	.welcome-message { display: flex; flex-direction: column; align-items: flex-start; padding-top: 0.3rem; padding-bottom: 0.2rem;
		.date { color: $text; font-size: 0.7rem; font-weight: 600; text-transform: uppercase; vertical-align: middle; }
		.msg { font-size: 1.1rem; }
	}

	&.style-main {
		.navbar-brand {
			img { width: 103px; height: 21px; }
		}

		.icon {
			&.is-icon-right { margin-left: 5px; }
		}
	}

	&.style-logo-more { background-color: transparent; border-bottom: 1px solid darken($app-gray-light, 3%);
		.navbar-brand {
			img { width: 103px; height: 21px; }
		}
		@include desktop() { margin-bottom: 15px; }
	}
	
	&.style-user { display: none;
		@include desktop() { display: flex; }
	}

	.navbar-dropdown {
		&.is-right { left: auto; right: 0; }

		&.is-detailed { width: 300px; padding: 0.6em; }
	}
}
