
.notifications {
	.notification { backface-visibility: hidden; transform: translate3d(0, 0, 0); pointer-events: all; margin: 0 1.5em 1em 0; 
		.close { float: none; position: absolute; z-index: 1; top: 0.5em; right: 0.5em; background-color: rgba($black, 0.2); border: none; border-radius: 290486px; display: inline-block; width: 20px; height: 20px; padding: 0; margin: 0; flex-grow: 0; flex-shrink: 0; font-size: $size-normal; line-height: 1.1; text-align: center; cursor: pointer; }
		.wrap-icon { display: none; }
		.title { font-size: 1rem; }
		&.has-icon { padding-left: 1.5rem;

			.title {
				&:before { content: "\f05a"; display: inline-block; padding-right: 0.5rem; color: inherit; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit; }

				&:not(:last-child) { margin-bottom: 0.5rem; }
			}

			&.is-success {
				.title {
					&:before { content: "\f058"; }
				}
			}
			&.is-warning {
				.title {
					&:before { content: "\f071"; }
				}
			}
			&.is-danger {
				.title {
					&:before { content: "\f057"; }
				}
			}
		}
	}
}
