
.payment-systems { display: flex; flex-direction: row;
	.payment-system { background: url('../images/payment-systems_92.png') no-repeat; height: 23px; margin: 0 0.35em;
		&.mastercard { background-position: 0 0; width: 52px; }
		&.visa { background-position: -52px 0; width: 46px; }
		&.jcc { background-position: -98px 0; width: 97px; }
	}

	&.is-single { padding: 1.5em 0.5em 0 0.5em; justify-content: center;
		// .payment-system { margin: 0 0.35em; }
	}
}

.payment-systems-icons {
	> * { margin-left: .25em; font-size: 1.75em; }
}
