
.phone { background: url('../images/phone.png') no-repeat center center; background-size: 237px 469px; display: flex; flex-direction: row; align-items: stretch; justify-content: stretch; flex: 0 0 237px; height: 469px; padding: 74px 22px 78px 33px; margin-bottom: -5rem;
	.screen { display: flex; flex: auto; flex-direction: column;
		.screen-header { display: flex; align-items: center; flex: 0 0 3em; background-color: #7AB7F2; color: $white;
			.title { color: $white; font-size: 1rem; font-weight: 700; }
		}
		.screen-content { display: flex; align-items: stretch; justify-content: stretch; flex: auto; background: $white;
			.inner { overflow: hidden;
				&:hover { overflow: auto; }
			}
		}
	}

	.messages-container { padding-bottom: 0.8em; flex: auto;
		@mixin messageSize($avatarSize, $messagePadding, $fontSize) { padding: $messagePadding $messagePadding*2 0 $messagePadding*2;
			.author-avatar { flex: 0 0 $avatarSize*2; width: $avatarSize*2; height: $avatarSize*2; margin-left: $messagePadding*2;
				> div, > span, & { font-size: $fontSize; }
			}
			.messages {
				> * { border-radius: $avatarSize 0.2em 0.2em $avatarSize; padding: $messagePadding $messagePadding*2; font-size: $fontSize;
					&:first-child { border-radius: $avatarSize $avatarSize 0.2em $avatarSize; }
					&:last-child { border-radius: $avatarSize 0.2em $avatarSize $avatarSize; }

					&:first-child {
						&:last-child { border-radius: $avatarSize; }
					}
				}
			}

			&.is-received {
				.author-avatar { margin-left: 0; margin-right: $messagePadding*2; }
				.messages {
					> * { border-radius: 0.2em $avatarSize $avatarSize 0.2em; padding: $messagePadding $messagePadding*2;
						&:first-child { border-radius: $avatarSize $avatarSize $avatarSize 0.2em; }
						&:last-child { border-radius: 0.2em $avatarSize $avatarSize $avatarSize; }

						&:first-child {
							&:last-child { border-radius: $avatarSize; }
						}
					}
				}
			}
		}
		.announcement { padding: 1.5em 0.2em; color: rgba($grey-dark, 0.75); font-size: 0.55em; font-weight: 700; text-align: center; text-transform: uppercase; }
		.message-group {
			$messageDefaultBG: #F3F9FC;
			$messageIsReceivedBG: #6EBBE2;
			$messageHasAvatarBG: #00BF9C;

			@include messageSize(14px, 0.4em, 0.75em);

			.author-name { padding-top: 0.3em; color: rgba($grey-dark, 0.75); font-size: 0.85em; text-align: right; }
			.message-content { display: flex; flex-direction: row-reverse; align-items: flex-end; }
			.author-avatar { border-radius: 50%; display: flex; align-items: center; justify-content: center; display: none; background-color: $messageDefaultBG; overflow: hidden;
				img { display: block; width: 100%; height: auto; }
				> div, > span { color: $white; text-transform: uppercase; }
			}
			.messages {
				> * { background-color: $messageDefaultBG; margin-top: 0.3em; color: rgba($black, 0.85); line-height: 1.65; }
			}

			&.is-received {
				.author-name { padding-left: 4.5em; text-align: left; }
				.message-content { flex-direction: row; }
				.author-avatar { display: flex; background-color: $messageIsReceivedBG; }
				.messages {
					> * { background-color: $messageIsReceivedBG; color: $white; }
				}
			}

			&.is-important {
				.author-avatar { background-color: $messageHasAvatarBG; }
				.messages {
					> * { background-color: $messageHasAvatarBG; }
				}
			}
		}

		@include tablet() {
			.announcement { padding: 2em 0.2em; font-size: 0.75em; }
			.message-group {
				@include messageSize(20px, 0.5em, 0.9em);
				.messages {
					> * { margin-top: 0.5em; line-height: 1.9; }
				}
			}
		}
	}
}

@include tablet() {
	.phone { background-size: auto; flex: 0 0 395px; height: 782px; padding: 123px 38px 130px 55px; margin-bottom: -8rem; }
}
