$track-color: darken($app-blue-light, 5%) !default;
$thumb-color: $info !default;

$thumb-radius: 6px !default;
$thumb-width: 12px !default;
$thumb-height: 12px !default;
$thumb-border-width: 0 !default;
$thumb-border-color: #eceff1 !default;

$track-radius: 3px !default;
$track-width: 100% !default;
$track-height: 4px !default;
$track-border-width: 0 !default;
$track-border-color: #cfd8dc !default;

$contrast: 5% !default;


@mixin track {
	cursor: pointer;
	height: $track-height;
	transition: all .2s ease;
	width: $track-width;
}

@mixin thumb {
	background: $thumb-color;
	border: $thumb-border-width solid $thumb-border-color;
	border-radius: $thumb-radius;
	cursor: pointer;
	height: $thumb-height;
	width: $thumb-width;
}

[type='range'] {
	-webkit-appearance: none;
	margin: $thumb-height / 2 0;
	width: $track-width;

	&:focus {
		outline: 0;

		&::-webkit-slider-runnable-track {
			background: lighten($track-color, $contrast);
		}

		&::-ms-fill-lower {
			background: $track-color;
		}

		&::-ms-fill-upper {
			background: lighten($track-color, $contrast);
		}
	}

	&::-webkit-slider-runnable-track {
		@include track;
		background: $track-color;
		border: $track-border-width solid $track-border-color;
		border-radius: $track-radius;
	}

	&::-webkit-slider-thumb {
		@include thumb;
		-webkit-appearance: none;
		margin-top: ((-$track-border-width * 2 + $track-height) / 2) - ($thumb-height / 2);
	}

	&::-moz-range-track {
		@include track;
		background: $track-color;
		border: $track-border-width solid $track-border-color;
		border-radius: $track-radius;
	}

	&::-moz-range-thumb {
		@include thumb;
	}

	&::-ms-track {
		@include track;
		background: transparent;
		border-color: transparent;
		border-width: ($thumb-height / 2) 0;
		color: transparent;
	}

	&::-ms-fill-lower {
		background: darken($track-color, $contrast);
		border: $track-border-width solid $track-border-color;
		border-radius: $track-radius * 2;
	}

	&::-ms-fill-upper {
		background: $track-color;
		border: $track-border-width solid $track-border-color;
		border-radius: $track-radius * 2;
	}

	&::-ms-thumb {
		@include thumb;
		margin-top: 0;
	}
}