
.searchbox {
	.input { transition: all 0.3s ease-in-out; border-radius: 1.125rem; box-shadow: none; background-color: $app-gray-light; border-color: $app-gray-light; padding-left: 1.25em;
		&:focus { background-color: $white; border-color: $app-gray-light; /* width: 320px; */ }
	}
	.has-icons-right {
		.icon { color: $black; }
	}
}