
section.section {
	.section-desc {
		.title { font-weight: 700; }
		.description { color: $black;
			strong, b { font-weight: 700; }
		}

		.button {
			&.is-link { background-color: transparent; padding: 0; color: $info; font-weight: 700; text-decoration: none; border-width: 0;
				&:hover, &:active, &:focus { background-color: transparent; text-decoration: underline; }
			}
		}

		.actions { display: flex; margin-top: 60px;
			a { padding: 0 10px; color: $black;
				&:first-of-type { padding-left: 0; }
				&:last-of-type { padding-right: 0; }

				&:hover { text-decoration: underline; }
			}
		}

		form { padding-top: 20px; }

		&.style-light {
			.title { color: $white; }
			.description { color: $white; }

			.button {
				&.is-link { color: $white;
					&:hover, &:active, &:focus { color: $white; }
				}
			}
		}
	}

	// Styles
	&.style-sms-gateway { display: flex; background: url('../images/city.png') no-repeat bottom center #f8fbff; min-height: 600px;
		.container { display: flex; /* align-items: center; */ flex-direction: row; padding-top: 2.50em; padding-bottom: 25.125em; }

		.field {
			&.has-addons {
				.control {
					&:first-child { flex: auto; }
				}
			}
		}

		@include tablet() { background-position: bottom right;
			.container { padding-top: 5em; padding-bottom: 0; }
		}
	}
	&.style-features { padding: 6rem 1.5rem 0 1.5rem;
		.features { padding-top: 15px; }
		a.feature { display: flex; border-radius: 9px; padding: 15px 15px 15px 10px; margin: 5px 0; color: $black;
			.icon { flex: 0 1 3rem; font-size: 1.4rem; padding-top: 13px;
				&.arrow { display: none; flex: 0 1 1.5rem; color: darken($app-blue-light, 10%); height: auto; padding-top: 0; }
			}
			.detail { flex: 1; }

			.name { display: block; font-size: 1.1rem; font-weight: 700; }
			.desc { font-size: 0.8rem; font-weight: 500; }


			&:hover, &:active { background-color: $app-gray-light; color: $black; text-decoration: none; }

			&.is-active { background-color: $app-blue-light;
				.icon {
					&.arrow { display: inline-flex; }
				}
			}
		}
		
		.section-desc {
			.button {
				&.is-link { background-color: transparent; margin: 20px 0 0 22px; }
			}
		}

		.phone-column { display: flex; justify-content: center; align-items: center; flex: 0 0 395px; }
		
	}
	&.style-cost-calculator { background: url('../images/baguette-wannabe.png') no-repeat $info bottom right; padding: 130px 0 0 0; overflow: hidden;
		> .container { display: flex; align-items: stretch; min-height: 450px; padding: 0;
			> .columns { flex: 1;
				.column {
					&.cutout { flex: 0 0 380px; padding: 30px; }
				}
			}
		}

		.section-desc {
			&.style-light { padding: 10px 0 0 40px; }
		}

		.cutout {
			.section-desc {
				.title { margin-bottom: 0; }
				.subtitle { margin: 0.5rem 0 1rem 0; color: $app-gray-medium; font-size: 1rem; line-height: 1.35; }
				.field { margin-bottom: 1.5rem; }
			}
		}

		.price { margin-top: -0.3em; font-size: 0.8rem;
			span { color: $info; font-size: 1.7rem; font-weight: 600; }
		}
	}
	&.style-rest-api { overflow: hidden; padding: 130px 0 0 0; position: relative;
		> .container { display: flex; align-items: stretch; min-height: 370px; padding: 0; }
	}
	&.style-customers { background-color: $app-blue-light;
		.title { text-align: center; }
		
		.customers { padding-top: 20px; text-align: center; }
		.customer { display: inline-block; width: 140px; height: 45px; background: url('../images/customers.png') no-repeat transparent left top;
			&.microsoft { background-position: 0 0; }
			&.soundcloud { background-position: 0 -45px; }
			&.electronic-arts { background-position: 0 -90px; }
			&.shopify { background-position: 0 -135px; }
			&.huge { background-position: 0 -180px; }
		}
	}
}

 