
.o-table {
	thead {
		tr { background-color: $app-blue-light;
			th { font-size: 0.8rem; font-weight: 500; text-transform: uppercase; }
			&:hover { background-color: $app-blue-light; }
		}
	}

	th, td {
		&.is-checkbox { vertical-align: middle; text-align: center;
			.checkbox { vertical-align: middle; }
		}
	}
	th.is-checkbox, th.is-actions, th.is-small { width: 1%; }
	th.is-medium { width: 200px; }

	td {
		&.is-actions { text-align: center;
			.child { display: flex; flex-direction: row; justify-content: center; }
		}
	}

	tbody.no-entries {
		td { vertical-align: middle; text-align: center; color: $app-gray-medium; font-style: italic; }
	}

	&.style-session {
		thead {
			tr { background-color: $white; }
		}

		th { font-weight: 700; }

		table {
			&.is-bordered {
				th, td { border-width: 0 0 1px; }
			}
		}
	}
}
