
.tabs {
	&:not(:last-child) { margin-bottom: 0.5rem; }

	li {
		&.is-active {
			a { border-bottom-width: 2px; font-weight: 500; }
		}
	}

	&.style-in-card { background-color: $app-gray-light; padding-top: 0.4em;
		a { border-radius: 0; border-bottom-width: 4px; margin-bottom: -4px; font-weight: 500; }
		li {
			&.is-active {
				a { border-color: rgba($black, 0.1); border-bottom-width: 4px; color: $black; }
			}
		}
		&:not(:last-child) { margin-bottom: 0; }
	}
}

.tabs-wrapper {
	.tabs { background-color: $app-blue-light; padding: 8px 8px 0 8px; font-weight: 600; margin-bottom: 0;
		li {
			a {
				&:hover { background-color: $white; }
			}
		}
	}
}

.tabs-content { padding: 10px;
	.tab { display: none;
		&.is-active { display: block; }

		pre { white-space: pre-wrap; }
	}
}
