

.tel-input { /* border-radius: 3px; display: flex; border: 1px solid #bbb; text-align: left; */
	// &:focus-within { box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); border-color: #66afe9; }
	

	// input { border: none; border-radius: 0 2px 2px 0; width: 100%; outline: none; padding-left: 7px; }
	
	.dropdown { position: relative; z-index: 1;
		&.open { background-color: #f3f3f3; }
		&:hover { background-color: #f3f3f3; }

		.dropdown-arrow { transform: scaleY(0.5); display: inline-block; color: #666; }
		.dropdown-item { cursor: pointer; padding: 4px 15px;
			&:hover { background-color: #f3f3f3; }
			
			img { width: 25px; margin-right: 5px; }
		}
	}

	.selection { cursor: pointer; display: flex; align-items: center; }
	ul {
		padding: 0;
		margin: 0;
		text-align: left;
		list-style: none;
		max-height: 200px;
		overflow-y: scroll;
		position: absolute;
		top: 33px;
		left: -1px;
		background-color: #fff;
		border: 1px solid #ccc;
		width: 390px;
	}
	.divider { border-bottom: 1px solid #ccc; padding-bottom: 5px; margin-bottom: 5px; }
	.flag { width: 25px; margin-left: 5px; margin-right: 8px; height: 1em; }
	.dropdown-menu.show { max-height: 300px; overflow: scroll; }
}
