<template>
	<div class="field" v-bind:class="{ 'has-meta': showMeta }">
		<label class="label" v-bind:class="{ [sizeClass]: sizeClass }" v-if="label">{{label}}</label>
		<div class="control-wrapper" v-bind:class="{ 'card style-field': showMeta }">
			<template v-if="isDatepicker">
				<o-datepicker
					:options="actualOptions"
					:disabled="shouldDisable"
					@input="handleInputChange"
					:value="propertyValue"
					:placeholder="placeholder"
					:size="sizeClass"
				></o-datepicker>
			</template>
			<template v-else-if="type === 'file'">
				<o-file-input
					v-bind:class="{ 'is-danger': firstError, [sizeClass]: sizeClass, 'is-block': true }"
					:disabled="shouldDisable"
					@input="handleInputChange"
					:value="propertyValue"
					:placeholder="placeholder"
				></o-file-input>
			</template>
			<template v-else-if="type === 'tel-input'">
				<o-tel-input
					:input-class="{ 'is-danger': firstError, [sizeClass]: sizeClass }"
					:name="actualName"
					:disabled="shouldDisable"

					v-validate="validation"

					@input="handleInputChange"

					:placeholder="placeholder"

					:preferred-countries="options && options.preferredCountries ? options.preferredCountries : null"

					ref="input"
				></o-tel-input>
			</template>
			<template v-else-if="type === 'entity-carousel'">
				<entity-carousel
					:entity="entity"
					:options="actualOptions"
					:is-loading="isLoading"
					:value="propertyValue"
					@change="handleInputChange"

					:disabled="shouldDisable"
				></entity-carousel>
			</template>
			<template v-else>
				<div class="control" v-bind:class="{ 'has-icons-left': icon }">
					<template v-if="type === 'multiselect'">
						<multiselect
							:class="{ 'contains-preferred': shouldShowFlags }"
							:placeholder="placeholder"
							:value="selectedOption"
							:options="actualOptions"
							:multiple="multiple"
							:searchable="searchable"
							:allow-empty="allowEmpty"
							@input="handleInputChange"
							:label="optionLabel"
							:track-by="optionTrackBy"
							:loading="isLoading"
							:disabled="shouldDisable"
							:show-labels="false"
							@open="handleOpen"

							:group-label="shouldShowFlags ? 'label' : null"
							:group-values="shouldShowFlags ? 'values' : null"
							:group-select="shouldShowFlags"
						>
							<template slot="option" slot-scope="props" v-if="shouldShowFlags">
								<img class="option__flag" :src="flagUrl(props.option.iso2)" alt="" v-if="props.option.iso2" />
								<span class="option__label">{{props.option.$isLabel ? props.option.$groupLabel : props.option[optionLabel]}}</span>
							</template>
						</multiselect>
					</template>
					<template v-else-if="type === 'select'">
						<span class="select is-fullwidth" v-bind:class="{ 'is-danger': firstError, [sizeClass]: sizeClass, 'is-loading': showLoadingStatus }">
							<select :name="actualName" @input="handleInputChange" :value="propertyValue" :disabled="shouldDisable">
								<option value="" selected v-if="placeholder && allowEmpty">{{placeholder}}</option>
								<option v-for="option in options" v-bind:value="option.id">{{option.name}}</option>
							</select>
						</span>
					</template>
					<template v-else-if="type === 'textarea'">
						<textarea
							:class="{ textarea: true, 'is-danger': firstError, [sizeClass]: sizeClass }"
							:name="actualName"
							:disabled="shouldDisable"

							v-validate="validation"

							@input="handleInputChange"

							:placeholder="placeholder"
							:autocomplete="autocomplete"
							

							ref="input"
						></textarea>
					</template>
					<template v-else-if="type === 'checkbox'">
						<o-checkbox
							:name="actualName"
							:disabled="shouldDisable"
							
							:val="true"

							v-validate="validation"

							@input="handleInputChange"

							ref="input"
						>
							<slot></slot>
						</o-checkbox>
					</template>
					<template v-else>
						<input
							:class="{ input: true, 'is-danger': firstError, [sizeClass]: sizeClass }"

							:type="type"
							:name="actualName"
							:disabled="shouldDisable"
							:pattern="pattern"

							v-validate="validation"

							@input="handleInputChange"

							:placeholder="placeholder"
							:autocomplete="autocomplete"

							ref="input"
						/>
					</template>
					<span class="icon is-small is-left" v-if="icon">
						<span :class="iconClass"></span>
					</span>
					<!-- <span class="icon is-small is-left" v-if="showLoadingStatus">
						<span class="fa fa-circle-o-notch fa-spin fa-fw"></span>
					</span> -->
				</div>
			</template>
			<div class="card-footer" v-if="showMeta">
				<nav class="navbar">
					<div class="navbar-start">
						<div class="navbar-item field-meta">
							<div class="name">Details</div>
							<div class="char-count">
								{{charCountLabel}}
								<span v-if="smsCount"> - {{smsCountLabel}}</span>
							</div>
						</div>
					</div>
					<div class="navbar-end">
						<slot name="actions"></slot>
					</div>
				</nav>
			</div>
		</div>
		<div class="help is-danger" v-if="firstError">{{firstError}}</div>
		<div class="help" v-if="tip">{{tip}}</div>
	</div>
</template>

<script>
	import _ from 'lodash';
	import allCountries from '../../utils/all-countries';
	import locationInfo from '../../utils/location-info';

	import Multiselect from 'vue-multiselect';
	import OFileInput from '../file-input.vue';
	import OTelInput from '../tel-input.vue';
	import ODatepicker from '../datepicker.vue';
	import EntityCarousel from '../entity-carousel.vue';

	export default {
		$_veeValidate: {
			value() {
				// return this.propertyValue;
				return this.$refs.input.value;
			},
			name() {
				return this.actualName;
			}
		},

		name: 'FormField',

		components: {
			Multiselect,
			OFileInput,
			OTelInput,
			ODatepicker,
			EntityCarousel
		},

		props: {
			model: {
				type: Object,
				required: true
			},
			errors: {
				type: [Array, Object]
			},
			validation: {
				type: Object
			},
			property: {
				type: String,
				required: true
			},
			entity: { // needed for entity-carousel.
				type: String
			},
			icon: {
				type: String
			},
			size: {
				type: String
			},
			placeholder: {
				type: String
			},
			type: {
				type: String
			},
			name: {
				type: String
			},
			autocomplete: {
				type: String
			},
			pattern: {
				type: String
			},
			disabled: {
				type: Boolean,
				default: false
			},
			options: {
				type: [Array, Object]
			},
			optionValue: {
				type: String
			},
			optionLabel: {
				type: String
			},
			optionTrackBy: {
				type: String
			},
			propertyIsOptionValue: {
				type: Boolean,
				default: false
			},
			label: {
				type: String
			},
			tip: {
				type: String
			},
			multiple: {
				type: Boolean,
				default: false
			},
			searchable: {
				type: Boolean,
				default: false
			},
			allowEmpty: {
				type: Boolean,
				default: true
			},
			showMeta: {
				type: Boolean,
				default: false
			},
			onChange: {
				type: Function
			},
			actionOnInit: { // if there are no "options" passed in and this is specified, it will trigger this action
				type: String
			},
			actionOnOpen: { // if there are no "options" passed in and this is specified, it will trigger this action
				type: String
			},
			onActionDone: {
				type: Function
			}/*,
			isLoading: {
				type: Boolean,
				default: false
			}*/
		},
		
		mounted() {
			if((this.type === 'multiselect' || this.type === 'select' || this.type === 'entity-carousel') && this.actionOnInit && (!this.options || !this.options.length)) {
				this.triggerAction(this.actionOnInit, 'mounted');
			}

			if(this.shouldShowFlags) {
				locationInfo().then((res) => {
					this.locationCountry = res;
					if(res && !this.propertyValue && res !== this.propertyValue) {
						this._handleInputChange(allCountries.byISO[res.toUpperCase()]);
					}
				});
			}

			if(!this || !this.$refs || !this.$refs.input) {
				return;
			}

			if(this.propertyValue) {
				this.$refs.input.value = this.propertyValue;
			}

			if(!this.shouldFocusOnMount) {
				return;
			}

			this.$nextTick(() => {
				_.delay(() => {
					if(!this || !this.$refs || !this.$refs.input || !this.shouldFocusOnMount || !this.$refs.input.focus) {
						return;
					}
					this.$refs.input.focus();
				}, 20);
			});
		},

		data() {
			return { isLoading: null, locationCountry: null };
		},

		computed: {
			formScope() {
				if(!this.$validator || !this.$validator.flags) {
					return;
				}
				const props = Object.keys(this.$validator.flags);
				if(!props || !props.length) {
					return;
				}
				const formFlagName = _.find(props, (p) => p && p[0] === '$');
				if(!formFlagName) {
					return;
				}

				return formFlagName.replace('$', '');
			},
			validationId() {
				if(!this.formScope) {
					return;
				}
				return this.formScope + '.' + this.actualName;
			},
			firstError() {
			    let property = null;
			    
			    if (this.property === "file") {
			        property = "file_name";
				} else {
			        property = this.property;
				}
				if(this.model && this.errors && this.property && this.errors[property] && this.errors[property].length) {
					return this.errors[property][0];
				}

				if(this.validationId && this.validationErrors.has(this.validationId)) {
					return this.validationErrors.first(this.validationId);
				}
			},
			propertyValue() {
				return this.model[this.property];
			},
			selectedOption() {
				if(!this.propertyIsOptionValue) {
					return this.propertyValue;
				}

				const trackBy = this.optionTrackBy;
				return _.find(this.options, (option) => option[trackBy] === this.propertyValue);
			},
			iconClass() {
				return 'icon-' + this.icon;
			},
			sizeClass() {
				if(!this.size) {
					return;
				}
				return 'is-' + this.size;
			},
			isDatepicker() {
				return this.type === 'datepicker';
			},
			showLoadingStatus() {
				return this.type === 'select' && this.isLoading;
			},
			shouldDisable() {
				return this.disabled || this.showLoadingStatus;
			},
			shouldFocusOnMount() {
				return this.$parent.$children[0] === this; // is first born in the form!
			},
			actualName() {
				return this.name ? this.name : this.property;
			},

			smsCount() {
				const smsMaxCharacterCount = 160; // can be changed if not true!
				return Math.ceil(this.charCount / smsMaxCharacterCount);
			},
			smsCountLabel() {
				const count = this.smsCount;
				return count > 1 || !count ? count + ' SMSs' : count + ' SMS';
			},
			charCount() {
				let currentMessage = "";
				if (this.propertyValue.indexOf("{optout}") !== -1) {
					// app_url/o/u1l12
					let app_domain = window.location.hostname;
				    let optoutUrl = app_domain + "/o/u" + this.model['list_id']['user_id'] + "l" + this.model['list_id']['id'];

				    currentMessage = this.propertyValue.replace("{optout}", optoutUrl);

				    return currentMessage.length;
				}

				return this.propertyValue ? this.propertyValue.length : 0;
			},
			charCountLabel() {
				const count = this.charCount;
				return count > 1 || !count ? count + ' characters' : count + ' character';
			},

			shouldShowFlags() {
				return this.type === 'multiselect' && (this.optionValue === 'iso2' || this.optionTrackBy === 'iso2');
			},
			actualOptions() {
				if(!this.options) {
					return [];
				}

			
				let result = this.options || [];

				if(this.shouldShowFlags) {
					let prefCountries = [];
					if(this.locationCountry) {
						prefCountries.push(this.locationCountry.toLowerCase());
					}
					prefCountries = _.union(prefCountries, ['us', 'gb', 'gr', 'cy']);

					prefCountries = _.compact(_.uniq(result.filter((item) => prefCountries.indexOf(item.iso2.toLowerCase()) !== -1)));

					result = [
						{
							label: 'Quick select',
							values: prefCountries.map((c) => ({ ...c }))
						},
						{
							label: 'Country',
							values: result
						}
					];
				}

				return result;
			}
		},

		watch: {
			propertyValue() {
				let field = this.type === 'tel-input' ? this.$refs.input.$refs.input : this.$refs.input;

				if(!field) {
					return;
				}

				let value = this.propertyValue;
				if(this.propertyIsOptionValue && value) {
					value = value[this.optionTrackBy];
				}
				field.value = value;
			}
		},
		
		methods: {
			flagUrl(iso2) {
				return allCountries.byISO[iso2] && allCountries.byISO[iso2].icon;
			},
			triggerAction(action, type = 'mounted') {
				if(this.isLoading) {
					return;
				}
				this.isLoading = true;
				this.$store.dispatch(action).then(() => {
					this.isLoading = false;
					if(this.onActionDone) {
						this.onActionDone(action, type);
					}
				}).catch((error) => {
					this.isLoading = false;
					throw error;
				});
			},

			_handleInputChange(event) {
				let value = event && event.target ? event.target.value : event;

				if(this.propertyIsOptionValue && value) {
					value = value[this.optionTrackBy];
				}

				this.$emit('input', value);

				if(this.onChange) {
					this.onChange(value);
					return;
				}
				this.model[this.property] = value;
			},

			handleInputChange: _.debounce(function(event) { // cannot use arrow function because context is different
				this._handleInputChange(event);
			}, 100),

			_handleOpenChange() {
				if(this.actionOnOpen && (!this.options || !this.options.length)) {
					this.triggerAction(this.actionOnOpen, 'open');
				}
			},

			handleOpen: _.debounce(function(event) { // cannot use arrow function because context is different
				this._handleOpenChange(event);
			}, 200),

			clearValue() {
				this._handleInputChange(null);
			}
		}
	}
</script>