<template>
	<form v-on:submit.prevent="onSubmit" v-bind:class="{ card: asCard, 'style-stats': asCard, ['style-' + formStyle]: !!formStyle }" :data-vv-scope="formScope">
		<template v-if="asCard">
			<div class="card-content">
				<component :is="formComponentName" :model="model" :errors="errors" v-if="formComponentName && formComponentExists"></component>
				<slot></slot>
			</div>
			<div class="card-footer">
				<slot name="footer"></slot>
				<div class="card-footer-item" v-if="allowSubmit">
					<div class="field">
						<div class="control">
							<button type="submit" class="button is-info" :disabled="shouldDisableSubmit">
								<span class="icon" v-if="actualSubmitIcon">
									<span v-bind:class="actualSubmitIcon"></span>
								</span>
								<span v-if="actualSubmitLabel">{{actualSubmitLabel}}</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</template>
		<template v-if="!asCard">
			<component :is="formComponentName" :model="model" :errors="errors" v-if="formComponentName && formComponentExists"></component>
			<slot></slot>
			<template v-if="allowSubmit">
				<br v-if="formStyle !== 'inline'" />
				<div class="field">
					<div class="control">
						<button type="submit" class="button is-primary" v-bind:class="{ 'is-loading': isSubmitting }" :disabled="shouldDisableSubmit">
							<span class="icon" v-if="actualSubmitIcon">
								<span v-bind:class="actualSubmitIcon"></span>
							</span>
							<span v-if="actualSubmitLabel">{{actualSubmitLabel}}</span>
						</button>
					</div>
				</div>
			</template>
		</template>
	</form>
</template>

<script>
	import _ from 'lodash';

	import ListFormAdd from '../entity/list/form/add.vue';
	import ListFormEdit from '../entity/list/form/edit.vue';
	import ListFormDetail from '../entity/list/form/detail.vue';

	import ContactFormAdd from '../entity/contact/form/add.vue';
	import ContactFormEdit from '../entity/contact/form/edit.vue';
	import ContactFormImport from '../entity/contact/form/import.vue';

	import TemplateFormAdd from '../entity/template/form/add.vue';
	import TemplateFormAddInline from '../entity/template/form/add-inline.vue';
	import TemplateFormEdit from '../entity/template/form/edit.vue';

	import UserFormBasic from '../entity/user/form/basic.vue';
	import UserFormBusiness from '../entity/user/form/business.vue';
	import UserFormPassword from '../entity/user/form/password.vue';

	import SmsFormSend from '../entity/sms/form/send.vue';
	import SmsFormSubmit from '../entity/sms/form/submit.vue';

	import ShortlinkFormAdd from '../entity/shortlink/form/add.vue';

	import PaymentMethodFormAddFunds from '../entity/payment-method/form/add-funds.vue';
	import PaymentMethodFormPaypal from '../entity/payment-method/form/paypal.vue';
	import PaymentMethodFormCreditCard from '../entity/payment-method/form/credit-card.vue';
	import PaymentMethodFormBankTransfer from '../entity/payment-method/form/bank-transfer.vue';

	import ReportFormDetail from '../entity/report/form/detail.vue';
	import ReportFormDownloadLinks from '../entity/report/form/download-links.vue';

	import PaymentFormDetail from '../entity/payment/form/detail.vue';

	export default {
		name: 'OForm',

		components: {
			ListFormAdd,
			ListFormEdit,
			ListFormDetail,

			ContactFormAdd,
			ContactFormEdit,
			ContactFormImport,

			TemplateFormAdd,
			TemplateFormAddInline,
			TemplateFormEdit,

			UserFormBasic,
			UserFormBusiness,
			UserFormPassword,

			SmsFormSend,
			SmsFormSubmit,

			ShortlinkFormAdd,

			PaymentMethodFormAddFunds,
			PaymentMethodFormPaypal,
			PaymentMethodFormCreditCard,
			PaymentMethodFormBankTransfer,
			
			ReportFormDetail,
			ReportFormDownloadLinks,

			PaymentFormDetail
		},

		props: {
			entity: {
				type: String,
				required: true
			},
			model: {
				type: Object,
				required: true
			},
			mode: {
				type: String,
				default: 'edit'
			},
			allowSubmit: {
				type: Boolean,
				default: true
			},
			disableSubmit: {
				type: Boolean,
				default: false
			},
			asCard: {
				type: Boolean,
				default: false
			},
			formStyle: {
				type: String
			},
			submitIcon: {
				type: String,
				default: 'icon-check'
			},
			submitLabel: {
				type: String
			}
		},
		
		mounted() {
			// console.log(this.mode, this.entity);
		},

		data() {
			return { errors: [], isSubmitting: null };
		},

		computed: {
			actualSubmitIcon() {
				if(this.mode === 'download') {
					return 'icon-cloud-download';
				}
				return this.submitIcon;
			},
			formComponentName() {
				return this.entity + '-form-' + this.mode;
			},
			formComponentExists() {
				return this.formComponentName in this.$options.components || _.upperFirst(_.camelCase(this.formComponentName)) in this.$options.components ;
			},
			formScope() {
				return this.formComponentName;
			},
			entityLabel() {
				const entityLabel = this.entity.replace(/\./, ' ').split('-').map(_.upperFirst).join(' ');
				return entityLabel.indexOf('password') !== -1 || entityLabel.indexOf('basic') !== -1 || entityLabel.indexOf('business') !== -1 ? 'Settings' : entityLabel;
			},
			modeLabel() {
				const modeLabels = {
					add: 'Add',
					edit: 'Save',
					import: 'Import',
					download: 'Download',
					basic: 'Save',
					business: 'Save',
					password: 'Save',
					def: 'Add'
				};
				return modeLabels[this.mode] ? modeLabels[this.mode] : modeLabels.def;
			},
			actualSubmitLabel() {
				if(!_.isUndefined(this.submitLabel)) {
					return this.submitLabel;
				}

				if(this.entity === 'sms' && this.mode !== 'add') {
					return 'Send messages';
				}
				
				if(this.entity === 'payment-method' && this.mode === 'credit-card') {
					return 'Purchase';
				}

				if(this.entity === 'payment-method' && this.mode === 'bank-transfer') {
					return 'Payment sent';
				}

				if(this.entity === 'payment-method' && this.mode === 'add-funds') {
					return 'Proceed';
				}
				if(this.entity === 'report' && this.mode === 'download') {
					return this.modeLabel;
				}
				if(this.entity === 'user') {
					return this.modeLabel;
				}
				if(this.mode === 'import') {
					return this.modeLabel;
				}

				return this.modeLabel + ' ' + this.entityLabel;
			},
			shouldDisableSubmit() {
				return !this.formComponentExists || !this.allowSubmit || !!this.disableSubmit;
			}
		},
		
		methods: {
			setErrors(error) {
				let result = {};
				if(!error) {
					this.errors = {};
					return;
				}
				if(error) {
					if(error.response && error.response.data) {
						if(error.response.data.errors && error.response.status === 422) {
							this.errors = error.response.data.errors;

							// if(this.model && this.errors && !this.model.file_name && this.model.file && this.errors.file_name) {
							// 	this.errors.file = this.errors.file_name;
							// 	this.errors.file_name = null;
							// }
						} else {
							this.errors = {};
							if(error.response.data.message) {
								this.$notify.danger({ title: 'Oops!', content: error.response.data.message });
							}
						}
					} else {
						this.$notify.danger({ title: 'Oops!', content: error.message });
					}
				}
			},
			onSubmit() {
				if(this.shouldDisableSubmit) {
					return;
				}
				this.isSubmitting = true;
				let entity = this.entity;
				let mode = this.mode;

				mode = mode.replace('-inline', '');

				if(entity === 'user' && ['basic', 'password', 'business'].indexOf(mode) !== -1) {
					entity = _.camelCase(entity + '_' + mode);
					mode = 'edit';
				}

				if(entity === 'sms' && mode === 'submit') {
					mode = 'send';
				}

				let entityName = _.upperFirst(_.camelCase(entity));
				mode = mode === 'edit' ? 'update' : _.camelCase(mode);

				let actionName = mode + entityName;

				const validator = this.$validator.validate(this.formScope + '.*');

				console.log(actionName, this.model);

				if (actionName === "updateContact") {
				    this.model.id = this.model.id + "_list_id_" + this.model.list_id;
				}

				console.log(this.model)
				validator.then((isValid) => {
					if(!isValid) {
						this.isSubmitting = false;
						return;
					}
					// should dispatch an [mode][Entity] action ... 
					this.$emit('before-submit', actionName, this.model);
					this.$store.dispatch(actionName, this.model).then((response) => {
						this.isSubmitting = false;
						this.setErrors(null);						
						let successMessage = _.words(entityName).join(' ') + ' updated!';

						if(mode === 'bank-transfer') {
							successMessage = 'We will verify and credit the amount into your account. You will receive an email, once the balance credited';
						}

						if(mode === 'send') {
							successMessage = entityName.toUpperCase() + ' sent!';
						}
						if(mode === 'import') {
							successMessage = _.words(entityName).join(' ') + 's imported!';
						}

                        if(entity === 'contact' && mode === 'import') {
                            successMessage = "Your contacts importing started, we will email you when finished";
                        }

						if(entity === 'user' && mode === 'business') {
							successMessage = 'Business Address updated!';
						}
                                                if(entity === 'payment-method' && mode === 'creditCard') {
                                                       successMessage = 'Fund added successfully!';
                                                }
						this.$notify.success({ title: 'Success!', content: successMessage });
						this.$emit('on-submit-success', this.model, response);
					}).catch((error) => { // well .. if it fails .....
						this.isSubmitting = false;
						this.setErrors(error);
						this.$emit('on-submit-error', this.errors, this.model);
					});
				});
			}
		}
	}
</script>
