<script>
	export default {
		// name: 'TableBody',
		props: {
			columns: Array,
			data: Array,
			checkable: Boolean,
			showIndex: Boolean,
			state: {
				type: Object,
				default() {}
			}
		},
		data() {
			return { };
		},
		computed: {
			cols() {
				return this.$parent.columns;
			}
		},
		methods: {
			handleToggleSelect(row, isSelect, index) {
				this.$parent.handleSelectedChange(row, isSelect, index);
			}
		},
		created() {

		},
		render(h) {// eslint-disable-line
			const pagination = this.state.pagination;
			const selectedRowKeys = this.state.selectedRowKeys;
			const rowKey = this.$parent.rowKey;
			return (
				<tbody>
					{
						this._l(this.data, (row, $index) => {
							const key = row[rowKey] ? row[rowKey] : `1-${$index}`;
							const checked = selectedRowKeys.indexOf(key) >= 0;
							return (
								<tr>
									{
										this.checkable ? <td class="is-checkbox"><checkbox checked={checked} key={key} change={value => this.handleToggleSelect(row, value, $index)} /></td> : ''
									}
									{
										this.showIndex ? <td>{$index + 1}</td> : ''
									}
									{this._l(this.cols, (column, cellIndex) => {
										if(!column.visible) {
											return null;
										}
										const classes = column.cellClass ? column.cellClass : '';
										return (
											<td key={`${$index}${cellIndex}`} class={`${classes}`}>
												{column.renderCell.call(this._renderProxy, h, { row, column, $index, store: this.store, _self: this.context || this.$parent.$vnode.context })}
											</td>
										);
									})}
								</tr>
							);
						})
					}
				</tbody>
			);
		}
	};
</script>
