<script>
	export default {
		// name: 'TableHeader',
		props: {
			columns: Array,
			checkable: Boolean,
			showIndex: Boolean,
			state: {
				type: Object,
				default() {}
			}
		},

		computed: {
			cols() {
				return this.$parent.columns;
			},
		},

		methods: {
			handleToggleSelectAll(isCheck) {
				this.$parent.handleToggleSelectAll(isCheck);
			}
		},

		render(h) {// eslint-disable-line
			const state = this.state;
			const checked = this.$parent.isCheckAll();
			return (
				<thead>
					<tr>
						{
							this.checkable ? <th class="is-checkbox"><checkbox checked={checked} change={value => this.handleToggleSelectAll(value)}/></th> : ''
						}
						{
							this.showIndex ? <th style="width: 1%;">#</th> : ''
						}
						{
							this._l(this.cols, (column, cellIndex) => {
								if(!column.visible) {
									return null;
								}
								const classes = 'sortable' + (column.headerClass ? ' ' + column.headerClass : '');
								let sorterEl = '';
								let sortClass = 'sort';
								if (column.sorter) {
									if (state.sortKey === column.field && state.reverse) {
										sortClass = 'sort-desc';
									} else if (state.sortKey === column.field && !state.reverse) {
										sortClass = 'sort-asc';
									}
									sorterEl = <span class={`sort-trigger ${sortClass}`}><i class={`fa fa-${sortClass}`}></i></span>;
								}
								const style = column.width ? 'width: ' + column.width : null;
								return (
									<th key={cellIndex}
											class={classes}
											style={style}
											onClick={this.$parent.handleToggleSort.bind(this, column)}>
										<span>{column.label}</span>
										{sorterEl}
									</th>
								);
							})
						}
					</tr>
				</thead>
			);
		},
	};
</script>
