<template>
	<div class="o-table">
		<slot></slot>
		<table class="table" :class="extraClasses">
			<o-table-header :state="state" :checkable="checkable" :showIndex="showIndex"></o-table-header>
			<o-table-body :state="state" :checkable="checkable" :data="showData" :showIndex="showIndex"></o-table-body>
			<tbody class="no-entries" v-if="showNoEntries">
				<tr>
					<td :colspan="columns.length">No entries...</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>

<script>
	import Utils from '../../utils';

	import OTableHeader from './header.vue';
	import OTableBody from './body.vue';
	import OTableColumn from './column.vue';

	export default {
		name: 'OTable',

		components: {
			OTableHeader,
			OTableBody,
			OTableColumn
		},

		props: {
			data: {
				type: Array
			},
			change: {
				type: Function,
				default() {}
			},
			checkable: {
				type: Boolean,
				default: false
			},
			showIndex: {
				type: Boolean
			},
			onSelectChange: {
				type: Function,
				default() {}
			},
			onSelectAll: {
				type: Function,
				default() {}
			},
			rowKey: {
				type: String
			},
			extraClasses: {
				type: String,
				default: 'is-bordered is-hoverable is-fullwidth'
			},
			noEntries: {
				type: Boolean,
				default: false
			}
		},

		computed: {
			showNoEntries() {
				// return !this.showData || !this.showData.length;
				return this.noEntries;
			}
		},

		data() {
			return {
				state: {
					sortKey: '',
					reverse: '',
					selectedRows: [],
					selectedRowKeys: []
				},
				cols: [],
				columns: [],
				selected: [],
				isTable: true,
				interData: [],
				showData: []
			};
		},

		watch: {
			columns(newVal) {
				// console.log(newVal);
			},
			data(val) {
				this.interData = val;
				this.handleReorganizeData();
			},
		},

		methods: {
			// calcColumnWidth() {
			// 	let width = this.$el.offsetWidth;
			// 	let length = this.columns.length;

			// 	if(this.checkable) {
			// 		width -= 40;
			// 		this.cols.push(40);
			// 	}

			// 	if(this.showIndex) {
			// 		width -= 40;
			// 		this.cols.push(40);
			// 	}

			// 	this.columns.forEach((column) => {
			// 		if(column.width) {
			// 			width -= column.width;
			// 			length -= 1;
			// 		}
			// 	});
			// 	const avgWidth = Math.floor(width / length);

			// 	this.columns.forEach((column) => {
			// 		if(column.width) {
			// 			this.cols.push(column.width);
			// 		} else {
			// 			this.cols.push(this.height ? avgWidth : '');
			// 		}
			// 	});
			// },

			handleToggleSort(column) {
				if(!column.sorter || !column.field) {
					return;
				}

				this.state.sortKey = column.field;
				this.state.reverse = !this.state.reverse;

				if(Utils.isFunction(column.sorter) || column.sorter === 'custom') {
					this.interData = _.sortBy(this.interData, column.field);
					if(this.state.reverse) {
						this.interData.reverse();
					}
				}
				this.handleTableChange();
			},

			handleInitTable() {},

			handleTableChange() {
				this.change(this.state);
				this.handleReorganizeData();
			},

			handleReorganizeData() {
				this.showData = this.interData;
			},

			handleSelectedChange(row, isSelect, index) {
				let key = row[this.rowKey];
				if(!key) {
					key = `1-${index}`;
				}
				const isExist = this.state.selectedRowKeys.indexOf(key) >= 0;
				if(isSelect && !isExist) {
					this.state.selectedRowKeys.push(key);
					this.state.selectedRows.push(row);
				}
				if(!isSelect && isExist) {
					const selectedIndex = this.state.selectedRowKeys.indexOf(key);
					this.state.selectedRows.splice(selectedIndex, 1);
					this.state.selectedRowKeys.splice(selectedIndex, 1);
				}

				this.onSelectChange(this.state.selectedRowKeys, this.state.selectedRows);
			},

			handleToggleSelectAll(isCheck) {
				if(isCheck) {
					this.showData.forEach((row, index) => {
						const key = row[this.rowKey] ? row[this.rowKey] : `1-${index}`;
						const isExist = this.state.selectedRowKeys.indexOf(key) >= 0;
						if(!isExist) {
							this.state.selectedRowKeys.push(key);
							this.state.selectedRows.push(row);
						}
					});
				} else {
					this.showData.forEach((row, index) => {
						const key = row[this.rowKey] ? row[this.rowKey] : `1-${index}`;
						const selectedIndex = this.state.selectedRowKeys.indexOf(key);
						if(selectedIndex >= 0) {
							this.state.selectedRows.splice(selectedIndex, 1);
							this.state.selectedRowKeys.splice(selectedIndex, 1);
						}
					});
				}

				this.onSelectChange(this.state.selectedRowKeys, this.state.selectedRows);
			},

			isCheckAll() {
				const checkedAll = this.showData.some((row, index) => {
					const key = row[this.rowKey] ? row[this.rowKey] : `1-${index}`;
					return this.state.selectedRowKeys.indexOf(key) < 0;
				});
				return !checkedAll;
			},

			handleRefresh() {
				this.state = {
					sortKey: '',
					reverse: '',
					selectedRows: [],
					selectedRowKeys: [],
				};
				this.interData = this.data;
				this.handleTableChange();
			}
		},
		created() {
			this.interData = this.data;
		},
		mounted() {
			// this.calcColumnWidth();
			this.handleReorganizeData();
		}
	};
</script>
