<template>
	<div>
		<form-field :model="model" property="name" :errors="errors" type="text" icon="layers" placeholder="Template name"></form-field>
	</div>
</template>

<script>
	export default {
		props: {
			model: {
				type: Object,
				required: true
			},
			errors: {
				type: [Array, Object]
			}
		},

		data() {
			return { };
		}
	}
</script>
