<template>
	<div>
		<form-field
			:model="model"
			property="name"
			:errors="errors"
			:validation="{ required: true }"
			type="text"
			icon="layers"
			placeholder="Template name"
		></form-field>
		<form-field
			:model="model"
			property="messages"
			:errors="errors"
			type="textarea"
			placeholder="Message here ?"
		></form-field>
	</div>
</template>

<script>
	export default {
		props: {
			model: {
				type: Object,
				required: true
			},
			errors: {
				type: [Array, Object]
			}
		},

		data() {
			return { };
		}
	}
</script>
